---
---

@charset "utf-8";

$red: #D73F3F;
$red-light: #FFEDED;
$orange: #FAA71E;
$tan: #F0EFEF;
$blue-dark: #2C3038;
$blue-grey: #68707F;
$blue-light: #929DB3;
$grey-light: #E1E0E0;

$black: $blue-dark;
$white: #FFF;

$border-color: #E1E0E0;

$font-default: 'Archivo', sans-serif;
$font-headline: 'Barlow Condensed', sans-serif;

$screen-xs: 798px;
$screen-sm: 1022px;
$screen-md: 1278px;

$default-border-radius: 2px;

$default-box-shadow: 0px 2px 10px rgba(0,0,0,.1);
$hover-box-shadow: 0px 2px 15px rgba(0,0,0,.2);


// Tint and shade mixins

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}


@import
  "reset",
  "fonts",
  "base"
;

.module-image {
  display: block;
  background-color: #ffffff;
}
