.btn-gray{
	background: $lightgrey;
	border-radius: 15px;
	border-bottom: $middlegrey 1px solid;
	color: $darkgrey;
	font-size: 13px;
	font-weight:bold;
	padding: 5px 12px;
	text-decoration: none;
	&:hover{
		text-decoration:none;
		background: $middlegrey;
		color:$white;
	}
}
