.btn-gray{
	background: $lightgray;
	border-radius: 15px;
	border-bottom: $middlegray 1px solid;
	color: $darkgray;
	font-size: 13px;
	font-weight:bold;
	padding: 5px 12px;
	text-decoration: none;
	&:hover{
		text-decoration:none;
		background: $middlegray;
		color:$white;
	}
}
