h1 {
	font-family: $font-serif;
	font-weight: bold;
	font-size: 30px;
}

h2 {
	font-family: $font-serif;
	font-weight: bold;
	font-size: 30px;
}

h3 {
	font-family: $font-sans-serif;
	font-weight: bold;
	font-size: 20px;
}

h4 {
	font-family: $font-sans-serif;
	font-weight: bold;
	font-size: 18px;
}
