h1 {
	font-family: $font-serif;
	font-weight: bold;
	font-size: 26px;
}

h2 {
	font-family: $font-serif;
	font-weight: bold;
	font-size: 18px;
}

h3 {
	font-family: $font-sans-serif;
	font-weight: bold;
	font-size: 16px;
}

h4 {
	font-family: $font-sans-serif;
	font-weight: bold;
	font-size: 14px;
}
