* {
  border: none;
}

body {
  background-color: $white;
  font-family: $font-sans-serif;
  line-height: 150%;
  font-size: $font-size-normal;
}

a {
  color: $red;
	text-decoration: none;
}

h1, h2 {
	font-family: $font-serif;
	font-size: $font-size-biggest;
	margin: 40px 0;
  img {
		margin-left: 10px;
	}
}

h3 {
	font-family: $font-serif;
	font-weight: normal;
	font-size: $font-size-bigger;
	line-height: 120%;
	margin: 20px 0 10px 0;
}

h4 {
	font-family: $font-sans-serif;
	font-weight: bold;
	font-size: $font-size-big;
	margin: 10px 0;
}

h5 {
  font-size: 1.3em;
	margin: 9px 0 6px 0;
}

img, media {
  max-width: 100%;
  height: auto;
}
