/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000329}}
.l-header,
.l-main {
  *zoom: 1;
  max-width: 790px;
  _width: 790px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.l-header:after,
.l-main:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000335}}
.l-footer {
  *zoom: 1;
  max-width: 790px;
  _width: 790px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.l-footer:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000342}}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar {
  margin-bottom: 20px;
}

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000349}}
  .l-header,
  .l-main,
  .l-footer {
    max-width: 790px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000354}}
  .l-branding {
/*    width: 32.20339%; */
    float: left;
    margin-right: 1.69492%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000357}}
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000360}}
  .l-region--navigation {
    clear: both;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000366}}
  .sidebar .l-content,
  .two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000369}}
  .sidebar .l-region--sidebar,
  .two-sidebars .l-region--sidebar {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000378}}
  .l-header,
  .l-main,
  .l-footer {
    max-width: 790px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000383}}
  .l-branding {
/*    width: 36.70886%; */
    float: left;
    margin-right: 1.26582%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000386}}
  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000391}}
  .sidebar .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/felix\/Sites\/hot\/sites\/default\/themes\/hot\/sass\/layouts\/hotty\/hotty\.layout\.scss}line{font-family:\0000394}}
  .sidebar .l-region--sidebar {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }
}
