---
title: Guidelines
position: 0
layout: default
---

<div class="container news-index">

  <header class="news-index-header">
    <h1>Guidelines</h1>
  </header>

  <div class="news-index-body">
    <div class="news-index-sidebar">

      {% for post in site.guidelines %}

        <div class="news-index-item first">

          <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>

          <div class="news-list-image">
            {% if post['Feature Image'] %}
              <a href="{{ post.url }}"><img class="news-feature-image" src="{{ post['Feature Image'] }}"></a>
            {% endif %}
          </div>

          <div class="news-list-summary">

            <div class="news-list-meta">
              {% capture post.Person %}{% endcapture %}
                {% assign author = site.people | where: "title", post.Person | first %}
                {% if post.Person %}
                  <p class="news-index-author">{{ author.title }}</p>
              {% endif %}
              <p class="news-index-date">{{ post.date | date: '%e %B, %Y' }}</p>
              {% if post.Country != '' %}
                <p class="news-index-country">
                  {% for country in post.Country %}
                    {% if country != '' %}
                      {{ country }}{% unless forloop.last %},{% endunless %}
                    {% else %}
                      Global
                    {% endif %}
                  {% endfor %}
                </p>
              {% endif %}
            </div>

            <div class="news-list-summary-text">
              <p>{{ post['Summary Text']}}</p>
            </div>
          </div>

        </div>

      {% endfor %}

    </div>
  </div>

</div>
