# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/settings.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore caches
cache/*

 Patch/diff artifacts.
 *.patch
 *.diff
 *.orig
 *.rej
 interdiff*.txt

# emacs artifacts.
*~
\#*\#

# VI swap file
*.swp

# Hidden files.
.DS*
.project

# Windows links.
*.lnk

# Temporary files.
tmp*

