api = 2
core = 7.x

libraries[openlayers][download][type] = "file"
libraries[openlayers][download][url] = http://github.com/openlayers/openlayers/releases/download/release-2.13.1/OpenLayers-2.13.1.zip
libraries[openlayers][directory_name] = openlayers
libraries[openlayers][destination] = "libraries"
