@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/OpenSans-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../fonts/OpenSans-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya'), local('Alegreya-Regular'), url(../fonts/Alegreya-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Bold'), local('Alegreya-Bold'), url(../fonts/Alegreya-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 300;
  src: local('Alegreya Italic'), local('Alegreya-Italic'), url(../fonts/Alegreya-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Bold Italic'), local('Alegreya-BoldItalic'), url(../fonts/Alegreya-BoldItalic.ttf) format('truetype');
}

$font-sans-serif: "Open Sans", Arial, sans-serif;
$font-serif: "Alegreya", "Times New Roman", "Times", serif;

$font-size-smaller: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-big: 19px;
$font-size-bigger: 26px;
$font-size-biggest: 30px;
