#edit-options-view-edit {
  margin: 15px 0px;
  background-color: #F3F4EE;
  padding: 5px;
}

#edit-options-view-edit .description {
  display: inline-block;
  margin-left: 5px;
}

#edit-options-view-edit a {
  margin: 0px 2px;
}

#edit-options-view-edit a em {
  font-size: 1.1em;
  font-weight: bold;
}
