// Import external libraries.
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "compass";

// Import variables, abstractions, base styles and components.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";


* {
  border: none;
}

body {
  background-color: $white;
  font-family: $font-sans-serif;
  line-height: 150%;
  font-size: $font-size-normal;
}

a {
  color: $red;
}

.l-header,
.l-main {
  margin: 0 auto;
  width: 80%;
  clear: both;
}


.l-navigation,
.l-highlighted {
  clear: both;
  width: 100%;
}

.l-region--navigation,
.l-navigation-toggle,
#block-block-1,
.l-region--footer {
  margin: 0 auto;
  width: 80%;
}
