/**
 * @file
 * CSS file for OpenLayers dark theme.
 *
 * We include the default styles, then add
 * some specificity to override certain elements
 * like image references.
 */

@import url("openlayers_style.css");

.openlayers-map .olControlOverviewMapExtentRectangle {
    background-image: url("img/blank.gif");
}
.openlayers-map .olControlZoomPanel div {
    background-image: url("img/zoom-panel.png");
}
.openlayers-map .olControlNavToolbar div,
.openlayers-map .olControlEditingToolbar div {
    background-image: url("img/editing_tool_bar.png");
}

/**
 * A few custom styles
 */
.openlayers-popup {
  color: #EEEEEE;
}
.olImageLoadError,
.openlayers-map .olImageLoadError {
  background-color: transparent;
}

/**
 * CSS fix, see #1646646
 */
label.olButton {
  display: inline;
}

.openlayers-container {
    position: relative;
}

/**
 * The following are images that are not in
 * this theme (but should be).
 */

/*

.openlayers-map .olControlOverviewMapRectReplacement {
    background-image: url("img/overview_replacement.gif");
}
.openlayers-map .olControlNavigationHistory {
    background-image: url("img/navigation_history.png");
}
.openlayers-map div.olControlSaveFeaturesItemActive {
    background-image: url("img/save_features_on.png");
}
div.olControlSaveFeaturesItemInactive {
    background-image: url("img/save_features_off.png");
}
.openlayers-map .olControlPanPanel div {
    background-image: url("img/pan-panel.png");
}
.openlayers-map .olPopupCloseBox {
    background: url("img/close.gif") no-repeat scroll 0 0 transparent;
}


*/
