@import "compass";

.form-item.form-item-omega-conditional-comments-html-options,
.form-item.form-item-omega-viewport-widget-minimal,
.omega-settings-container {
  border: 1px solid #ccc;
  margin-left: 18px;
  margin-bottom: 12px;
  padding: 9px 18px;
  background-color: #f2f2f2;
}

.fieldset-description {
  margin-bottom: 15px;
}

div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset {
  border: 1px solid #ccc;
  padding: 2.5em 0 0 0;
  margin: 1em 0;

  legend {
    display: block;
  }
}

ul.omega-assets-namespace-tokens {
  .description {
    margin-top: 0;
  }

  .item-list & {
    @include no-bullets;
    @include reset-box-model;

    li {
      margin-bottom: 14px;
    }
  }
}

.omega-assets-missing-files {
  color: #8c2e0b;
  margin: 1em 0 1em 1.5em;

  h3 {
    font-size: .9em;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.omega-layout-selection-wrapper {
  margin-bottom: 20px;
  min-height: 75px;
  position: relative;

  .form-item {
    label.option,
    div.description {
      padding-left: 80px;
    }
  }

  img {
    height: 75px;
    width: 64px;
    position: absolute;
    top: 8px;
    margin-left: 1.5em;
  }
}

.form-item.form-item-omega-requirements {
  border: 1px solid #ed541d;
  color: #8c2e0b;
  background-color: #fef5f1;
  margin: 6px 0 16px;
  padding: 10px;
}
