/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/


.l-header {
  padding: 25px 0px 20px;
  height: 60px;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", Georgia, "Book Antiqua", "Times New Roman", "Times", serif;
}

.l-branding {
  float: left;
}

.l-region--navigation {
  clear: none !important;
  margin-top: 0px;
}

.l-region--header > div {
  float: right;
}

body.sidebar-present .l-content {
  width: 510px;
  float: left;
}

.l-region--sidebar {
  width: 260px;
  float: right;
  padding: 0;
}

.l-region--help {
  clear: both;
  margin-top: -50px;
  float: right;
}

#footer-wrapper {
  color: #fff;
  padding: 20px 10px 0 0;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  background: #de1743;
  .l-footer {
    background: url('../images/hot_footer.jpg') no-repeat 0 50px;
    padding: 20px 0;
    a {
      color: #fff;
      font-weight: bold;
      font-size: 11px;
    }
    h4 {
      font-weight: normal;
      font-size: 14px;
    }
  }
  #block-menu-block-hot-core-1--2 {
    margin-left: 40px;
    float: left;
    width: 200px;
    .menu {
      float: none;
      li {
        display: block;
      }
    }
  }
  #block-block-2 {
    li {
      display: block;
      width: 150px;
      padding: 20px;
      float: left;
    }
    a {
      background: #ad1636;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      padding: 10px 20px 8px 20px;
      border-bottom: 2px solid #a30f30;
      display: block;
      margin-top: 12px;
    }
  }
  #block-block-3 {
    clear:both;
    margin-left: 55px;
    li {
      list-style-type: none;
      display: inline;
    }

  }
  #block-system-user-menu {
    clear: both;
  }
}


body.not-front {
  .l-region--sidebar {
    margin-top: 55px;
  }
}


#block-locale-language {
  h2,
  .locale-untranslated {
    display: none;
  }
  ul {
    padding: 0;
    margin: -8px 0 0 0;
  }
  li {
    margin-bottom: 10px;
    float:left;
    list-style-type: none;
    font-family: Arial, sans-serif;
    font-size: 11px;
    a {
      padding: 3px 5px;
      color: #999;
    }
    a.active {
      color: #333;
    }
  }

}
