@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans"), local("OpenSans"), url(../fonts/OpenSans.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../fonts/OpenSans-Italic.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(../fonts/OpenSans-BoldItalic.woff) format("woff"); }
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya"), local("Alegreya-Regular"), url(../fonts/Alegreya-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Bold"), local("Alegreya-Bold"), url(../fonts/Alegreya-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 300;
  src: local("Alegreya Italic"), local("Alegreya-Italic"), url(../fonts/Alegreya-Italic.ttf) format("truetype"); }
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: local("Alegreya Bold Italic"), local("Alegreya-BoldItalic"), url(../fonts/Alegreya-BoldItalic.ttf) format("truetype"); }
/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_buttons.scss */
.btn-gray {
  background: #e0e0e0;
  border-radius: 15px;
  border-bottom: #989898 1px solid;
  color: #333333;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 12px;
  text-decoration: none; }
  /* line 10, ../sass/base/_buttons.scss */
  .btn-gray:hover {
    text-decoration: none;
    background: #989898;
    color: #ffffff; }

/* line 18, ../sass/base/_buttons.scss */
.button, input[type=submit], .more-link a {
  background-color: #989898;
  display: block;
  padding: 10px;
  text-align: center;
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: 10pt; }

/* line 29, ../sass/base/_buttons.scss */
.button {
  margin: 10px auto; }

/* line 33, ../sass/base/_buttons.scss */
a.button:hover, input[type=submit]:hover, .more-link:hover a {
  color: #ffffff;
  background-color: #333333; }

/* line 1, ../sass/base/_forms.scss */
input[type=text] {
  border: #989898;
  padding: 10px;
  font-size: 10pt;
  margin: 10px 0; }

/* line 1, ../sass/base/_headings.scss */
h1, h2 {
  font-family: "Alegreya", "Times New Roman", "Times", serif;
  font-size: 30px;
  margin: 40px 0; }
  /* line 5, ../sass/base/_headings.scss */
  h1 img, h2 img {
    margin-left: 10px; }

/* line 10, ../sass/base/_headings.scss */
h3 {
  font-family: "Alegreya", "Times New Roman", "Times", serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 120%;
  margin: 30px 0 10px 0; }

/* line 18, ../sass/base/_headings.scss */
h4 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0; }

/* line 1, ../sass/base/_helpers.scss */
.hidden {
  display: none; }

/* line 1, ../sass/base/_lists.scss */
a {
  text-decoration: none; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%;
  height: auto; }

/* line 1, ../sass/components/_footer.scss */
footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: both;
  background-color: #e0e0e0;
  margin-top: 50px;
  padding: 30px 0; }
  /* line 7, ../sass/components/_footer.scss */
  footer h2.block__title {
    margin: 0 auto;
    font-size: 10pt;
    font-weight: bold;
    font-family: "Open Sans", Arial, sans-serif; }
    @media (min-width: 961px) {
      /* line 7, ../sass/components/_footer.scss */
      footer h2.block__title {
        max-width: 200px; } }
  /* line 18, ../sass/components/_footer.scss */
  footer .block {
    margin: 30px 0;
    text-align: center;
    clear: both; }
  /* line 24, ../sass/components/_footer.scss */
  footer .button {
    margin: 10px auto;
    max-width: 170px; }
  /* line 29, ../sass/components/_footer.scss */
  footer input[type=submit] {
    margin: 10px auto; }
  /* line 36, ../sass/components/_footer.scss */
  footer #block-mailchimp-signup-hot-newsletter h2.block__title {
    margin: 0 auto; }
  /* line 41, ../sass/components/_footer.scss */
  footer #block-mailchimp-signup-hot-newsletter .mailchimp-signup-subscribe-form > div > div, footer #block-mailchimp-signup-hot-newsletter .mailchimp-signup-subscribe-form > div > input {
    margin-right: -4px;
    display: inline-block;
    vertical-align: top; }
  /* line 47, ../sass/components/_footer.scss */
  footer #block-mailchimp-signup-hot-newsletter .mailchimp-signup-subscribe-form > div .form-item, footer #block-mailchimp-signup-hot-newsletter .mailchimp-signup-subscribe-form > div .form-actions {
    margin: 0; }
  @media (min-width: 961px) {
    /* line 34, ../sass/components/_footer.scss */
    footer #block-mailchimp-signup-hot-newsletter {
      width: 22.85714%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; } }
  @media (min-width: 961px) {
    /* line 59, ../sass/components/_footer.scss */
    footer #block-block-7 {
      width: 22.85714%;
      float: left;
      margin-right: -100%;
      margin-left: 25.71429%;
      clear: none; } }
  @media (min-width: 961px) {
    /* line 66, ../sass/components/_footer.scss */
    footer #block-block-8 {
      width: 22.85714%;
      float: left;
      margin-right: -100%;
      margin-left: 51.42857%;
      clear: none; } }
  /* line 74, ../sass/components/_footer.scss */
  footer #block-block-9 img {
    margin-top: 20px; }
  @media (min-width: 961px) {
    /* line 73, ../sass/components/_footer.scss */
    footer #block-block-9 {
      width: 22.85714%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }
  /* line 83, ../sass/components/_footer.scss */
  footer #block-block-4 {
    margin: 20px 0;
    text-align: center;
    font-size: 9pt; }
  /* line 92, ../sass/components/_footer.scss */
  footer #block-system-user-menu h2 {
    display: none; }
  /* line 95, ../sass/components/_footer.scss */
  footer #block-system-user-menu ul, footer #block-system-user-menu li {
    list-style-type: none;
    list-style-image: none; }
  /* line 101, ../sass/components/_footer.scss */
  footer #block-system-user-menu {
    margin: 0 auto; }
    /* line 103, ../sass/components/_footer.scss */
    footer #block-system-user-menu a {
      color: #333333;
      font-size: 9pt; }

/* line 2, ../sass/components/_header.scss */
header .l-branding {
  margin: 30px 0 20px 0; }
  @media (min-width: 961px) {
    /* line 2, ../sass/components/_header.scss */
    header .l-branding {
      width: 48.57143%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; } }
@media (min-width: 961px) {
  /* line 9, ../sass/components/_header.scss */
  header .l-region--header {
    width: 48.57143%;
    float: left;
    margin-right: -100%;
    margin-left: 42.85714%;
    clear: none;
    margin-top: 30px; } }
/* line 16, ../sass/components/_header.scss */
header .site-name {
  display: none; }
/* line 21, ../sass/components/_header.scss */
header #block-lang-dropdown-language {
  float: right; }
  @media (min-width: 961px) {
    /* line 21, ../sass/components/_header.scss */
    header #block-lang-dropdown-language {
      width: 14.28571%;
      float: left;
      margin-right: -100%;
      margin-left: 77.14286%;
      clear: none; } }
  /* line 27, ../sass/components/_header.scss */
  header #block-lang-dropdown-language h2 {
    display: none; }
  /* line 30, ../sass/components/_header.scss */
  header #block-lang-dropdown-language select {
    background: #e0e0e0;
    color: #000000;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 6px;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    width: 70px !important; }
/* line 49, ../sass/components/_header.scss */
header #block-block-3 {
  width: 48.57143%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }
  /* line 51, ../sass/components/_header.scss */
  header #block-block-3 li {
    display: inline;
    margin: 0; }
  @media (min-width: 961px) {
    /* line 49, ../sass/components/_header.scss */
    header #block-block-3 {
      width: 48.57143%;
      float: left;
      margin-right: -100%;
      margin-left: 34.28571%;
      clear: none; }
      /* line 58, ../sass/components/_header.scss */
      header #block-block-3 li {
        margin: 0 6px; } }

@media (min-width: 961px) {
  /* line 2, ../sass/components/_highlighted.scss */
  .front .l-highlighted {
    margin-top: -41px; } }
/* line 9, ../sass/components/_highlighted.scss */
.l-highlighted #block-views-project-projects-featured-block {
  overflow: hidden;
  position: relative; }
  /* line 14, ../sass/components/_highlighted.scss */
  .l-highlighted #block-views-project-projects-featured-block img {
    width: 100%; }
  @media (min-width: 961px) {
    /* line 9, ../sass/components/_highlighted.scss */
    .l-highlighted #block-views-project-projects-featured-block {
      height: 450px; }
      /* line 20, ../sass/components/_highlighted.scss */
      .l-highlighted #block-views-project-projects-featured-block img {
        top: 25%;
        transform: translateY(-25%);
        z-index: -10;
        position: absolute; } }
  /* line 28, ../sass/components/_highlighted.scss */
  .l-highlighted #block-views-project-projects-featured-block .views-field-field-subtitle {
    margin: 0 auto;
    margin-top: 40px;
    width: 80%; }
    @media (min-width: 961px) {
      /* line 28, ../sass/components/_highlighted.scss */
      .l-highlighted #block-views-project-projects-featured-block .views-field-field-subtitle {
        margin-top: 80px; } }
    /* line 36, ../sass/components/_highlighted.scss */
    .l-highlighted #block-views-project-projects-featured-block .views-field-field-subtitle > div {
      background-color: #d73f3f;
      color: #ffffff;
      font-weight: bold;
      font-size: 9pt;
      margin-bottom: 15px;
      padding: 5px 10px; }
      @media (min-width: 961px) {
        /* line 36, ../sass/components/_highlighted.scss */
        .l-highlighted #block-views-project-projects-featured-block .views-field-field-subtitle > div {
          width: 300px; } }
  /* line 50, ../sass/components/_highlighted.scss */
  .l-highlighted #block-views-project-projects-featured-block .views-field-body {
    font-size: 9pt;
    margin: 0 auto;
    width: 80%; }
    /* line 56, ../sass/components/_highlighted.scss */
    .l-highlighted #block-views-project-projects-featured-block .views-field-body h3 {
      font-size: 24px;
      font-weight: bold;
      margin: 10px 0 20px 0; }
    @media (min-width: 961px) {
      /* line 63, ../sass/components/_highlighted.scss */
      .l-highlighted #block-views-project-projects-featured-block .views-field-body > div {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px;
        width: 300px; } }
/* line 73, ../sass/components/_highlighted.scss */
.l-highlighted #block-block-1 {
  border-top: solid 2px #d73f3f;
  border-bottom: solid 2px #d73f3f;
  padding: 20px;
  margin: 30px auto;
  text-align: center;
  font-size: 1.3em;
  line-height: 1.3em; }

/* line 4, ../sass/components/_homepage.scss */
body.front #block-block-6 {
  clear: both;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
  /* line 9, ../sass/components/_homepage.scss */
  body.front #block-block-6 ul li {
    text-align: center;
    margin-bottom: 50px; }
  /* line 14, ../sass/components/_homepage.scss */
  body.front #block-block-6 h2 {
    text-align: center !important; }
  @media (min-width: 961px) {
    /* line 21, ../sass/components/_homepage.scss */
    body.front #block-block-6 ul li:nth-of-type(1) {
      width: 31.42857%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 24, ../sass/components/_homepage.scss */
    body.front #block-block-6 ul li:nth-of-type(2) {
      width: 31.42857%;
      float: left;
      margin-right: -100%;
      margin-left: 34.28571%;
      clear: none; }
    /* line 27, ../sass/components/_homepage.scss */
    body.front #block-block-6 ul li:nth-of-type(3) {
      width: 31.42857%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }
/* line 35, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .first-news-element {
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  padding: 0 4px; }
  /* line 39, ../sass/components/_homepage.scss */
  body.front #block-views-updates-updates-all-block .first-news-element h3 {
    padding: 20px 0 10px 0;
    margin: 0; }
/* line 44, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .views-field-title-field.first-news-element {
  margin-top: -200px; }
/* line 48, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .views-field-created.first-news-element {
  font-style: italic;
  padding-bottom: 6px; }
/* line 52, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .views-field-body.first-news-element {
  padding-bottom: 6px; }
/* line 55, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .views-field-view-node.first-news-element {
  padding-bottom: 50px; }
/* line 60, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .attachment .views-field-created {
  font-style: italic;
  margin-bottom: 6px; }
/* line 64, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .attachment .views-field-body {
  margin-bottom: 6px; }
/* line 69, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .view-content img {
  width: 100%;
  height: auto; }
/* line 74, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .more-link {
  margin: 10px 0; }
/* line 82, ../sass/components/_homepage.scss */
body.front #block-block-5 {
  margin-top: 56px; }
  /* line 84, ../sass/components/_homepage.scss */
  body.front #block-block-5 #twitter-widget-0 {
    width: 100% !important; }
@media (min-width: 961px) {
  /* line 90, ../sass/components/_homepage.scss */
  body.front #block-views-updates-updates-all-block {
    width: 65.71429%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: both; }
  /* line 95, ../sass/components/_homepage.scss */
  body.front #block-block-5 {
    width: 31.42857%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 961px) {
  /* line 2, ../sass/components/_navigation.scss */
  .l-navigation {
    height: 40px; }

  /* line 5, ../sass/components/_navigation.scss */
  .front .l-navigation {
    background-color: rgba(255, 255, 255, 0.7); } }
/* line 10, ../sass/components/_navigation.scss */
.l-navigation {
  position: relative;
  z-index: 99;
  margin-top: 20px;
  background-color: #e0e0e0;
  border-bottom: solid #d73f3f 2px;
  width: 100%; }
  /* line 19, ../sass/components/_navigation.scss */
  .l-navigation #navigation-toggle {
    background: #989898;
    color: #000000;
    padding: 6px;
    font-size: 9pt;
    font-weight: bold;
    width: 70px !important;
    text-decoration: none; }
    @media (min-width: 961px) {
      /* line 19, ../sass/components/_navigation.scss */
      .l-navigation #navigation-toggle {
        display: none; } }
  /* line 35, ../sass/components/_navigation.scss */
  .l-navigation #block-menu-block-hot-core-1 .block__title {
    display: none; }
  /* line 39, ../sass/components/_navigation.scss */
  .l-navigation #block-menu-block-hot-core-1 ul.menu {
    display: block;
    font-family: "Alegreya", "Times New Roman", "Times", serif;
    list-style-type: none;
    list-style-image: none; }
    @media (min-width: 961px) {
      /* line 39, ../sass/components/_navigation.scss */
      .l-navigation #block-menu-block-hot-core-1 ul.menu {
        position: absolute; } }
    /* line 50, ../sass/components/_navigation.scss */
    .l-navigation #block-menu-block-hot-core-1 ul.menu li {
      padding: 10px 20px 10px 0px;
      border-bottom: solid 1px #989898;
      list-style-type: none;
      list-style-image: none; }
      @media (min-width: 961px) {
        /* line 50, ../sass/components/_navigation.scss */
        .l-navigation #block-menu-block-hot-core-1 ul.menu li {
          float: left;
          border-bottom: none; } }
    /* line 62, ../sass/components/_navigation.scss */
    .l-navigation #block-menu-block-hot-core-1 ul.menu li.last {
      border-bottom: none; }
  /* line 67, ../sass/components/_navigation.scss */
  .l-navigation #block-menu-block-hot-core-1 a {
    font-size: 1.1em;
    text-decoration: none;
    color: #000000; }
  /* line 72, ../sass/components/_navigation.scss */
  .l-navigation #block-menu-block-hot-core-1 a:hover {
    color: #d73f3f; }

/* line 14, ../sass/hot-theme.styles.scss */
* {
  border: none; }

/* line 18, ../sass/hot-theme.styles.scss */
body {
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 150%;
  font-size: 10pt; }

/* line 25, ../sass/hot-theme.styles.scss */
a {
  color: #d73f3f; }

/* line 29, ../sass/hot-theme.styles.scss */
.l-header,
.l-main {
  margin: 0 auto;
  width: 80%;
  clear: both; }

/* line 37, ../sass/hot-theme.styles.scss */
.l-navigation,
.l-highlighted {
  clear: both;
  width: 100%; }

/* line 43, ../sass/hot-theme.styles.scss */
.l-region--navigation,
.l-navigation-toggle,
#block-block-1,
.l-region--footer {
  margin: 0 auto;
  width: 80%; }

/*# sourceMappingURL=hot-theme.styles.css.map */
