@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans"), local("OpenSans"), url(../fonts/OpenSans.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../fonts/OpenSans-Italic.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(../fonts/OpenSans-BoldItalic.woff) format("woff"); }
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya"), local("Alegreya-Regular"), url(../fonts/Alegreya-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Bold"), local("Alegreya-Bold"), url(../fonts/Alegreya-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 300;
  src: local("Alegreya Italic"), local("Alegreya-Italic"), url(../fonts/Alegreya-Italic.ttf) format("truetype"); }
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: local("Alegreya Bold Italic"), local("Alegreya-BoldItalic"), url(../fonts/Alegreya-BoldItalic.ttf) format("truetype"); }
/* line 2, ../sass/abstractions/_layout.scss */
.l-header,
.l-main {
  margin: 0 auto;
  width: 80%;
  clear: both; }

/* line 8, ../sass/abstractions/_layout.scss */
.l-navigation,
.l-highlighted {
  clear: both;
  width: 100%; }

/* line 13, ../sass/abstractions/_layout.scss */
.l-region--navigation,
.l-navigation-toggle,
#block-block-1,
.l-region--footer {
  margin: 0 auto;
  width: 80%; }

/* line 21, ../sass/abstractions/_layout.scss */
.messages {
  margin: 10px auto;
  width: 80%; }

/* line 29, ../sass/abstractions/_layout.scss */
.l-main .hot-two-column-layout .view-content .views-field-field-images,
.l-main .hot-two-column-layout .view-content .views-field-field-image {
  height: 205px; }
@media (min-width: 961px) {
  /* line 35, ../sass/abstractions/_layout.scss */
  .l-main .hot-two-column-layout .view-content div.views-row:nth-child(odd) {
    width: 47.05882%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: both; }
  /* line 38, ../sass/abstractions/_layout.scss */
  .l-main .hot-two-column-layout .view-content div.views-row:nth-child(even) {
    width: 47.05882%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

/* line 49, ../sass/abstractions/_layout.scss */
.hot-three-column-layout .l-main .view-content .views-field-field-images,
.hot-three-column-layout .l-main .view-content .views-field-field-image,
.page-get-involved-disaster-mapping .l-main .view-content .views-field-field-images,
.page-get-involved-disaster-mapping .l-main .view-content .views-field-field-image {
  height: 180px; }
  @media (min-width: 961px) {
    /* line 49, ../sass/abstractions/_layout.scss */
    .hot-three-column-layout .l-main .view-content .views-field-field-images,
    .hot-three-column-layout .l-main .view-content .views-field-field-image,
    .page-get-involved-disaster-mapping .l-main .view-content .views-field-field-images,
    .page-get-involved-disaster-mapping .l-main .view-content .views-field-field-image {
      height: 125px; } }
@media (min-width: 961px) {
  /* line 62, ../sass/abstractions/_layout.scss */
  .hot-three-column-layout .l-main .panel-display .pane-project-panel-pane-projects-latest-disaster,
  .page-get-involved-disaster-mapping .l-main .panel-display .pane-project-panel-pane-projects-latest-disaster {
    width: 29.41176%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: both; }
  /* line 65, ../sass/abstractions/_layout.scss */
  .hot-three-column-layout .l-main .panel-display .pane-project-panel-pane-projects-latest-community,
  .page-get-involved-disaster-mapping .l-main .panel-display .pane-project-panel-pane-projects-latest-community {
    width: 29.41176%;
    float: left;
    margin-right: -100%;
    margin-left: 35.29412%;
    clear: none; }
  /* line 68, ../sass/abstractions/_layout.scss */
  .hot-three-column-layout .l-main .panel-display .pane-project-panel-pane-projects-latest-technical,
  .page-get-involved-disaster-mapping .l-main .panel-display .pane-project-panel-pane-projects-latest-technical {
    width: 29.41176%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 72, ../sass/abstractions/_layout.scss */
  .hot-three-column-layout .l-main .pane-project-panel-pane-projects,
  .hot-three-column-layout .l-main .pane-project-panel-pane-projects-old,
  .page-get-involved-disaster-mapping .l-main .pane-project-panel-pane-projects,
  .page-get-involved-disaster-mapping .l-main .pane-project-panel-pane-projects-old {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: both; }
    /* line 76, ../sass/abstractions/_layout.scss */
    .hot-three-column-layout .l-main .pane-project-panel-pane-projects li.views-row:nth-child(3n+1),
    .hot-three-column-layout .l-main .pane-project-panel-pane-projects-old li.views-row:nth-child(3n+1),
    .page-get-involved-disaster-mapping .l-main .pane-project-panel-pane-projects li.views-row:nth-child(3n+1),
    .page-get-involved-disaster-mapping .l-main .pane-project-panel-pane-projects-old li.views-row:nth-child(3n+1) {
      width: 29.41176%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: both; }
    /* line 79, ../sass/abstractions/_layout.scss */
    .hot-three-column-layout .l-main .pane-project-panel-pane-projects li.views-row:nth-child(3n+2),
    .hot-three-column-layout .l-main .pane-project-panel-pane-projects-old li.views-row:nth-child(3n+2),
    .page-get-involved-disaster-mapping .l-main .pane-project-panel-pane-projects li.views-row:nth-child(3n+2),
    .page-get-involved-disaster-mapping .l-main .pane-project-panel-pane-projects-old li.views-row:nth-child(3n+2) {
      width: 29.41176%;
      float: left;
      margin-right: -100%;
      margin-left: 35.29412%;
      clear: none; }
    /* line 82, ../sass/abstractions/_layout.scss */
    .hot-three-column-layout .l-main .pane-project-panel-pane-projects li.views-row:nth-child(3n+3),
    .hot-three-column-layout .l-main .pane-project-panel-pane-projects-old li.views-row:nth-child(3n+3),
    .page-get-involved-disaster-mapping .l-main .pane-project-panel-pane-projects li.views-row:nth-child(3n+3),
    .page-get-involved-disaster-mapping .l-main .pane-project-panel-pane-projects-old li.views-row:nth-child(3n+3) {
      width: 29.41176%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }

/* line 91, ../sass/abstractions/_layout.scss */
.l-main .view-header {
  margin-bottom: 50px; }
/* line 95, ../sass/abstractions/_layout.scss */
.l-main .views-row {
  margin-bottom: 50px; }
/* line 99, ../sass/abstractions/_layout.scss */
.l-main .panel-pane .view-header {
  margin-bottom: 25px; }
/* line 103, ../sass/abstractions/_layout.scss */
.l-main .view-content .views-field-field-images,
.l-main .view-content .views-field-field-image {
  height: 300px;
  overflow: hidden;
  position: relative; }
  /* line 108, ../sass/abstractions/_layout.scss */
  .l-main .view-content .views-field-field-images img,
  .l-main .view-content .views-field-field-image img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

/* line 1, ../sass/base/_buttons.scss */
.btn-gray {
  background: #e0e0e0;
  border-radius: 15px;
  border-bottom: #989898 1px solid;
  color: #333333;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 12px;
  text-decoration: none; }
  /* line 10, ../sass/base/_buttons.scss */
  .btn-gray:hover {
    text-decoration: none;
    background: #989898;
    color: #ffffff; }

/* line 18, ../sass/base/_buttons.scss */
.button, input[type=submit], .more-link a {
  background-color: #989898;
  display: block;
  padding: 10px;
  text-align: center;
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: 13px; }

/* line 29, ../sass/base/_buttons.scss */
.button {
  margin: 10px auto; }

/* line 33, ../sass/base/_buttons.scss */
a.button:hover, input[type=submit]:hover, .more-link:hover a {
  color: #ffffff;
  background-color: #333333; }

/* line 1, ../sass/base/_forms.scss */
input[type=text], input[type=password] {
  border: #989898 1px solid;
  padding: 10px;
  font-size: 13px;
  margin: 10px 0; }

/* line 1, ../sass/base/_helpers.scss */
.hidden {
  display: none; }

/* line 1, ../sass/base/_standards.scss */
* {
  border: none; }

/* line 5, ../sass/base/_standards.scss */
body {
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 150%;
  font-size: 13px; }

/* line 12, ../sass/base/_standards.scss */
a {
  color: #d73f3f;
  text-decoration: none; }

/* line 17, ../sass/base/_standards.scss */
h1, h2 {
  font-family: "Alegreya", "Times New Roman", "Times", serif;
  font-size: 30px;
  margin: 40px 0; }
  /* line 21, ../sass/base/_standards.scss */
  h1 img, h2 img {
    margin-left: 10px; }

/* line 26, ../sass/base/_standards.scss */
h3 {
  font-family: "Alegreya", "Times New Roman", "Times", serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 120%;
  margin: 20px 0 10px 0; }

/* line 34, ../sass/base/_standards.scss */
h4 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0; }

/* line 41, ../sass/base/_standards.scss */
h5 {
  font-size: 1.3em;
  margin: 9px 0 6px 0; }

/* line 46, ../sass/base/_standards.scss */
img, media {
  max-width: 100%;
  height: auto; }

/* line 51, ../sass/base/_standards.scss */
table {
  width: 100%;
  margin: 50px 0; }
  /* line 54, ../sass/base/_standards.scss */
  table th {
    padding: 10px;
    font-weight: bold; }
  /* line 58, ../sass/base/_standards.scss */
  table td {
    padding: 10px; }

/* line 65, ../sass/base/_standards.scss */
.node__content ol li, .node ol li {
  list-style-type: decimal;
  margin-left: 15px; }
/* line 69, ../sass/base/_standards.scss */
.node__content ul li, .node ul li {
  list-style-type: circle;
  margin-left: 15px; }
/* line 74, ../sass/base/_standards.scss */
.node__content p, .node p {
  margin: 10px 0 !important; }

/* line 79, ../sass/base/_standards.scss */
.node__content .styled-list li {
  margin-bottom: 50px;
  text-align: center;
  list-style-type: none; }
  /* line 84, ../sass/base/_standards.scss */
  .node__content .styled-list li p {
    text-align: left; }

/* line 2, ../sass/components/_blocks.scss */
#block-block-2 {
  margin-top: 50px; }
  /* line 5, ../sass/components/_blocks.scss */
  #block-block-2 ul li {
    text-align: center;
    margin-bottom: 50px; }
  @media (min-width: 961px) {
    /* line 2, ../sass/components/_blocks.scss */
    #block-block-2 {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: both; }
      /* line 12, ../sass/components/_blocks.scss */
      #block-block-2 li:nth-child(1) {
        width: 29.41176%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: both; }
      /* line 15, ../sass/components/_blocks.scss */
      #block-block-2 li:nth-child(2) {
        width: 29.41176%;
        float: left;
        margin-right: -100%;
        margin-left: 35.29412%;
        clear: none; }
      /* line 18, ../sass/components/_blocks.scss */
      #block-block-2 li:nth-child(3) {
        width: 29.41176%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }

/* line 27, ../sass/components/_blocks.scss */
#block-mailchimp-signup-hot-newsletter h2.block__title {
  margin: 0 auto; }
/* line 31, ../sass/components/_blocks.scss */
#block-mailchimp-signup-hot-newsletter input[type=text] {
  border: none; }
/* line 36, ../sass/components/_blocks.scss */
#block-mailchimp-signup-hot-newsletter .mailchimp-signup-subscribe-form > div > div, #block-mailchimp-signup-hot-newsletter .mailchimp-signup-subscribe-form > div > input {
  margin-right: -4px;
  display: inline-block;
  vertical-align: top; }
/* line 42, ../sass/components/_blocks.scss */
#block-mailchimp-signup-hot-newsletter .mailchimp-signup-subscribe-form > div .form-item, #block-mailchimp-signup-hot-newsletter .mailchimp-signup-subscribe-form > div .form-actions {
  margin: 0; }

/* line 3, ../sass/components/_book-pages.scss */
.page-node-7 .node__content h2,
.page-node-7 .node__content ol {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: both; }
/* line 9, ../sass/components/_book-pages.scss */
.page-node-7 li h1, .page-node-7 li h2, .page-node-7 li h3, .page-node-7 li h4, .page-node-7 li h5 {
  text-align: left; }
@media (min-width: 961px) {
  /* line 15, ../sass/components/_book-pages.scss */
  .page-node-7 .node__content ul {
    margin-bottom: 50px; }
    /* line 18, ../sass/components/_book-pages.scss */
    .page-node-7 .node__content ul li:nth-child(2n+1) {
      width: 47.05882%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: both; }
    /* line 21, ../sass/components/_book-pages.scss */
    .page-node-7 .node__content ul li:nth-child(2n+2) {
      width: 47.05882%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
  /* line 27, ../sass/components/_book-pages.scss */
  .page-node-7 ol li:nth-child(3n+1) {
    width: 29.41176%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: both; }
  /* line 30, ../sass/components/_book-pages.scss */
  .page-node-7 ol li:nth-child(3n+2) {
    width: 29.41176%;
    float: left;
    margin-right: -100%;
    margin-left: 35.29412%;
    clear: none; }
  /* line 33, ../sass/components/_book-pages.scss */
  .page-node-7 ol li:nth-child(3n+3) {
    width: 29.41176%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

/* line 44, ../sass/components/_book-pages.scss */
.node-type-book.page-node-260 p {
  margin: 10px 0; }
/* line 47, ../sass/components/_book-pages.scss */
.node-type-book.page-node-260 iframe {
  width: 100%; }
/* line 51, ../sass/components/_book-pages.scss */
.node-type-book.page-node-260 .hot-two-column-layout {
  margin: 50px 0; }
  @media (min-width: 961px) {
    /* line 56, ../sass/components/_book-pages.scss */
    .node-type-book.page-node-260 .hot-two-column-layout div:nth-of-type(1) {
      width: 47.05882%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: both; }
    /* line 59, ../sass/components/_book-pages.scss */
    .node-type-book.page-node-260 .hot-two-column-layout div:nth-of-type(2) {
      width: 47.05882%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; } }

/* line 71, ../sass/components/_book-pages.scss */
.node-type-book.page-node-370 .panel-pane,
.page-get-involved-disaster-mapping .panel-pane {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: both; }
/* line 75, ../sass/components/_book-pages.scss */
.node-type-book.page-node-370 h1,
.page-get-involved-disaster-mapping h1 {
  margin: 40px 0 15px 0; }
/* line 81, ../sass/components/_book-pages.scss */
.node-type-book.page-node-370 .node__content .field--name-body > div > div > div,
.page-get-involved-disaster-mapping .node__content .field--name-body > div > div > div {
  margin-bottom: 50px; }
/* line 84, ../sass/components/_book-pages.scss */
.node-type-book.page-node-370 .node__content .field--name-body > div > div .page-icon,
.page-get-involved-disaster-mapping .node__content .field--name-body > div > div .page-icon {
  text-align: center; }
@media (min-width: 961px) {
  /* line 92, ../sass/components/_book-pages.scss */
  .node-type-book.page-node-370 .node__content .field--name-body .page-icon,
  .page-get-involved-disaster-mapping .node__content .field--name-body .page-icon {
    width: 29.41176%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: both; }
  /* line 95, ../sass/components/_book-pages.scss */
  .node-type-book.page-node-370 .node__content .field--name-body .page-description,
  .page-get-involved-disaster-mapping .node__content .field--name-body .page-description {
    width: 64.70588%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 98, ../sass/components/_book-pages.scss */
  .node-type-book.page-node-370 .node__content .field--name-body .page-first-item,
  .page-get-involved-disaster-mapping .node__content .field--name-body .page-first-item {
    width: 47.05882%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: both; }
  /* line 101, ../sass/components/_book-pages.scss */
  .node-type-book.page-node-370 .node__content .field--name-body .page-last-item,
  .page-get-involved-disaster-mapping .node__content .field--name-body .page-last-item {
    width: 47.05882%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
/* line 108, ../sass/components/_book-pages.scss */
.node-type-book.page-node-370 .node__content ol,
.page-get-involved-disaster-mapping .node__content ol {
  margin: 10px 0 10px 20px;
  font-size: 1.3em;
  line-height: 1.8em; }
/* line 114, ../sass/components/_book-pages.scss */
.node-type-book.page-node-370 .node__content ul,
.page-get-involved-disaster-mapping .node__content ul {
  margin-top: 25px; }
  /* line 117, ../sass/components/_book-pages.scss */
  .node-type-book.page-node-370 .node__content ul li,
  .page-get-involved-disaster-mapping .node__content ul li {
    list-style-type: none;
    clear: both;
    margin-bottom: 20px; }
    /* line 122, ../sass/components/_book-pages.scss */
    .node-type-book.page-node-370 .node__content ul li img,
    .page-get-involved-disaster-mapping .node__content ul li img {
      float: left;
      padding-right: 10px; }

/* line 1, ../sass/components/_footer.scss */
footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: both;
  background-color: #e0e0e0;
  margin-top: 50px;
  padding: 30px 0; }
  /* line 7, ../sass/components/_footer.scss */
  footer h2.block__title {
    margin: 0 auto;
    font-size: 13px;
    font-weight: bold;
    font-family: "Open Sans", Arial, sans-serif; }
    @media (min-width: 961px) {
      /* line 7, ../sass/components/_footer.scss */
      footer h2.block__title {
        max-width: 200px; } }
  /* line 18, ../sass/components/_footer.scss */
  footer .block {
    margin: 30px 0;
    text-align: center;
    clear: both; }
  /* line 24, ../sass/components/_footer.scss */
  footer .button {
    margin: 10px auto;
    max-width: 170px; }
  /* line 29, ../sass/components/_footer.scss */
  footer input[type=submit] {
    margin: 10px auto; }
  @media (min-width: 961px) {
    /* line 34, ../sass/components/_footer.scss */
    footer #block-mailchimp-signup-hot-newsletter {
      width: 20.58824%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; } }
  @media (min-width: 961px) {
    /* line 42, ../sass/components/_footer.scss */
    footer #block-block-7 {
      width: 20.58824%;
      float: left;
      margin-right: -100%;
      margin-left: 26.47059%;
      clear: none; } }
  @media (min-width: 961px) {
    /* line 49, ../sass/components/_footer.scss */
    footer #block-block-8 {
      width: 20.58824%;
      float: left;
      margin-right: -100%;
      margin-left: 52.94118%;
      clear: none; } }
  /* line 57, ../sass/components/_footer.scss */
  footer #block-block-9 img {
    margin-top: 20px; }
  @media (min-width: 961px) {
    /* line 56, ../sass/components/_footer.scss */
    footer #block-block-9 {
      width: 20.58824%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }
  /* line 66, ../sass/components/_footer.scss */
  footer #block-block-4 {
    margin: 20px 0;
    text-align: center;
    font-size: 11px; }
  /* line 75, ../sass/components/_footer.scss */
  footer #block-system-user-menu h2 {
    display: none; }
  /* line 78, ../sass/components/_footer.scss */
  footer #block-system-user-menu ul, footer #block-system-user-menu li {
    list-style-type: none;
    list-style-image: none; }
  /* line 84, ../sass/components/_footer.scss */
  footer #block-system-user-menu {
    margin: 0 auto; }
    /* line 86, ../sass/components/_footer.scss */
    footer #block-system-user-menu a {
      color: #333333;
      font-size: 11px; }

/* line 2, ../sass/components/_header.scss */
header .l-branding {
  margin: 30px 0 20px 0; }
  @media (min-width: 961px) {
    /* line 2, ../sass/components/_header.scss */
    header .l-branding {
      width: 47.05882%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; } }
@media (min-width: 961px) {
  /* line 9, ../sass/components/_header.scss */
  header .l-region--header {
    width: 47.05882%;
    float: left;
    margin-right: -100%;
    margin-left: 44.11765%;
    clear: none;
    margin-top: 30px; } }
/* line 16, ../sass/components/_header.scss */
header .site-name {
  display: none; }
/* line 21, ../sass/components/_header.scss */
header #block-lang-dropdown-language {
  float: right; }
  @media (min-width: 961px) {
    /* line 21, ../sass/components/_header.scss */
    header #block-lang-dropdown-language {
      width: 11.76471%;
      float: left;
      margin-right: -100%;
      margin-left: 79.41176%;
      clear: none; } }
  /* line 27, ../sass/components/_header.scss */
  header #block-lang-dropdown-language h2 {
    display: none; }
  /* line 30, ../sass/components/_header.scss */
  header #block-lang-dropdown-language select {
    background: #e0e0e0 url("/sites/default/themes/hot_theme/images/dropdown.png") no-repeat center 24px;
    color: #000000;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0 0 12px 10px;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    width: 35px !important;
    height: 40px;
    text-align: center;
    vertical-align: middle; }
/* line 53, ../sass/components/_header.scss */
header #block-block-3 {
  width: 47.05882%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }
  /* line 55, ../sass/components/_header.scss */
  header #block-block-3 li {
    display: inline;
    margin: 0; }
  @media (min-width: 961px) {
    /* line 53, ../sass/components/_header.scss */
    header #block-block-3 {
      width: 47.05882%;
      float: left;
      margin-right: -100%;
      margin-left: 35.29412%;
      clear: none; }
      /* line 62, ../sass/components/_header.scss */
      header #block-block-3 li {
        margin: 0 6px; } }

@media (min-width: 961px) {
  /* line 2, ../sass/components/_highlighted.scss */
  .front .l-highlighted {
    margin-top: -41px; } }
/* line 9, ../sass/components/_highlighted.scss */
.l-highlighted #block-views-project-projects-featured-block {
  overflow: hidden;
  position: relative; }
  /* line 14, ../sass/components/_highlighted.scss */
  .l-highlighted #block-views-project-projects-featured-block img {
    width: 100%; }
  @media (min-width: 961px) {
    /* line 9, ../sass/components/_highlighted.scss */
    .l-highlighted #block-views-project-projects-featured-block {
      height: 450px; }
      /* line 20, ../sass/components/_highlighted.scss */
      .l-highlighted #block-views-project-projects-featured-block img {
        top: 25%;
        transform: translateY(-25%);
        z-index: -10;
        position: absolute; } }
  /* line 28, ../sass/components/_highlighted.scss */
  .l-highlighted #block-views-project-projects-featured-block .views-field-field-subtitle {
    margin: 0 auto;
    margin-top: 40px;
    width: 80%; }
    @media (min-width: 961px) {
      /* line 28, ../sass/components/_highlighted.scss */
      .l-highlighted #block-views-project-projects-featured-block .views-field-field-subtitle {
        margin-top: 80px; } }
    /* line 36, ../sass/components/_highlighted.scss */
    .l-highlighted #block-views-project-projects-featured-block .views-field-field-subtitle > div {
      background-color: #d73f3f;
      color: #ffffff;
      font-weight: bold;
      font-size: 13px;
      margin-bottom: 15px;
      padding: 5px 10px; }
      @media (min-width: 961px) {
        /* line 36, ../sass/components/_highlighted.scss */
        .l-highlighted #block-views-project-projects-featured-block .views-field-field-subtitle > div {
          width: 300px; } }
  /* line 50, ../sass/components/_highlighted.scss */
  .l-highlighted #block-views-project-projects-featured-block .views-field-body {
    font-size: 13px;
    line-height: 150%;
    margin: 0 auto;
    width: 80%; }
    /* line 57, ../sass/components/_highlighted.scss */
    .l-highlighted #block-views-project-projects-featured-block .views-field-body h3 {
      font-size: 25px;
      font-weight: bold;
      margin: 10px 0 20px 0; }
    @media (min-width: 961px) {
      /* line 64, ../sass/components/_highlighted.scss */
      .l-highlighted #block-views-project-projects-featured-block .views-field-body > div {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px;
        width: 300px; } }
/* line 74, ../sass/components/_highlighted.scss */
.l-highlighted #block-block-1 {
  border-top: solid 2px #d73f3f;
  border-bottom: solid 2px #d73f3f;
  padding: 20px;
  margin: 30px auto;
  text-align: center;
  font-size: 1.3em;
  line-height: 1.3em; }

/* line 4, ../sass/components/_homepage.scss */
body.front #block-block-6 {
  clear: both;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
  /* line 9, ../sass/components/_homepage.scss */
  body.front #block-block-6 ul li {
    text-align: center;
    margin-bottom: 50px; }
  /* line 14, ../sass/components/_homepage.scss */
  body.front #block-block-6 h2 {
    text-align: center !important; }
  @media (min-width: 961px) {
    /* line 21, ../sass/components/_homepage.scss */
    body.front #block-block-6 ul li:nth-of-type(1) {
      width: 29.41176%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 24, ../sass/components/_homepage.scss */
    body.front #block-block-6 ul li:nth-of-type(2) {
      width: 29.41176%;
      float: left;
      margin-right: -100%;
      margin-left: 35.29412%;
      clear: none; }
    /* line 27, ../sass/components/_homepage.scss */
    body.front #block-block-6 ul li:nth-of-type(3) {
      width: 29.41176%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }
/* line 36, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .first-news-element {
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  padding: 0 4px; }
  /* line 40, ../sass/components/_homepage.scss */
  body.front #block-views-updates-updates-all-block .first-news-element h3 {
    padding: 20px 0 10px 0;
    margin: 0; }
/* line 45, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .views-field-title-field.first-news-element {
  margin-top: -200px; }
/* line 49, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .views-field-created.first-news-element {
  font-style: italic;
  padding-bottom: 6px;
  margin: 0; }
/* line 54, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .views-field-body.first-news-element {
  padding-bottom: 6px;
  margin: 0; }
/* line 58, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .views-field-view-node.first-news-element {
  padding-bottom: 50px; }
/* line 63, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .attachment .views-field-created {
  font-style: italic;
  margin-bottom: 6px; }
/* line 67, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .attachment .views-field-body {
  margin-bottom: 6px; }
/* line 72, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .view-content img {
  width: 100%;
  height: auto; }
/* line 77, ../sass/components/_homepage.scss */
body.front #block-views-updates-updates-all-block .more-link {
  margin: 10px 0; }
/* line 85, ../sass/components/_homepage.scss */
body.front #block-block-5 {
  margin-top: 56px; }
  /* line 87, ../sass/components/_homepage.scss */
  body.front #block-block-5 #twitter-widget-0 {
    width: 100% !important; }
@media (min-width: 961px) {
  /* line 93, ../sass/components/_homepage.scss */
  body.front #block-views-updates-updates-all-block {
    width: 64.70588%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: both; }
  /* line 98, ../sass/components/_homepage.scss */
  body.front #block-block-5 {
    width: 29.41176%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 961px) {
  /* line 2, ../sass/components/_navigation.scss */
  .l-navigation {
    height: 40px; }

  /* line 5, ../sass/components/_navigation.scss */
  .front .l-navigation {
    background-color: rgba(255, 255, 255, 0.7); } }
/* line 10, ../sass/components/_navigation.scss */
.l-navigation {
  position: relative;
  z-index: 99;
  margin-top: 20px;
  background-color: #e0e0e0;
  border-bottom: solid #d73f3f 2px;
  width: 100%; }
  /* line 19, ../sass/components/_navigation.scss */
  .l-navigation #navigation-toggle {
    background: #989898;
    color: #000000;
    padding: 6px;
    font-size: 11px;
    font-weight: bold;
    width: 70px !important;
    text-decoration: none; }
    @media (min-width: 961px) {
      /* line 19, ../sass/components/_navigation.scss */
      .l-navigation #navigation-toggle {
        display: none; } }
  /* line 35, ../sass/components/_navigation.scss */
  .l-navigation #block-menu-block-hot-core-1 .block__title {
    display: none; }
  /* line 39, ../sass/components/_navigation.scss */
  .l-navigation #block-menu-block-hot-core-1 ul.menu {
    display: block;
    font-family: "Alegreya", "Times New Roman", "Times", serif;
    list-style-type: none;
    list-style-image: none; }
    @media (min-width: 961px) {
      /* line 39, ../sass/components/_navigation.scss */
      .l-navigation #block-menu-block-hot-core-1 ul.menu {
        position: absolute; } }
    /* line 50, ../sass/components/_navigation.scss */
    .l-navigation #block-menu-block-hot-core-1 ul.menu li {
      padding: 10px 20px 10px 0px;
      border-bottom: solid 1px #989898;
      list-style-type: none;
      list-style-image: none; }
      @media (min-width: 961px) {
        /* line 50, ../sass/components/_navigation.scss */
        .l-navigation #block-menu-block-hot-core-1 ul.menu li {
          float: left;
          border-bottom: none; } }
    /* line 62, ../sass/components/_navigation.scss */
    .l-navigation #block-menu-block-hot-core-1 ul.menu li.last {
      border-bottom: none; }
  /* line 67, ../sass/components/_navigation.scss */
  .l-navigation #block-menu-block-hot-core-1 a {
    font-size: 1.2em;
    text-decoration: none;
    color: #000000; }
  /* line 72, ../sass/components/_navigation.scss */
  .l-navigation #block-menu-block-hot-core-1 a:hover {
    color: #d73f3f; }

/* line 4, ../sass/components/_news.scss */
.view-id-updates .views-field-created {
  font-style: italic;
  margin-bottom: 6px; }
/* line 8, ../sass/components/_news.scss */
.view-id-updates .views-field-body {
  margin-bottom: 6px; }
/* line 11, ../sass/components/_news.scss */
.view-id-updates .view-content .views-field-field-images {
  height: 300px;
  overflow: hidden;
  position: relative; }
  /* line 15, ../sass/components/_news.scss */
  .view-id-updates .view-content .views-field-field-images img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
/* line 27, ../sass/components/_news.scss */
.view-id-updates .more-link {
  margin: 10px 0; }

@media (min-width: 961px) {
  /* line 35, ../sass/components/_news.scss */
  .node-type-update .node--update .field--name-body {
    width: 64.70588%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: both; } }
/* line 40, ../sass/components/_news.scss */
.node-type-update .node--update .field--name-field-information {
  background-color: #e0e0e0; }
  /* line 41, ../sass/components/_news.scss */
  .node-type-update .node--update .field--name-field-information .views-row {
    margin-bottom: 0; }
  /* line 45, ../sass/components/_news.scss */
  .node-type-update .node--update .field--name-field-information .views-field {
    margin: 20px; }
  /* line 48, ../sass/components/_news.scss */
  .node-type-update .node--update .field--name-field-information .views-label {
    font-weight: bold; }
  @media (min-width: 961px) {
    /* line 40, ../sass/components/_news.scss */
    .node-type-update .node--update .field--name-field-information {
      width: 29.41176%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }

/* line 3, ../sass/components/_nodes.scss */
.page-node .node {
  position: relative; }
  /* line 6, ../sass/components/_nodes.scss */
  .page-node .node .image-banner,
  .page-node .node .field--type-image img {
    width: 100%;
    height: auto;
    margin: 20px 0; }
  /* line 13, ../sass/components/_nodes.scss */
  .page-node .node .banner-wrapper,
  .page-node .node .field--type-image {
    margin: 20px auto;
    height: 205px;
    overflow: hidden;
    position: relative; }
    @media (min-width: 961px) {
      /* line 13, ../sass/components/_nodes.scss */
      .page-node .node .banner-wrapper,
      .page-node .node .field--type-image {
        height: 450px; } }
    /* line 23, ../sass/components/_nodes.scss */
    .page-node .node .banner-wrapper .image-banner,
    .page-node .node .field--type-image .image-banner {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto; }
  /* line 32, ../sass/components/_nodes.scss */
  .page-node .node .page-icon {
    text-align: center;
    margin-bottom: 50px; }
  @media (min-width: 961px) {
    /* line 38, ../sass/components/_nodes.scss */
    .page-node .node .page-icon {
      width: 29.41176%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: both; }
    /* line 41, ../sass/components/_nodes.scss */
    .page-node .node .page-text {
      width: 64.70588%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }

/* line 3, ../sass/components/_projects.scss */
.panel-page-projects .pane-project-panel-pane-projects-latest-disaster {
  padding-top: 120px;
  background: #ffffff url(/sites/default/themes/hot_theme/images/icons/emergency-mapping.jpg) no-repeat center top; }
/* line 7, ../sass/components/_projects.scss */
.panel-page-projects .pane-project-panel-pane-projects-latest-community {
  padding-top: 120px;
  background: #ffffff url(/sites/default/themes/hot_theme/images/icons/community.jpg) no-repeat center top; }
/* line 11, ../sass/components/_projects.scss */
.panel-page-projects .pane-project-panel-pane-projects-latest-technical {
  padding-top: 120px;
  background: #ffffff url(/sites/default/themes/hot_theme/images/icons/technical.jpg) no-repeat center top; }
/* line 16, ../sass/components/_projects.scss */
.panel-page-projects h2, .panel-page-projects h3, .panel-page-projects h4 {
  text-align: center; }
/* line 20, ../sass/components/_projects.scss */
.panel-page-projects .view-id-project .views-field-nothing {
  background-color: #e0e0e0;
  padding: 3px; }
/* line 24, ../sass/components/_projects.scss */
.panel-page-projects .view-id-project .views-field-view-node {
  margin-top: 10px; }

/* line 34, ../sass/components/_projects.scss */
.page-projects .pane-project-panel-pane-projects li.views-row,
.page-projects .pane-project-panel-pane-projects-old li.views-row {
  margin-bottom: 50px; }
/* line 38, ../sass/components/_projects.scss */
.page-projects .project-type-icon {
  text-align: center; }
@media (min-width: 961px) {
  /* line 43, ../sass/components/_projects.scss */
  .page-projects .project-type-description {
    width: 64.70588%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 46, ../sass/components/_projects.scss */
  .page-projects .project-type-icon {
    width: 29.41176%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 961px) {
  /* line 56, ../sass/components/_projects.scss */
  .node-type-project .node--project .field--name-body {
    width: 64.70588%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: both; } }
/* line 61, ../sass/components/_projects.scss */
.node-type-project .node--project .field--name-field-information {
  background-color: #e0e0e0; }
  /* line 62, ../sass/components/_projects.scss */
  .node-type-project .node--project .field--name-field-information .views-row {
    margin-bottom: 0; }
  /* line 66, ../sass/components/_projects.scss */
  .node-type-project .node--project .field--name-field-information .views-field {
    margin: 0 20px;
    padding: 10px 0; }
  /* line 70, ../sass/components/_projects.scss */
  .node-type-project .node--project .field--name-field-information .views-label {
    font-weight: bold; }
  @media (min-width: 961px) {
    /* line 61, ../sass/components/_projects.scss */
    .node-type-project .node--project .field--name-field-information {
      width: 29.41176%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }
/* line 78, ../sass/components/_projects.scss */
.node-type-project #block-views-updates-updates-project-block {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: both; }
  @media (min-width: 961px) {
    /* line 81, ../sass/components/_projects.scss */
    .node-type-project #block-views-updates-updates-project-block .views-row:nth-of-type(2n+1) {
      width: 47.05882%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: both; }
    /* line 84, ../sass/components/_projects.scss */
    .node-type-project #block-views-updates-updates-project-block .views-row:nth-of-type(2n+2) {
      width: 47.05882%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }

/* line 5, ../sass/components/_userlists.scss */
.leadership .panel-panel .panel-pane,
.page-staff .panel-panel .panel-pane {
  clear: both;
  padding-top: 20px; }
/* line 9, ../sass/components/_userlists.scss */
.leadership .panel-panel .panel-pane:nth-of-type(1),
.page-staff .panel-panel .panel-pane:nth-of-type(1) {
  padding-top: 0 !important; }
/* line 12, ../sass/components/_userlists.scss */
.leadership .panel-panel .views-row,
.page-staff .panel-panel .views-row {
  clear: both;
  margin-bottom: 50px; }
/* line 16, ../sass/components/_userlists.scss */
.leadership .panel-panel .views-field-picture,
.page-staff .panel-panel .views-field-picture {
  float: left;
  margin: 0 30px 10px 0; }
/* line 20, ../sass/components/_userlists.scss */
.leadership .panel-panel .views-field-uid,
.leadership .panel-panel .views-field-name,
.page-staff .panel-panel .views-field-uid,
.page-staff .panel-panel .views-field-name {
  font-weight: bold;
  font-size: 13px; }
/* line 25, ../sass/components/_userlists.scss */
.leadership .panel-panel .views-field-field-hot-leadership,
.page-staff .panel-panel .views-field-field-hot-leadership {
  color: #666; }
/* line 28, ../sass/components/_userlists.scss */
.leadership .panel-panel .pane-leadership-panel-pane-director,
.page-staff .panel-panel .pane-leadership-panel-pane-director {
  clear: both; }

/* line 36, ../sass/components/_userlists.scss */
.view-id-user_lists {
  margin-top: 50px; }
  /* line 39, ../sass/components/_userlists.scss */
  .view-id-user_lists ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  /* line 45, ../sass/components/_userlists.scss */
  .view-id-user_lists li {
    display: inline-block;
    height: 100px;
    margin: 0 1em 1em 0 !important;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100px; }
  /* line 54, ../sass/components/_userlists.scss */
  .view-id-user_lists .view-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  /* line 59, ../sass/components/_userlists.scss */
  .view-id-user_lists .view-content:after {
    content: "";
    display: table;
    clear: both; }
  /* line 64, ../sass/components/_userlists.scss */
  .view-id-user_lists .views-row {
    float: left; }
    /* line 67, ../sass/components/_userlists.scss */
    .view-id-user_lists .views-row img {
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      transition: all 300ms;
      display: block;
      height: auto;
      max-width: 100%; }
    /* line 76, ../sass/components/_userlists.scss */
    .view-id-user_lists .views-row span.text-content {
      padding: 5px;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      cursor: pointer;
      display: table;
      height: 90px;
      left: 0;
      position: absolute;
      top: 0;
      width: 90px;
      opacity: 0;
      -webkit-transition: opacity 500ms;
      -moz-transition: opacity 500ms;
      -o-transition: opacity 500ms;
      transition: opacity 500ms; }
    /* line 93, ../sass/components/_userlists.scss */
    .view-id-user_lists .views-row span.text-content span {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      /* line 97, ../sass/components/_userlists.scss */
      .view-id-user_lists .views-row span.text-content span .full-name {
        margin: 0;
        padding: 0;
        font-weight: bold; }
  /* line 105, ../sass/components/_userlists.scss */
  .view-id-user_lists li.views-row:hover span.text-content {
    opacity: 1; }
  /* line 108, ../sass/components/_userlists.scss */
  .view-id-user_lists li.views-row:hover img {
    max-width: 100%;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4); }

/* line 119, ../sass/components/_userlists.scss */
.view-display-id-page_working_groups_with_members div.views-row-first {
  clear: both; }
/* line 122, ../sass/components/_userlists.scss */
.view-display-id-page_working_groups_with_members div {
  float: left; }
  /* line 124, ../sass/components/_userlists.scss */
  .view-display-id-page_working_groups_with_members div img {
    padding-right: 10px;
    width: 30px;
    height: 30px;
    padding-top: 10px; }
/* line 132, ../sass/components/_userlists.scss */
.view-display-id-page_working_groups_with_members h3 {
  clear: both;
  margin-bottom: 0; }
/* line 136, ../sass/components/_userlists.scss */
.view-display-id-page_working_groups_with_members .views-row-last {
  margin-bottom: 3em; }

/* line 144, ../sass/components/_userlists.scss */
.page-user p {
  margin: 10px 0; }
/* line 148, ../sass/components/_userlists.scss */
.page-user h2 {
  margin: 20px 0 10px 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px; }
/* line 156, ../sass/components/_userlists.scss */
.page-user .panel-2col .inside {
  margin: 0; }
/* line 159, ../sass/components/_userlists.scss */
.page-user .panel-2col .panel-col-first {
  float: none;
  width: 100%; }
  @media (min-width: 961px) {
    /* line 159, ../sass/components/_userlists.scss */
    .page-user .panel-2col .panel-col-first {
      width: 20.58824%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: both; } }
/* line 166, ../sass/components/_userlists.scss */
.page-user .panel-2col .panel-col-last {
  float: none;
  width: 100%; }
  @media (min-width: 961px) {
    /* line 166, ../sass/components/_userlists.scss */
    .page-user .panel-2col .panel-col-last {
      width: 73.52941%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; } }

/* line 4, ../sass/components/_working-groups.scss */
.page-working-groups .view-content .view-grouping {
  margin-bottom: 50px; }
  /* line 7, ../sass/components/_working-groups.scss */
  .page-working-groups .view-content .view-grouping h3 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 150%; }
  /* line 12, ../sass/components/_working-groups.scss */
  .page-working-groups .view-content .view-grouping .view-grouping-header {
    font-size: 18px;
    font-weight: bold; }
  /* line 16, ../sass/components/_working-groups.scss */
  .page-working-groups .view-content .view-grouping .view-grouping-content .views-row {
    margin: 0; }
@media (min-width: 961px) {
  /* line 22, ../sass/components/_working-groups.scss */
  .page-working-groups .view-content .view-grouping:nth-of-type(2n+1) {
    width: 47.05882%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: both; }
  /* line 25, ../sass/components/_working-groups.scss */
  .page-working-groups .view-content .view-grouping:nth-of-type(2n+2) {
    width: 47.05882%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

/*# sourceMappingURL=hot-theme.styles.css.map */
