<div class="donate-form-wrapper" style="max-width:435px;text-align:left;margin-bottom:30px">
<script src="https://cdn.donately.com/dntly-core/current/core.min.js" data-donately-id="act_6050cafb6dc1" data-stripe-publishable-key="pk_live_V98OphdHjflWilBEfL1IK28w" data-donately-amount="20" data-donately-presets="10,20,40,100" data-donately-duration="default_recurring" data-donately-billing-zip="true" data-donately-comment="true" data-donately-anonymous="true" data-donately-onbehalf="true" data-donately-payment-options="cc,ach" data-donately-donor-pays-fees='{"cc":{"processor_percent":"0.029","processor_fixed":"0.30","dntly_percent":"0.03"}}' ></script>
</div>

<h5 style="text-align:left">Need more options?</h5>
<strong>Prefer PayPal or Venmo? Donate <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8VBN9QHNVKVS6">directly through Paypal</a> or <a href="https://venmo.com/hotosm">login with Venmo to contribute.</a></strong>
<strong>To donate via wire transfer, </strong>please email <a href="mailto:donations@hotosm.org" target="_blank">donations@hotosm.org</a>.
<strong>To donate via mailing a check, </strong>please use <a href="/sites/default/files/Donation%20Form-%20Mailing%20_0.pdf">the paper form</a>.
<p>Thank you! Your donation will help us continue the live-saving work of emergency mapping!</p>

<div id="amznCharityBanner">&nbsp;</div>
