<div class="donate-form-wrapper" style="text-align:left;">
<script src="https://cdn.donately.com/dntly-core/current/core.min.js" data-donately-id="act_6050cafb6dc1" data-stripe-publishable-key="pk_live_V98OphdHjflWilBEfL1IK28w" data-donately-amount="20" data-donately-presets="10,20,40,100" data-donately-billing-zip="true" data-donately-comment="true" data-donately-anonymous="true" data-donately-onbehalf="true" data-donately-payment-options="cc,ach" data-donately-donor-pays-fees='{"cc":{"processor_percent":"0.029","processor_fixed":"0.30","dntly_percent":"0.03"}}' ></script>
</div>
