<footer class="site-footer">
  <div class="footer-body">
    <nav class="footer-group">
      <div class="nav-group">
        <a class="footer-logo" href="https://www.guidestar.org/profile/27-3166713"><img src="{{ "/images/guideStarSeal_2017_platinum_SM.svg" | prepend: site.baseurl }}"></a>
      </div>
    </nav>
    <nav class="footer-group">
      <div class="nav-group">
        <a href="/what-we-do">What we do</a>
        <a href="/our-work">Our work</a>
        <a href="/tools-and-data">Tools & Data</a>
        <a href="/updates">News</a>
        <a href="/community">Community & Organization</a>
        <a href="/partners">Partner with us</a>
        <a href="/get-involved">Get Involved</a>
      </div>
      {% include social-links.html %}
    </nav>
    <nav class="footer-group">
      <div class="nav-group">
        <a href="/contact">Contact</a>
        <a href="/contact#media">Media Kit</a>
        <a href="/jobs">Jobs</a>
        <a href="/privacy">Privacy Policy</a>
      </div>
    </nav>
    <nav class="footer-group">
      <div class="nav-group">
        <a href="https://github.com/hotosm/hotosm-website/tree/gh-pages/downloads">Articles of Incorporation</a>
        <a href="https://github.com/hotosm/hotosm-website/tree/gh-pages/downloads">Bylaws</a>
        <a href="/code-of-conduct">Code of conduct</a>
        <a href="/docs">Docs & Guidelines</a>
      </div>
    </nav>
    <nav class="footer-group">
      <div class="nav-group">
        <h4>Support our work</h4>
        <a href="/donate" class="btn btn-info btn-block btn-chevron btn-lg">Donate</a>
      </div>
    </nav>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p>Humanitarian OpenStreetMap Team is a 501(c)(3) not-for-profit organization and global community. Learn more about <a href="https://www.openstreetmap.org/about">OpenStreetMap</a>.</p>
      <img src="{{ "/images/hot-logo-icon-white.svg" | prepend: site.baseurl }}">
    </div>
  </div>
</footer>

{% include scripts.html %}
