<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Security-Policy"  
    content="default-src 'self';
             connect-src 'self' https://*.tiles.mapbox.com https://api.mapbox.com https://osmstats-api.hotosm.org https://tasking-manager-tm4-production-api.hotosm.org https://matomo.hotosm.org https://hotosm.bamboohr.com https://*.donately.com;
             font-src 'self' https://fonts.gstatic.com https://themes.googleusercontent.com;
             frame-src https://embed.ted.com https://www.youtube.com https://docs.google.com https://cdn.donately.com;
             frame-ancestors 'self';
             img-src 'self' data: blob: https://s3.amazonaws.com http://hotwww.s3-website-us-east-1.amazonaws.com https://api.monosnap.com https://cdn.hotosm.org https://monosnap.com https://resources.bamboohr.com https://s3.amazonaws.com https://www.colorhexa.com https://matomo.hotosm.org https://b.donately.com;
             object-src 'self';
             manifest-src 'self';
             media-src 'self';
             worker-src blob:;
             child-src blob: ;
             script-src 'self' 'unsafe-inline' https://ajax.googleapis.com https://api.tiles.mapbox.com https://cdn.hotosm.org https://matomo.hotosm.org https://hotosm.bamboohr.com https://cdn.donately.com https://cdn.trackjs.com;
             style-src 'self' 'unsafe-inline' https://api.tiles.mapbox.com https://fonts.googleapis.com https://hotosm.bamboohr.com">
  <meta http-equiv="X-Content-Type-Options" content="nosniff">
  <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
  <meta http-equiv="X-XSS-Protection" content="1; mode=block">
  <meta http-equiv="Strict-Transport-Security" content="max-age=63072000">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }} | {{ page.title }}</title>

  <meta name="description" content="{% if page.Meta %}{{ page.Meta }}{% endif %}{% for tag in page.tags %}{% if forloop.last == true %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}">
  {% feed_meta %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d73f3f">
  <meta name="msapplication-TileColor" content="#d73f3f">
  <meta name="theme-color" content="#ffffff">

</head>
