<div class="impact-areas-module">
  <div class="impact-areas-wrapper">
    <h2>Our Impact</h2>
    <div class="impact-description">
      <p>HOT's work is global in scale and contributes to the achievement of the Sustainable Development Goals (SDGs). Check out our core impact areas and learn more about where we're making a difference.</p>
    </div>
    <ul class="impact-areas-list">
      {% assign sorted-impact-areas = site.impact-areas | sort: 'position' %}
      {% for impact-area in sorted-impact-areas %}
        <li><a href="{{ impact-area.url }}" class="nav-link">{{ impact-area.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
