<div class="nav-mobile">
  <div class="nav-mobile-header">
    <a class="nav-mobile-logo" href="/"><img src="{{ '/images/hot-logo.svg' | prepend: site.baseurl }}"></a>
    <a id="nav-anchor"></a>
  </div>
</div>

<div class="nav-wrapper">
  <div class="nav-sticky">
    <div id="nav-container">
      <div class="nav-main-container">
        <a class="nav-logo" href="/">
          <img class="nav-logo-icon" src="{{ "/images/hot-logo-icon-nav.svg" | prepend: site.baseurl }}">
          <img class="nav-logo-text" src="{{ "/images/hot-logo-text.svg" | prepend: site.baseurl }}">
        </a>
        <nav class="nav-main">
          <div class="hr-v first"></div>
          <div class="nav-group">
            <a href="/what-we-do" class="{% if page.url contains '/what-we-do.html' %}active{% endif %}">What we do</a>
            <a href="/our-work" class="{% if page.url contains '/our-work.html' or page.url contains '/impact-areas/' or page.url contains '/where-we-work/' or page.url contains '/projects/' %}active{% endif %}">Our work</a>
            <a href="/tools-and-data" class="{% if page.url contains '/tools-and-data.html' %}active{% endif %}">Tools & Data</a>
            <a href="/updates" class="{% if page.url contains '/updates' %}active{% endif %}">News</a>
          </div>
          <div class="hr-v"></div>
          <div class="nav-group">
            <a href="/community" class="{% if page.url contains '/community/' or page.url contains '/voting-members.html' page.url contains '/board.html'  page.url contains '/staff/'  page.url contains '/people' %}active{% endif %}">Community & Organization</a>
            <a href="/partners" class="{% if page.url contains '/partners/'%}active{% endif %}">Partner with us</a>
            <a href="/get-involved" class="{% if page.url contains 'get-involved.html'%}active{% endif %}">Get involved</a>
          </div>
          <div class="hr-v"></div>
          <a class="search-link" href="#">Search</a>
        </nav>
      </div>

      <div class="nav-secondary">
        <a href="/donate" class="nav-item-donate">Donate</a>
        {% include social-links.html %}
        <h6 class="tagline">Mapping our world together</h6>
      </div>
    </div>
  </div>
</div>

<div class="nav-mobile-links-wrapper">
  <div class="nav-mobile-links">
    <div class="nav-group">
      <a href="/what-we-do">What we do</a>
      <a href="/our-work">Our work</a>
      <a href="/get-involved">Get Involved</a>
      <a href="/donate" class="donate">Donate</a>
    </div>
  </div>
</div>

<div id="search-overlay">
  <div class="close-overlay search-close">
  </div>
  <div class="search-contents">
    <div class="search-wrap">
      <div class="search-head">
        <input type="text" id="search-input" placeholder="Search…" >
        <button type="button" id="closeButton" ><img src="../images/close.png"></button>
        <div class="search-close close-button">Close</div>
      </div>
      <ul id="results-container">
        <div class="results-placeholder">
          Search for HOT projects, news, and people.
        </div>
      </ul>
    </div>
  </div>
</div>

