<div class="nav-mobile">

  <div class="nav-mobile-header">
    <a class="nav-mobile-logo" href="/"><img src="{{ '/images/hot-logo.svg' | prepend: site.baseurl }}"></a>
    <a id="nav-anchor"></a>
  </div>

</div>

<div id="nav-container">

  <nav class="nav-main">
    <a class="nav-logo" href="/"><img src="{{ "/images/hot-logo.svg" | prepend: site.baseurl }}"></a>
    <div class="hr-v first"></div>
    <div class="nav-group">
      <a href="/what-we-do">What we do</a>
      <a href="/our-work">Our work</a>
      <a href="#">Tools & Data</a>
      <a href="/updates.html">News</a>
    </div>
    <div class="hr-v"></div>
    <div class="nav-group">
      <a href="#">Community & Organization</a>
      <a href="#">Partner with us</a>
      <a href="#">Get involved</a>
    </div>
    <div class="hr-v"></div>
    <a class="search-link" href="#">Search</a>
  </nav>

  <div class="nav-secondary">
    <a href="#" class="nav-item-donate">Donate</a>
    {% include social-links.html %}
    <h6 class="tagline">Mapping our world together</h6>
  </div>

</div>

<div class="container">
  <div class="nav-mobile-links">
    <div class="nav-group">
      <a href="#">What we do</a>
      <a href="#">Our work</a>
      <a href="#">Get Involved</a>
      <a href="#" class="donate">Donate</a>
    </div>
  </div>
</div>
