<div>
  <form class="mailchimp-signup-subscribe-form mailchimp-signup-subscribe-block-hot-newsletter-form" action="https://hotosm.us9.list-manage.com/subscribe/post?u=5191e27b207136970f2a9ec1b&amp;id=6cd8f1ed72" method="post" id="mailchimp-signup-subscribe-block-hot-newsletter-form" accept-charset="UTF-8">
    <div>
      <div class="mailchimp-signup-subscribe-form-description"></div>
      <div id="mailchimp-newsletter-545917-mergefields" class="mailchimp-newsletter-mergefields">
        <div class="form-item form-type-textfield form-item-mergevars-EMAIL">
          <input placeholder="signup@example.com" id="edit-mergevars-email" name="EMAIL" value="" size="12" maxlength="128" class="form-text required" type="text">
        </div>
      </div><input name="form_build_id" value="form--u2XdzVfjKIzO-PHYAXERvLHFKnsxU7OiU0DY1ps768" type="hidden">
      <input name="form_token" value="YePokbMFubqmQf1xhP59yxaTweb-5YxG3E1feN-cgD8" type="hidden">
      <input name="form_id" value="mailchimp_signup_subscribe_block_hot_newsletter_form" type="hidden">
      <div class="form-actions form-wrapper" id="edit-actions"><input id="edit-submit" name="op" value="Sign up" class="form-submit" type="submit"></div>
    </div>
  </form>
</div>
