<ul class="social-links">
  <li><a href="https://twitter.com/hotosm"><img src="{{ "/images/icon-twitter.svg" | prepend: site.baseurl }}"><span>Twitter</span></a></li>
  <li><a href="https://www.facebook.com/hotosm"><img src="{{ "/images/icon-facebook.svg" | prepend: site.baseurl }}"><span>Facebook</span></a></li>
  <li><a href="https://www.youtube.com/user/hotosm"><img src="{{ "/images/icon-youtube.svg" | prepend: site.baseurl }}"><span>YouTube</span></a></li>
  <li><a href="https://www.instagram.com/themissingmaps/"><img src="{{ "/images/icon-instagram.svg" | prepend: site.baseurl }}"><span>Instagram</span></a></li>
</ul>
