html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: $font-headline;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .045em;
  line-height: 1.15;
  color: $red;
  @media (max-width: $screen-sm) {
    font-size: 3rem;
  }
  @media (max-width: $screen-xs) {
    font-size: 2rem;
  }
  &.boxed {
    display: inline-block;
    color: $white;
    background-color: $red;
    padding: 6px 18px 14px;
  }
}

h2 {
  font-size: 3rem;
  margin-bottom: 16px;
  @media (max-width: $screen-xs) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.75rem;
  line-height: 1.3;
  margin: 0 0 12px;
  color: $blue-dark;
}

h4 {
  font-size: 1.375rem;
  line-height: 1.3;
  margin: 0 0 8px;
  color: $blue-dark;
}

h5 {
  font-size: 0.8125rem;
  font-weight: 600;
  color: $blue-light;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  color: $blue-grey;
}

a {
  color: $red;
}

p {
  color: $blue-grey;
  line-height: 1.35;
}

img {
  max-width: 100%;
}

.article {
  p {
    font-size: 1.125rem;
    margin-bottom: 16px;
    color: tint($blue-dark, 15%);
  }
  img {
    width: 100%;
    height: auto;
    & + em {
      font-size: 0.8125rem;
      font-weight: 600;
      color: $blue-grey;
    }
  }
  strong {
    font-weight: 600;
    color: $blue-dark;
  }
}

.hr-v {
  width: 1px;
  min-height: 100%;
  background-color: $border-color;
}

.hr-h {
  min-width: 100%;
  height: 1px;
  background-color: $border-color;
  margin: 40px 0 40px;
  @media (max-width: $screen-sm) {
    margin: 24px 0 24px;
  }
}

.page-header {
  margin-top: 48px;
  margin-bottom: 32px;
}


////////////////////////////////////////////////
//////////////////// Buttons ///////////////////
////////////////////////////////////////////////


.btn {
  display: inline-block;
  text-decoration: none;
  padding: 12px 14px;
  border-radius: 2px;
  box-shadow: $default-box-shadow;
  transition: all .2s ease-in-out;
  &:hover {
    box-shadow: $hover-box-shadow;
  }
  &.btn-primary {
    color: $white;
    background-color: $red;
    &:hover {
      background-color: shade($red, 10%)
    }
  }
  &.btn-info {
    color: $white;
    background-color: $blue-dark;
    &:hover {
      background-color: shade($blue-dark, 30%)
    }
  }
  &.btn-lg {
    padding: 16px 16px;
  }
  &.btn-chevron {
    position: relative;
    &:after {
      content: '';
      display: inline-block;
      margin-left: 16px;
      width: 6px;
      height: 10px;
      background-image: url(../images/chevron-white.svg);
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
    }
    &.btn-block {
      &:after {
        position: absolute;
        top: 15px;
        right: 16px;
      }
    }
    &.btn-block.btn-lg {
      &:after {
        position: absolute;
        top: 19px;
        right: 16px;
      }
    }
  }
  &.btn-block {
    display: block;
  }
}


////////////////////////////////////////////////
/////////////// Grid & Containers //////////////
////////////////////////////////////////////////


.container {
  padding: 0 16px;
  margin: 0 auto;
  @media (min-width: $screen-sm) {
    padding: 0 40px;
  }
}

.module-group {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 24px;
  &.grid-two-rows {
    grid-template-rows: repeat(2, 1fr);
  }
}

.module-header {
  margin-bottom: 24px;
}

.highlight-module {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 2px;
  overflow: hidden;
  .highlight-details {
    background-color: $blue-dark;
    padding: 24px;
    display: flex;
    flex-direction: column;
    p {
      color: $blue-light;
    }
  }
  .highlight-info {
    flex: 1;
  }
  .highlight-hr {
    width: 40px;
    height: 2px;
    background-color: $blue-grey;
    margin-bottom: 16px;
  }
  .highlight-image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h3 {
    color: $white;
  }
  &.primary-highlight-module {
    .highlight-details {
      padding: 40px;
    }
  }
  &.secondary-highlight-module {
    .highlight-details {
      padding: 24px;
    }
  }
}

.news-preview-group {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 24px;
  .news-preview-item {
    padding-bottom: 28px;
    border-bottom: 1px solid $border-color;
  }
  .news-preview-details {
    // padding: 24px 0;
  }
  .news-preview-image {
    img {
      width: 100%;
      max-height: 260px;
      object-fit: cover;
    }
  }
  .news-preview-meta {
    font-size: 0.8125rem;
    font-weight: 600;
    color: $orange;
  }
  .news-preview-text {
    h4 {
      // margin-bottom: 16px;
    }
    p {
      font-size: 0.9375rem;
    }
  }
  .one {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    .news-preview-details {
      display: grid;
      grid-gap: 24px;
      grid-template-columns: repeat(6, 1fr);
    }
    .news-preview-text {
      grid-column: 2 / -1;
    }
    .news-preview-image {
      margin-bottom: 18px;
    }
    .news-preview-meta {
      margin-top: 2px;
    }
  }
  .two {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }
  .three {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
  }
  .two, .three {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    .news-preview-details {
      grid-column: 2 / -1;
    }
    .news-preview-meta {
      margin: -4px 0 4px;
    }
    .news-preview-image {
      img {
        max-height: 110px;
      }
    }
  }
}

.module-details {
  display: flex;
  flex-direction: column;
}

.module-text {
  font-size: 0.9375rem;
  margin-bottom: 32px;
  flex-grow: 1;
  p {
    margin-bottom: 12px;
  }
}

.module-image {
  display: block;
}

.module-cta {
  font-size: 0.875rem;
  font-weight: 600;
  color: $blue-dark;
  position: relative;
  top: -9px;
  &:after {
    content: '';
    display: block;
    // float: right;
    position: absolute;
    right: 0;
    bottom: -9px;
    height: 40px;
    width: 40px;
    background-image: url(../images/chevron-white.svg);
    background-color: $blue-dark;
    background-repeat: no-repeat;
    background-position: left 17px center;
    border-radius: 20px;
    box-shadow: $default-box-shadow;
    transition: background-color 0.3s ease-in-out;
  }
}

.module {
  display: block;
  padding: 24px;
  text-decoration: none;
  overflow: hidden;
  &.light {
    display: grid;
    grid-gap: 24px;
    border: 1px solid $border-color;
    border-radius: $default-border-radius;
    &.module-cta {
      padding-bottom: 24px;
    }
  }
  &.light-img {
    padding: 0;
    border-radius: $default-border-radius;
    overflow: hidden;
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 24px;
    border: 1px solid $border-color;
    .module-details {
      padding: 24px;
      border-bottom: none;
      border-top-left-radius: $default-border-radius;
      border-top-right-radius: $default-border-radius;
    }
    .module-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &:hover {
    .module-cta {
      &:after {
        background-color: $red;
      }
    }
  }
  .project-involvement, .project-countries {
    margin-bottom: 4px;
  }
}

.link-through {
  color: $blue-dark;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: $hover-box-shadow;
    text-decoration: none;
  }
}

.box-group {
  background-color: $tan;
  padding: 40px;
  margin-bottom: 24px;
  border-radius: 2px;
  .box-header {
    margin-bottom: 24px;
  }
  .box-body {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .box-item {
    text-decoration: none;
  }
  .hr-v {
    width: 1px;
    background-color: shade($border-color, 20%);
    margin: 0 40px;
    align-self: stretch;
  }
  .module-image {
    margin-bottom: 20px;
  }
}

.two-rows {
  .one {
    grid-row: 1 / 3;
    grid-gap: 0px;
  }
  .two {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    grid-template-columns: repeat(2, 1fr);
    .module-details {
      padding-right: 0;
    }
  }
  .three {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    grid-template-columns: repeat(2, 1fr);
    .module-details {
      padding-right: 0;
    }
  }
}

.project-module {
  padding: 0;
  border: 1px solid $border-color;
  border-radius: 2px;
  margin-bottom: 24px;
  .module-details {
    padding: 24px;
    h3 {
      margin-bottom: 8px;
    }
  }
  .module-text {
    padding-right: 24px;
  }
  .module-image {
    display: block;
    img {
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

.project-index-highlights {
  .project-module {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 360px;
    grid-gap: 24px;
    .module-details {
      grid-column: 1 / 6;
      padding-right: 0;
    }
    .module-image {
      grid-column: 6 / -1;
    }
  }
}

.project-index-all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 0 24px;
  .project-module {
    display: grid;
    grid-template-rows: auto 240px;
    .module-details {
      padding: 20px 24px;
    }
    .module-text {
      padding-right: 0;
      margin-bottom: 0;
    }
    .module-image {
      max-height: 240px;
      position: relative;
      &:after {
        content: '';
        display: block;
        // float: right;
        position: absolute;
        right: 16px;
        bottom: 16px;
        height: 40px;
        width: 40px;
        background-image: url(../images/chevron-white.svg);
        background-color: $red;
        background-repeat: no-repeat;
        background-position: left 17px center;
        border-radius: 20px;
        box-shadow: $default-box-shadow;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
    }
    &:hover {
      .module-image {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}

.impact-areas-module {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;
  @media (min-width: $screen-sm) {
    min-height: 560px;
  }
  @media (max-width: $screen-sm) {
    // h2 {
    //   padding-top: 100px;
    // }
  }
  &:before {
    content: '';
    display: block;
    width: 560px;
    height: 560px;
    margin: 0 auto;
    border-radius: 280px;
    background-image: url(../images/world-blue.png);
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: $grey-light;
    opacity: .65;
  }
  .impact-areas-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    padding-bottom: 40px;
  }
}

.impact-description {
  margin-bottom: 24px;
  font-size: 0.9375rem;
  @media (min-width: $screen-sm) {
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-gap: 24px;
    font-size: 1rem;
  }
}

.impact-areas-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 17px;
  @media (min-width: $screen-sm) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 24px;
  }
  a {
    display: inline-block;
    font-size: 0.9375rem;
    color: $blue-dark;
    text-decoration: none;
    border-bottom: 1px solid tint($blue-dark, 65%);
    margin-bottom: 16px;
    @media (min-width: $screen-sm) {
      font-size: 1.375rem;
    }
    &:hover, &:active, &:focus {
      text-decoration: none;
      border-bottom: 1px solid tint($red, 0%);
    }
  }
}


////////////////////////////////////////////////
////////////////// Navigation //////////////////
////////////////////////////////////////////////


#nav-container {
  position: relative;
  margin-bottom: 24px;
  @media (min-width: $screen-sm) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media (max-width: $screen-sm) {
    background-color: $red-light;
    padding: 24px;
    margin-bottom: 16px;
    display: none;
    &.show-nav {
      display: block;
    }
  }
  a {
    text-decoration: none;
  }
  .nav-logo {
    @media (max-width: $screen-sm) {
      display: none;
    }
  }
}

.nav-group {
  a {
    display: inline-block;
    font-family: $font-headline;
    text-transform: uppercase;
    letter-spacing: .035em;
    text-decoration: none;
  }
}

.nav-main {
  @media (min-width: $screen-sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 38px;
  }
  .nav-group {
    display: inline-block;
    a {
      padding: 6px 0;
      @media (min-width: $screen-sm) {
        padding: 13px 0;
        margin-right: 24px;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        &:last-child {
          margin-right: 0;
        }
        &:hover, &:active, &:focus {
          border-bottom: 2px solid $red;
        }
      }
      @media (max-width: $screen-sm) {
        display: block;
      }
    }
  }
  .hr-v {
    height: 48px;
    @media (max-width: $screen-sm) {
      height: 1px;
      width: 64px;
      margin: 16px 0;
      background-color: tint($red, 50%);
      &.first {
        display: none;
      }
    }
  }
}

.nav-secondary {
  @media (min-width: $screen-sm) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-bottom: 1px solid $border-color;
    margin-bottom: 24px;
  }
  .tagline {
    font-size: .75rem;
    color: $red;
    opacity: .85;
    @media (min-width: $screen-sm) {
      flex: 1;
      margin-left: 40px;
    }
    @media (max-width: $screen-sm) {
      position: absolute;
      bottom: 30px;
      right: 24px;
    }
  }

  .nav-item-donate {
    background-color: $red;
    color: $white;
    font-family: $font-headline;
    letter-spacing: .035em;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    padding: 11px 40px 13px;
    @media (max-width: $screen-sm) {
      display: block;
      margin: 16px 0 24px;
    }
  }
}

.social-links {
  margin-right: 16px;
  li {
    display: inline-block;
    margin-right: 2px;
  }
  a {
    svg {
      height: 14px;
      width: auto;
      @media (max-width: $screen-sm) {
        height: 20px;
        width: auto;
      }
    }
    span {
      display: inline-block;
      text-indent: -9999px;
    }
    &:hover {
      svg {
        path {
          fill: shade($red, 10%);
        }
      }
    }
  }
}

.search-link {
  display: block;
  background-image: url(../images/icon-search.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: left center;
  @media (min-width: $screen-sm) {
    width: 18px;
    height: 40px;
    text-indent: -9999px;
    background-position: right center;
  }
  @media (max-width: $screen-sm) {
    padding-left: 22px;
    margin: 24px 0;
    background-size: 14px 14px;
  }
}

.nav-mobile {
  display: none;
  @media (max-width: $screen-sm) {
    display: block;
  }
}

.nav-mobile-header {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.nav-mobile-logo {
  flex: 1;
  img {
    height: 40px;
    width: auto;
  }
}

.nav-mobile-links {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  .nav-group {
    display: flex;
    justify-content: space-between;
    a {
      padding: 13px 0 14px;
      font-size: 0.9375rem;
      &.donate {
        font-weight: 700;
      }
      @media (max-width: 360px) {
        font-size: .875rem;
      }
    }
  }
  @media (min-width: $screen-sm) {
    display: none;
  }
}

#nav-anchor {
  display: block;
  width: 72px;
  height: 40px;
  background-image: url(../images/icon-nav.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 14px;
  border-left: 1px solid $border-color;
  margin: 16px 0;
}


////////////////////////////////////////////////
////////////////// Site Footer /////////////////
////////////////////////////////////////////////


.site-footer {
  background-color: $red;
  h4 {
    color: $white;
  }
  @media (min-width: $screen-sm) {
    padding: 40px 0 0;
  }
  .nav-group {
    margin-bottom: 32px;
    a {
      display: block;
      color: $white;
      margin-bottom: 12px;
      &:hover {
        color: tint($red, 75%);
      }
    }
  }
  .social-links {
    margin-top: 40px;
    @media (min-width: $screen-sm) {
      margin-top: 80px;
    }
    svg {
      height: 18px;
      path {
        fill: $white;
      }
    }
    a:hover {
      svg path {
        fill: tint($red, 75%);
      }
    }
  }
}

.footer-body {
  @media (min-width: $screen-sm) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
  }
}

.footer-group {
  padding: 16px;
  @media (min-width: $screen-sm) {
    padding: 0 40px;
  }
}

.footer-logo {
  display: inline-block;
  width: 112px;
  height: 112px;
  display: block;
  border-radius: 56px;
  box-shadow: $default-box-shadow;
  &:hover {
    box-shadow: $hover-box-shadow;
  }
  img {
    width: 112px;
    height: 112px;
  }
}

.footer-logos, .footer-nav {
  border-right: 1px solid shade($red, 20%);
}

.footer-copyright {
  background-color: shade($red, 50%);
  padding: 12px 0;
  .container {
    display: flex;
    align-items: center;
  }
  p {
    font-size: 0.8125rem;
    color: tint($red, 65%);
    vertical-align: middle;
    flex: 1;
    padding-right: 16px;
  }
  img {
    width: 40px;
    height: 24px;
  }
}


////////////////////////////////////////////////
///////////////// News & Posts /////////////////
////////////////////////////////////////////////



.news-index {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
  margin-top: 64px;
}

.news-index-sidebar {
  grid-column: 1 / 4;
  h1 {
    padding-bottom: 64px;
    border-bottom: 1px solid $border-color;
  }
}

.news-index-sidebar-wrap {
  position: sticky;
  top: 8px;
}

.news-index-list {
  grid-column: 5 / -1;
  padding-top: 6px;
  h3 {
    font-size: 2.25rem;
  }
}

.news-index-item {
  padding-bottom: 40px;
  border-bottom: 1px solid $border-color;
  margin-bottom: 40px;
  a {
    text-decoration: none;
  }
}

.news-list-summary {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 24px;
}

.news-list-meta {
  grid-column: 1 / 3;
  p {
    font-size: 0.875rem;
    font-weight: 600;
    color: $blue-light;
  }
}

.news-list-summary-text {
  grid-column: 3 / -1;
  p {
    font-size: 1.125rem;
  }
}

.news-item {
  margin-bottom: 40px;
}

.news-header {
  margin-top: 32px;
  @media (min-width: $screen-sm) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 64px;
  }
  h1 {
    text-transform: none;
    font-size: 3rem;
    font-family: $font-default;
    font-weight: 400;
    color: $blue-dark;
    letter-spacing: 0;
    line-height: 1.35;
    grid-column: 4 / -1;
    @media (max-width: $screen-sm) {
      font-size: 1.75rem;
      margin-top: 8px;
    }
  }
  h6 {
    margin-left: 2px;
    grid-column: 1 / 4;
    color: $blue-dark;
    @media (min-width: $screen-sm) {
      margin-top: 16px;
    }
    span {
      font-weight: 400;
      color: tint($blue-grey, 35%);
    }
  }
}

.news-body {
  margin-bottom: 24px;
  @media (min-width: $screen-sm) {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
  }
  .article {
    margin-bottom: 40px;
    @media (min-width: $screen-sm) {
      grid-column: 4 / -1;
      display: grid;
      grid-gap: 0 24px;
      grid-template-columns: repeat(8, 1fr);
    }
    .news-feature-image {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
      margin-bottom: 32px;
      grid-column: 1 / -1;
    }
    .news-summary {
      font-size: 1.125rem;
      color: $red;
      grid-column: 1 / -2;
      margin-bottom: 32px;
      @media (min-width: $screen-sm) {
        font-size: 1.375rem;
      }
    }
    .news-content {
      grid-column: 1 / -2;
    }
  }
  .meta {
    @media (min-width: $screen-sm) {
      grid-column: 1 / 4;
      grid-row: 1 / -1;
    }
  }
}

.meta {
  p, li {
    color: $blue-dark;
    margin-top: 8px;
  }
  a {
    color: $blue-dark;
  }
}

.meta-item {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid $border-color;
}

.meta-item.news-author {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  p {
    font-size: 1.375rem;
    margin-top: 2px;
  }
}

.meta-item.news-projects {
  position: sticky;
  top: 22px;
  background-color: $tan;
  padding: 16px 16px 19px;
  border-bottom: none;
  border-radius: 2px;
}

.author-image {
  width: 64px;
  height: 64px;
  border-radius: 2px;
  overflow: hidden;
  background-color: $blue-grey;
  margin-right: 16px;
  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    opacity: .85;
  }
}


////////////////////////////////////////////////
/////////////////// Projects ///////////////////
////////////////////////////////////////////////


.project-item {

}

.project-header {
  h1 {
    margin-top: 40px;
    @media (min-width: $screen-xs) {
      margin-top: 64px;
    }
  }
  .project-header-meta {
    margin-top: 12px;
  }
}

.project-header-meta {
  p {
    font-size: 0.875rem;
    font-weight: 600;
  }
}

.project-involvement {
  color: $orange;
  display: inline-block;
  &:after {
    content: '·';
    color: $blue-grey;
    margin-left: 4px;
    display: inline-block;
  }
}

.project-countries {
  display: inline;
  margin-left: 4px;
}

.project-country {
  color: $red;
  &:after {
    content: ', ';
    text-decoration: none;
    color: tint($red, 50%);
  }
  &:last-child {
    &:after {
      content: '';
    }
  }
  a {
    color: $red;
  }
}

.project-body {
  @media (min-width: $screen-sm) {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
  }
  .article {
    border-top: 1px solid $border-color;
    margin: 24px 0 40px;
    padding-top: 24px;
    @media (min-width: $screen-sm) {
      grid-column: 1 / 10;
      display: grid;
      grid-gap: 0 24px;
      grid-template-columns: repeat(8, 1fr);
      padding-top: 40px;
    }
  }
  .project-summary {
    grid-column: 1 / -1;
    p {
      font-size: 1.25rem;
      color: $red;
      @media (min-width: $screen-sm) {
        font-size: 1.5rem;
      }
    }
  }
  .project-feature-image {
    grid-column: 1 / -1;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-top: 24px;
  }
  .project-content {
    grid-column: 2 / -2;
  }
  .meta {
    padding-top: 40px;
    border-top: 1px solid $border-color;
    margin: 24px 0 40px;
    @media (min-width: $screen-sm) {
      grid-column: 10 / -1;
    }
  }
}

.meta-item.project-impact {
  padding-bottom: 40px;
}

.project-index {
  h6 {
    margin-bottom: 16px;
  }
}

.project-map-area {
  height: 500px;
  background-color: tint($red, 85%);
  margin-bottom: 40px;
  position: relative;
}

.project-index-header {
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid $border-color;
}

.project-index-areas {
  padding: 24px 0 20px;
  background-color: rgba(255,255,255,.65);
  .btn {
    margin-bottom: 4px;
  }
}

.project-index-highlights {

}
