.views-send-select-all-markup {
  display: none;
}

/* "Select all" for table styles. */
.views-send-selection-form thead .form-type-checkbox {
  margin: 0;
}
.views-send-table-select-all {
  display: none;
}
.views-table-row-select-all {
  display: none;
}
.views-table-row-select-all td {
  text-align: center;
}
.views-send-table-select-this-page {
  margin: 0 !important;
  padding: 2px 5px !important;
}

/* Generic "select all" */
.views-send-fieldset-select-all {
  text-align: center;
  width: 210px;
  padding: 0.6em 0;
}
.views-send-fieldset-select-all .form-item {
  margin-bottom: 0;
}
.views-send-fieldset-select-all div {
  padding: 0 !important;
  margin: 0 !important;
}


form.views-send-preview label {
  float: left;
  clear: both;
  padding: 2px;
}

form.views-send-preview .views-send-preview-value {
  margin-left: 100px;
  overflow: auto;
  border: 1px solid #bbbbbb;
  padding: 2px;
}

#views-send-preview-to {
  height: 50px;
}

#views-send-preview-message {
  height: 150px;
  white-space:pre;
}

#views-send-preview-headers, #views-send-preview-attachments {
  height: 80px;
  font-family: monospace;
}
