/**
 * @file
 * Styling for contextual links look and feel.
 */
/**
 * Contextual links.
 */
.contextual-links {
  left: 0;
  right: auto;
  -webkit-border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  -ms-border-radius: 0 4px 4px 4px;
  -o-border-radius: 0 4px 4px 4px;
  border-radius: 0 4px 4px 4px;
}
