<a class="module link-through project-module" href="{{ project.url }}">

  <div class="module-details">

    <div class="module-text project-header-meta">

      <h3>{{ project.title }}</h3>

      <p class="project-involvement">
        {% if project['Is Community-Led'] %}
          Community-Led
        {% else %}
          HOT Program
        {% endif %}
      </p>
      
      {% if project.Country[0] != '' %}
        <p class="project-countries">
          {% for country in project.Country %}
            <span class="project-country">{{ country }}</span>
          {% endfor %}
        </p>
      {% endif %}

    </div>

    <p class="module-cta"><span>Learn more</span></p>
  </div>
  <div class="module-image">
    {% if project['Feature Image'] %}
      <img src="{{ project['Feature Image']}}">
    {% endif %}
  </div>

</a>
