@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/_custom\.scss}line{font-family:\00003206}}
.left {
  float: left;
  padding-right: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/_custom\.scss}line{font-family:\00003211}}
.right {
  float: right;
  padding-left: .5em;
}

/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */
/* =============================================================================
 *   Base
 * ========================================================================== */
/* 
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\0000341}}
html {
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\0000345}}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  color: #333333;
}

/* =============================================================================
 *   HTML Elements
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\0000356}}
h1 {
  font-family: futura;
  color: #d40000;
  font-size: 1.84em;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\0000364}}
h2 {
  font-weight: normal;
  font-family: futura;
  font-size: 1.55em;
  margin-bottom: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\0000371}}
h2.pane-title {
  background-color: #f2f2f2;
  border-color: gray;
  border-style: solid;
  border-width: 2px 0 1px 0;
  text-transform: uppercase;
  font-size: .95em;
  padding: .5em;
  margin-left: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\0000381}}
h2.pane-title a {
  color: gray;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\0000386}}
h2.list {
  line-height: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\0000394}}
h3 {
  font-family: futura;
  font-size: 1.3em;
  margin: 1em 0 0.1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003177}}
pre,
code,
tt,
samp,
kbd,
var {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif;
}

/* =============================================================================
 *   Wrappers
 * ========================================================================== */
/*
 * Page wrapper, includes the .container class which sets the overall page or section width
 * Main wrapper in page.tpl.php, the .container class sets the width of the page, do not add width to it!
 */
/*
 * Wraps all header elements - branding and .region-header
 */
/*
 * Wraps the sidebars the content column
 */
/*
 * Main content column wrapper
 */
/*
 * Wraps the main-content-header, the content region and feed-icons. Use this wrapper to style the entire main content column
 */
/*
 * Wraps the content region, avoid applying styles to this wrapper, its used mainly for position and invisible gutters and can be problematic to style
 */
/*
 * Footer wrapper
 */
/*
 * Panels may need additional margin wrangling when in the $content region
 */
/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width of the contained element - you
 * can style this but never add any width/margin/padding/borders etc to .container
 */
/*
 * Wraps #page
 */
/*
 * Wraps the leaderboard
 */
/*
 * Wraps the header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003264}}
#header-wrapper {
  /* Debug styles, is this working */
  background: rgba(255, 192, 203, 0.5);
}

/*
 * Wraps the nav elements
 */
/*
 * Wraps breadcrumb
 */
/*
 * Wraps messages and help
 */
/*
 * Wraps the secondary content/preface region
 */
/*
 * Wraps the main content column
 */
/*
 * Wraps the tertiary content/postfix region
 */
/*
 * Footer wrapper
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003322}}
#footer-wrapper {
  /* Debug styles, is this working? */
  background: rgba(255, 192, 203, 0.5);
}

/* =============================================================================
 *   Branding
 * ========================================================================== */
/*
 * Wraps all the branding elements, logo, name and slogan
 */
/*
 * Logo
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003343}}
#logo {
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003346}}
#logo img {
  vertical-align: bottom;
}

/*
 * Wrapper for the site name and slogan (hgroup)
 */
/*
 * Site name (h1)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003361}}
#site-name {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003367}}
#site-name a:link, #site-name a:visited {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003372}}
#site-name a:hover, #site-name a:focus {
  text-decoration: underline;
}

/*
 * Site slogan (h2)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003382}}
#site-slogan {
  margin: 0;
}

/* =============================================================================
 *   Page content header
 * ========================================================================== */
/*
 * Main content header wraps the page title, tabs and actions links
 */
/*
 * The main page title (h1)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003400}}
#page-title {
  margin: 0;
}

/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */
/*
 * Feed icons
 */
/*
 * Aggregator feed source
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003418}}
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003426}}
.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/*
 * Generic styles for the more link
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003435}}
.more-link {
  font-size: 1.1em;
}

/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003443}}
ul.links {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003447}}
ul.links.inline {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003451}}
ul.links li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Search results are an ordered list so reset the margin
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003462}}
.search-results {
  margin: 0;
}

/* =============================================================================
 *   Regions
 * ========================================================================== */
/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003477}}
.region .feature .region-two-66-33-second {
  background-color: #f2f2f2;
  border-color: gray;
  border-style: solid;
  border-width: 3px 0 2px 0;
  font-size: .95em;
  height: 324px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003485}}
.region .feature .region-two-66-33-second .region-inner {
  padding: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003489}}
.region .feature .region-two-66-33-second .label-above {
  color: gray;
  text-transform: uppercase;
  font-family: futura;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003495}}
.region .feature .region-two-66-33-second h3 {
  font-size: 1.7em;
  margin: .2em 0 .4em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003502}}
.region .mission {
  font-family: futura;
  font-size: 1.42em;
  padding: 0 .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003509}}
.region .contact .block-inner {
  padding: .5em;
  background-color: #f2f2f2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003514}}
.region .contact .views-field {
  padding: .2em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003518}}
.region .contact .views-label {
  font-weight: bold;
}

/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
/*
 * Regions can be nested, such as when using Panels
 */
/* 
 * Leaderboard region 
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003541}}
.region-leaderboard {
  float: right;
  font-family: futura;
  color: gray;
  font-size: 1.25em;
  margin: 10px;
}

/*
 * Header region, embedded in the #header
 */
/*
 * Generally used to output Drupals help block, if the help module is enabled
 */
/*
 * Secondary content
 */
/*
 * Sits above the main content header, like a content-top region
 */
/*
 * Sits below the main content, like a content-bottom region
 */
/*
 * Sidebars - targets both
 */
/*
 * First sidebar
 */
/*
 * Second sidebar
 */
/*
 * Tertiary content
 */
/*
 * Footer region
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003606}}
.region-footer {
  background-color: gray;
  color: white;
  font-family: futura;
  padding-top: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003613}}
.region-footer a {
  color: white;
}

/* =============================================================================
 *   Links
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003623}}
a {
  text-decoration: none;
  color: #d40000;
}

/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */
/*
 * Use one of the following id's for granular control:
 *  - #menu-bar (menu bar region)
 *  - #primary-menu (main menu)
 *  - #secondary-menu (secondary/user menu)
 * You can target all of these with .nav or div[id$="menu-bar"]
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003651}}
.nav {
  clear: both;
  font-size: 1.25em;
  position: relative;
  top: -30px;
  font-family: futura;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003659}}
.nav ul,
.nav ul.menu {
  margin: 0;
  padding: 0;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003666}}
.nav li,
.nav ul.menu li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003675}}
.nav li a,
.nav ul.menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003686}}
.nav .block {
  margin-bottom: 0;
}

/* =============================================================================
 *   Superfish
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003696}}
ul.sf-menu {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003699}}
ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003713}}
ul.sf-menu li:hover, ul.sf-menu li.sfHover {
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003721}}
ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active {
  outline: 0;
}

/*
 * Superfish blocks
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003735}}
.block-superfish ul {
  margin: 0 !important;
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003746}}
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * Vertical style
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003756}}
.sf-vertical {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003759}}
.sf-vertical li {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003765}}
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul {
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003772}}
.sf-vertical li a {
  padding: 0 10px;
}

/*
 * Navbar style
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003782}}
.sf-navbar {
  padding-bottom: 0 !important;
}

/*
 * Sensible padding for the default style
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003790}}
.sf-menu.sf-style-default a {
  padding: 0 10px;
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003799}}
ul.menu {
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003802}}
ul.menu ul {
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003810}}
ul.menu li {
  margin: 0;
}

/* If li.content exists it's a problem, so reset the padding */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003839}}
.block .menu li.content {
  padding: 0;
}

/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003856}}
.book-navigation .page-up {
  /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
  min-width: 2em;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003862}}
.book-navigation .menu {
  margin-left: 0;
}

/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003872}}
#breadcrumb {
  margin: 10px 0;
  /* If the label is set to show in theme settings the label class is added */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003876}}
#breadcrumb .breadcrumb-label {
  font-size: 1em;
  display: inline;
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003881}}
#breadcrumb .breadcrumb-label:after {
  content: ":";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003886}}
#breadcrumb ol {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003891}}
#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003895}}
#breadcrumb li {
  list-style: none;
  display: inline;
}

/* =============================================================================
 *   Pagers
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003922}}
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003929}}
.item-list ul.pager li {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003934}}
ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003940}}
ul.pager li.pager-current {
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003946}}
.block ul.pager li {
  margin: 0;
}

/*
 * Theme the various states of pager links
 */
/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003983}}
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\00003992}}
#skip-link a {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031003}}
#skip-link a:link, #skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031015}}
#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
  outline: 0;
}

/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031026}}
#tasks {
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031031}}
ul.primary {
  border-bottom-color: #cccccc;
  margin: 20px 0;
  padding: 0 0 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031036}}
ul.primary li {
  display: block;
  float: left;
  margin: 0 1px -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031041}}
ul.primary li a {
  background-color: #f5f5f5;
  border-color: #cccccc;
  margin-right: 1px;
  padding: 0 10px;
  display: block;
  float: left;
  height: 1.5em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031052}}
ul.primary li a:hover, ul.primary li a:focus {
  background-color: #eeeeee;
  border-color: #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031062}}
ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  background-color: white;
  border-bottom-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031070}}
ul.secondary {
  border-bottom: 1px solid #cccccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031075}}
ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031082}}
ul.secondary li a:hover, ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

/* =============================================================================
 *   Action links
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031095}}
ul.action-links {
  margin: 20px 0 0;
  list-style: none;
}

/* =============================================================================
 *  Field Styling
 * ========================================================================== */
/*
 * Wrapper for any field
 */
/*
 * Above and inline classes are on the field wrapper
 */
/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031128}}
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

/*
 * Field types (Core)
 */
/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
/*
 * Taxonomy
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031157}}
.field-type-taxonomy-term-reference {
  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031162}}
.field-type-taxonomy-term-reference.field-label-inline .field-items {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031167}}
.field-type-taxonomy-term-reference.field-label-inline .field-item {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Text
 */
/*
 * Long text
 */
/*
 * Text with summary
 */
/*
 * File
 */
/*
 * Number/Integer
 */
/*
 * Decimal
 */
/*
 * Number float
 */
/*
 * List
 */
/*
 * List boolean
 */
/*
 * List integer
 */
/*
 * List float
 */
/*
 * Field types (Contrib)
 */
/*
 * Named fields
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031260}}
.field-name-submitted-by {
  font-style: italic;
}

/*
 * Underscores in field name are replaced with dashes
 */
/*
 * Image Alignment Theme Settings - included here so you can easily override 
 */
/*
 * Float none setting
 */
/*
 * Float left setting
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031285}}
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}

/*
 * Centered setting
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031294}}
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}

/*
 * Float right setting
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031303}}
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}

/* =============================================================================
 *   Block Styling
 * ========================================================================== */
/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031316}}
.block {
  margin-bottom: 20px;
}

/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */
/*
 * The first block in the region
 */
/*
 * The last block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Block title
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031354}}
.block-title {
  margin: 0;
}

/*
 * Block content wrapper
 */
/*
 * Match item list and block menu margin and padding
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031371}}
.block-content ul,
.block-content ol {
  padding: 0 0 0 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031375}}
.block-content li {
  margin: 0;
  padding: 0;
}

/*
 * Block for the latest news items in the first category
 */
/*
 * Block for the latest news items in the first feed
 */
/*
 * First block created with "Add block" link
 */
/*
 * "Recent blog posts" block
 */
/*
 * "Book navigation" block for the current book's table of contents
 */
/*
 * "Recent comments" block
 */
/*
 * "Active forum topics" block
 */
/*
 * "New forum topics" block
 */
/*
 * Language switcher block
 */
/*
 * Custom menu block
 */
/*
 * "Recent content" block
 */
/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */
/*
 * "Most recent poll" block
 */
/*
 * "Author information" block for the profile of the page's author
 */
/*
 * "Search form" block
 */
/*
 * "Shortcuts" block
 */
/*
 * "Popular content" block
 */
/*
 * "Main menu" block
 */
/*
 * "Management" block for Drupal management menu
 */
/*
 * "Navigation" block for Drupal navigation menu
 */
/*
 * "User menu" block for Drupal user menu
 */
/*
 * "System help" block
 */
/*
 * "Main page content" block
 */
/*
 * "Powered by Drupal" block
 */
/*
 * "User login form" block
 */
/*
 * "Who's new" block for a list of the newest users
 */
/*
 * "Who's online" block for a list of the online users
 */
/* =============================================================================
 *   Node Styling
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031548}}
.node {
  margin-bottom: .3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031565}}
.node .node-title {
  margin: 0;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */
/*
 * Wrapper for the list of comments and its titles
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031623}}
#comments {
  margin: 1.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031627}}
#comments h2.comment-title {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031631}}
#comments h2.comment-form {
  margin: 0;
}

/*
 * Wrapper for a single comment
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031641}}
.comment {
  margin-bottom: 20px;
}

/*
 * Comment title
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031672}}
.comment-title {
  margin: 0;
}

/*
 * Comment states
 */
/*
 * Preview of the comment before submitting new or updated comment
 */
/*
 * "New" marker for comments that are new for the current user
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031704}}
.new {
  color: #cc0000;
}

/*
 * Nested comments are indented
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031712}}
.indented {
  margin-left: 40px;
}

/* =============================================================================
 *   Forms
 * ========================================================================== */
/*
 * Wrapper for a form element (or group of form elements) and its label
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031728}}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #cc0000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031732}}
.form-item label {
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031739}}
.form-item .description {
  font-size: 0.85em;
}

/*
 * Highlight marks and form required mark
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031753}}
.marker,
.form-required {
  color: #cc0000;
}

/*
 * The submit button
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031767}}
.container-inline div,
.container-inline label {
  display: inline;
}

/*
 * Define consistent borders
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031775}}
fieldset {
  border: 1px solid #cccccc;
}

/*
 * Tips for Drupal's input formats
 */
/*
 * Buttons used by contrib modules like Media
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031789}}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031798}}
.password-parent,
.confirm-parent {
  margin: 0;
}

/* =============================================================================
 *   Tables
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031807}}
table {
  margin: 10px 0;
  padding: 0;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031812}}
table.sticky-header {
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031823}}
table,
thead,
tbody,
tr,
th,
td {
  border-color: #cccccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031830}}
table,
td,
th {
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031837}}
caption,
th,
td {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031842}}
thead tr {
  font-weight: 700;
  background-color: #e5e5e5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031849}}
td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031859}}
tbody tr {
  border-top: 0 solid #cccccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031864}}
tr {
  /* Table row striping */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031866}}
tr.odd {
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031873}}
tr.info, tr.even, tr:nth-child(2n+2) {
  border-bottom: 0;
  /*    background-color: $ultralight; */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031882}}
tr.odd td.active {
  background-color: #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031886}}
tr.even td.active {
  background-color: #ebebeb;
}

/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031914}}
#forum td .created,
#forum td .posts,
#forum td .topics,
#forum td .last-reply,
#forum td .replies,
#forum td .pager {
  white-space: normal;
}

/* =============================================================================
 *   Messages
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031925}}
div.messages {
  margin-bottom: 10px;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031930}}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/*
 * Unpublished nodes
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031971}}
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: pink;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/_custom\.scss}line{font-family:\00003196}}
.ie6-7 .node-unpublished p.unpublished > *, .ie6-7
.comment-unpublished p.unpublished > * {
  position: relative;
}

/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031982}}
.maintenance-page .container {
  padding: 40px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031987}}
.maintenance-page #site-name,
.maintenance-page #page-title {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000031994}}
.db-offline .container {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 960px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000032001}}
.db-offline div.messages {
  margin: 20px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000032005}}
.db-offline #content {
  padding: 20px 0;
}

/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */
/*
 * Admin menu overrides
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000032018}}
#admin-menu {
  margin: 0;
  padding: 0;
}

/*
 * Devel Module
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000032027}}
.dev-query {
  background: #eeeeee;
  padding: 30px;
}

/*
 * Styleguide module tweaks
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000032036}}
#styleguide-header {
  padding: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/d7-hot-pantheon\/d7-hot\/sites\/default\/themes\/at_hot\/sass\/global\.styles\.scss}line{font-family:\000032039}}
#styleguide-header .item-list {
  font-family: inherit;
  margin: 0 20px 20px 0;
  min-height: 260px;
  width: auto;
}
