---
title: News
position: 0
layout: default
---

<div class="container news-index">

  <header class="news-index-header">
    <h1>News</h1>
  </header>

  <div class="news-index-body">

    <div class="news-index-sidebar">

      {% for post in paginator.posts limit:1 %}

        <div class="news-index-item first">

          <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>

          <div class="news-list-image">
            {% if post['Feature Image'] %}
              <a href="{{ post.url }}"><img class="news-feature-image" src="{{ post['Feature Image'] }}"></a>
            {% endif %}
          </div>

          <div class="news-list-summary">

            <div class="news-list-meta">
              {% capture post.Person %}{% endcapture %}
                {% assign author = site.people | where: "title", post.Person | first %}
                {% if post.Person %}
                  <p class="news-index-author">{{ author.title }}</p>
              {% endif %}
              <p class="news-index-date">{{ post.date | date: '%e %B, %Y' }}</p>
              {% if post.Country != '' %}
                <p class="news-index-country">
                  {% for country in post.Country %}
                    {% if country != '' and forloop.index > 5 %}
                  {% if forloop.last %}etc.{% endif %}
                    {% elsif country != '' and forloop.index <= 5 %}
                  {{ country }}{% unless forloop.last %},{% endunless %}
                    {% else %}
                      Global
                    {% endif %}
                  {% endfor %}
                </p>
              {% endif %}
            </div>

            <div class="news-list-summary-text">
              <p>{{ post['Summary Text']}}</p>
            </div>
          </div>

        </div>

      {% endfor %}

      <div class="sticky-wrap news-newsletter-wrap">
        <div class="newsletter-signup">
          <h2>Subscribe for updates <br>& announcements</h2>
          {% include newsletter-form.html %}
        </div>
      </div>

    </div>

    <div class="news-index-list">

      {% for post in paginator.posts offset:1 %}

        <div class="news-index-item">

          <div class="news-list-summary">

            <div class="news-list-summary-text {% if post['Feature Image'] %}with-image{% endif %}">

              <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>

              <p>
                {% if post['Summary Text'] %}
                  {{ post['Summary Text']}}
                {% else %}
                  {{ post.excerpt | strip_html | truncatewords:24 }}
                {% endif %}
              </p>
              {% capture post.Person %}{% endcapture %}
              <div class="news-list-meta">
                {% assign author = site.people | where: "title", post.Person | first %}
                  <p class="news-index-author">
                    {% if post.Person %}
                      {% for author in post.Person %}
                        {{ author }}{% unless forloop.last %},{% endunless %}
                        {% if forloop.last %} - {% endif %}
                      {% endfor %}
                    {% endif %}
                    {{ post.date | date: '%e %B, %Y' }}</p>
                      {% if post.Country != '' %}
                        <p class="news-index-country">
                          {% for country in post.Country %}
                            {% if country != '' and forloop.index > 5 %}
                              {% if forloop.last %}etc.{% endif %}
                            {% elsif country != '' and forloop.index <= 5 %}
                              {{ country }}{% unless forloop.last %},{% endunless %}
                            {% else %}
                              Global
                            {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
              </div>
            </div>

            {% if post['Feature Image'] %}
              <div class="news-list-image-sm">
                <a href="{{ post.url }}"><img class="news-feature-image" src="{{ post['Feature Image'] }}"></a>
              </div>
            {% endif %}

          </div>

        </div>

      {% endfor %}

      <div class="news-pagination">

        {% if paginator.previous_page %}
          <div class="prev"><a href="{{ paginator.previous_page_path }}">← Newer posts</a></div>
        {% else %}
          <div class="prev"><span>← Newer posts</span></div>
        {% endif %}

        {% if paginator.next_page %}
          <div class="next"><a href="{{ paginator.next_page_path }}">Older posts →</a></div>
        {% else %}
          <div class="next"><span>Older posts →</span></div>
        {% endif %}

      </div>

    </div>

  </div>

</div>
