---
title: disaster services
layout: default
---

<!-- https://test-apps02.konturlabs.com/hot-activations-landing/#/COVID-19/projects/ alternative link for testing new features or in case the other one is broken (not a mirror) -->

<div class="activations-index activations-index">


  <!--////////////////////////////////-->
  <!--//////// Activations Header ////////-->
  <!--////////////////////////////////-->

<!-- Kontur Map embedding -->

  <div class="activations-index-header">

        <iframe class="kontur-map-area" src="https://apps.kontur.io/hot-activations-landing/" title="Iframe Kontur"></iframe> 


    <div class="activations-panel">
      <!-- Tab links -->
        
        <div class="tab detailsTab">
          <!-- <button id="country-details-btn" class="detailsTabLinks active"  >About Disaster Response</button>
          <div class="country-content">
            <p><br><br>Location is critical to disaster response: first responders need fast, reliable information to reach affected areas post-disaster and prioritize aid. Through rapid response activations, the HOT community works together online using satellite and drone imagery to rapidly generate map data in OpenStreetMap. The resulting data is made available via the Humanitarian Data Exchange (HDX) and can be used to create printed maps, for analysis, or for navigation on the ground.</p>
            <br>
          </div> -->
          <button id="country-details-btn defaultOpen" class="disasterstats active" onclick="switchTab(event, 'biweekly')" onmouseover="switchTab(event, 'biweekly')" >Disaster Updates</button>
          <button id="country-details-btn" class="disasterstats" onmouseover="switchTab(event, 'references')" >Resources/Data</button>
          <button id="country-details-btn" class="disasterstats" onmouseover="switchTab(event, 'about')" >About</button>

        </div>



<!-- bi-weekly updates, manual upload by now -->
    <div id="biweekly" class="tabcontent">

      <div id="country-details" style="padding-top: 15px; justify-content: center" class="detailsTabContent country-contact-wrapper">
        <h4 id="contact-header"></h4>
        <h5 >Activations</h5>
        <div class="country-content">
          <p><b>COVID Vaccination Campaign (GIM), South Sudan:</b> More <a href="https://tasks.hotosm.org/explore?campaign=COVID%20Vaccination">projects</a> released on the Tasking Manager. <a href="https://mapswipe.org/en/get-involved.html">MapSwipe</a>projects also available.</p>
          <p><b>Nyiragongo Eruption, DRC & Rwanda, Support:</b> Request from the local community for better/more recent imagery.</p>

        </div>
        <h5>Size-up/Monitoring</h5>
        <div class="country-content">
          <p><b>Cyclone Tauktae, India/ Pakistan:</b> Size up on Friday, May 14: Have reached out to India / Pakistan OSM focal points</p>
          <p><b>Cyclone Yaas, North Indian Ocean:</b> Monitoring for collaboration/support opportunities/needs.</p>
        </div>
        <h5>Recently concluded</h5>
        <div class="country-content">
          <p><b>Ebola, Regional:</b> Outbreak in DRC declared concluded, the team is concluding the direct monitoring</p>
          <p><b>La Soufriere Eruption, Saint Vincent:</b> No direct requests came from direct coordination with MapAction and CDEMA</p>

        </div>
      </div>
    </div>

<!-- reference to visuals and data downloads, manual upload by now -->

    <div id="references" class="tabcontent">

      <div id="country-details" style="padding-top: 15px; justify-content: center" class="detailsTabContent country-contact-wrapper">
        <h4 id="contact-header"></h4>
        <!-- <h5 >HumanitarianData Exchange (HDX)</h5> -->
        
        <table style="width:100%">
          <tr>
            <th><h5>Event</h5></th>
            <th><h5>HDX</h5></th>
            <th><h5>Resources</h5></th>
          </tr>
          <tr>
            <td><p><b>Volcano Nyiragondo</b></p></td>
            <td><p><a href="https://data.humdata.org/organization/hot?q=Nyiragongo">DRC & Rwanda</a></p></td>
            <td><p><a href="https://drive.google.com/file/d/1AlZLew_wIukWmKGdMFdqU8Mh7E4UfIcA/view?usp=sharing">Exposure map</a></p></td>
          </tr>
          <tr>
            <td><p><b>COVID-19 Vaccination</b></p></td>
            <td><p><a href="https://data.humdata.org/organization/hot">Global</a></p></td>
            <td><p><a href="https://wiki.openstreetmap.org/wiki/COVID-19_Vaccination_Campaign">Wiki page</a></p></td>
          </tr>
          <tr>
            <td><p><b>Cyclone Yaas & Tauktae</b></p></td>
            <td><p><a href="https://data.humdata.org/organization/hot?q=india">India</a>, <a href="https://data.humdata.org/organization/hot?q=pakistan">Pakistan</a></p></td>
            <td><p>N/A</p></td>
          </tr>
          <tr>
            <td><p><b>La Soufriere Eruption, Saint Vincent</b></p></td>
            <td><p><a href="https://data.humdata.org/organization/hot?q=saint vincent">Saint Vincent</a></p></td>
            <td><p>N/A</p></td>
          </tr>
        </table> 

    </div>
  </div>
  
<!-- Disaster services description, no need to update -->

    <div id="about" class="tabcontent">

        <h4 id='filter-header'></h4>
        <h5>About Disaster Response:</h5>
        <p><br><br>Location is critical to disaster response: first responders need fast, reliable information to reach affected areas post-disaster and prioritize aid. Through rapid response activations, the HOT community works together online using satellite and drone imagery to rapidly generate map data in OpenStreetMap. The resulting data is made available via the <a class="externalLink" target="_blank" href="https://data.humdata.org/organization/hot"> <b>Humanitarian Data Exchange (HDX)</b></a> and can be used to create printed maps, for analysis, or for navigation on the ground.</p>
      </div>
     </div>
    </div>

  </div>

</div>



<div class="news-preview">
  <div class="container">

    <header class="module-header">
      <h6>News on Disaster and Activations</h6>
    </header>

    <div class="news-preview-group">

 
      <div class="news-preview-item item-1">
        <div class="news-preview-image">
          <img  src="/uploads/nyiragongo_banner.png">
        </div>
        <div class="news-preview-details">
         <p class="news-preview-meta">23 May 2021</p>
         <div class="news-preview-text">
            <a href="/updates/validators-experienced-mappers-making-an-outsized-difference/"><h4>Nyiragongo Eruption </h4></a>
            <p>
              The volcano Nyiragongo (a GDACS Orange alert score of 1.5) affected the surrounding area of Goma in the Democratic Republic of Congo. The eruption prompted population movement and damaged the built environment.
            </p>
            <p class="news-preview-meta">
              DRC & Rwanda - Support
            </p>
          </div>
        </div>
      </div>


      <div class="news-preview-item item-2">
        <div class="news-preview-image">
          <img  style="object-position: top center"  src="/uploads/hurricanes_dst_banner.png">
        </div>
        <div class="news-preview-details">
         <p class="news-preview-meta">May 2021</p>
         <div class="news-preview-text">
            <a href="/updates/building-a-detailed-flood-model-with-community-mapped-drainage-data-by-the-resilience-academy/"><h4>Tauktae-21 & Yass-21</h4></a>
            <p>         
              Tropical Cyclones Tauktae-21 <a href="https://groups.google.com/a/hotosm.org/g/activation/c/39pLVVGyNQU">(size-up)</a> & Yass-21 <a href="https://groups.google.com/a/hotosm.org/g/activation/c/XOvk5_ZU2ss">(size-up)</a> made landfall in India and Pakistan a couple of days apart. The AWG has been monitoring the situation for opportunities to assist.             </p>
            <p class="news-preview-meta">
              India & Pakistan - Size-up
            </p>
          </div>
        </div>
      </div>


        <div class="news-preview-item item-3">
          <div class="news-preview-image">
            <img  style="object-position: top center"  src="/uploads/covid_activation_banner.png">
          </div>
          <div class="news-preview-details">
           <p class="news-preview-meta">April 2021 - Ongoing </p>
           <div class="news-preview-text">
              <a href="https://wiki.openstreetmap.org/wiki/COVID-19_Vaccination_Campaign"><h4>COVID-19 Vaccination Campaign Kick-off</h4></a>
              <p>
                Mapping for equitable vaccine distribution in more than 20 countries. 
                This activation is organized in coordination with CartONG, MapAction, IMMAP and ESRI. 
                <a href="https://wiki.openstreetmap.org/wiki/COVID-19_Vaccination_Campaign">More info</a>
              </p>
              <p class="news-preview-meta">  
                        Global - Activation
              </p>
            </div>
          </div>
        </div>


      

    </div>

  </div>
</div>





<div class="page-content">

  <div class="home">

    <div class="container">
      <header class="activations-header">
        <h6><p>Maps & Visuals</span></p>
</h6>
      </header>
    </div>

<div class="home-highlights-controls">

  <!-- <div class="activations-controls">
    <div class="control" id="control-left">Left</div>
    <div class="control" id="control-right">Right</div>
  </div> -->

  <div class="home-highlights">

    <div class="activations-highlights-wrapper piwikTrackContent">

            <a href="https://drive.google.com/file/d/1AlZLew_wIukWmKGdMFdqU8Mh7E4UfIcA/view?usp=sharing" class="home-highlight">
              <img src="/uploads/Nyiragongo_twitter.png">
              <div class="home-highlight-title">
                <p>
                  Nyiragongo Volcano Eruption, DRC - Rwanda        
                </p>
                <p><span>           
                  <i>Image showing the extent of lava flows near Goma</i>
            </span></p>
              </div>
            </a>

            <a href="https://drive.google.com/file/d/1Ke74QSjw3_mnNbtS576gT49GSExrjoao/view?usp=sharing" class="home-highlight">
              <img src="/uploads/COVID19_GIMSouthSudan.gif">
              <div class="home-highlight-title">
                <p>
                  COVID-19 Vaccination Campaign, Global              
                </p>
                <p><span>           
                  <i>Mapping of 3 South Sudan projects where CartONG and ArcGIS participated through mapathons. </i>
            </span></p>
              </div>
            </a>


            <a href="https://hotosm.github.io/cv19_map/#" class="home-highlight">
              <img src="/uploads/cv19_interactive_map.png">
              <div class="home-highlight-title">
                <p>
                  COVID-19, Global                
                </p>
                <p><span>           
                  <i>A map that displays the massive campaign that lasted more than a year and had over 400 projects all around the world. </i>
            </span></p>
              </div>
            </a>




    </div>
  </div>
</div>








  <!--////////////////////////////////-->
  <!--////// Disaster Services Highlights //////-->
  <!--////////////////////////////////-->

    <h6><br></br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspHighlighted Projects</h6>
    <br></br>

    <div class="project-index-highlights">

      {% assign sorted-projects = site.projects | sort:"position" %}

      {% assign highlight_count = 0 %}
      {% for project in sorted-projects %}
        {% if project['Impact Area'] contains 'Disaster Response' %}

          {% assign highlight_count = highlight_count | plus: 1 %}
          {% if highlight_count > 3 %}
            {% break %}
          {% endif %}

          {% include blocks/project-highlight.html %}

        {% endif %}
      {% endfor %}

      <div class="hr-h"></div>

    </div>

    {% assign project_head_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains 'Disaster Response' %}

        {% assign project_head_count = project_head_count | plus: 1 %}
        {% if project_head_count > 3 %}



          <h6>More 'Disaster Response' Projects</h6>
          <br></br>
          <div class="project-index-all">

          {% break %}

        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign project_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains 'Disaster Response' %}

        {% assign project_count = project_count | plus: 1 %}
        {% if project_count > 3 %}
          {% unless project_count < 4 %}
            {% include blocks/project-thumb.html %}
          {% endunless %}

        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign project_foot_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains 'Disaster Response' %}

        {% assign project_foot_count = project_foot_count | plus: 1 %}
        {% if project_foot_count > 3 %}

          </div>

          {% break %}

        {% endif %}
      {% endif %}
    {% endfor %}

</div>


<script>
function switchTab(evt, selectedTab) {
  var i, tabcontent, disasterstats;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  disasterstats = document.getElementsByClassName("disasterstats");
  for (i = 0; i < disasterstats.length; i++) {
    disasterstats[i].className = disasterstats[i].className.replace(" active", "");
  }
  document.getElementById(selectedTab).style.display = "block";
  evt.currentTarget.className += " active";

}

document.getElementById("country-details-btn defaultOpen").click();

  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



