---
title: disaster services
position: 0
layout: default
---

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css' rel='stylesheet' />
</head>

<div class="activations-index activations-index">


  <!--////////////////////////////////-->
  <!--//////// Activations Header ////////-->
  <!--////////////////////////////////-->

<!-- Kontur Map embedding --> 

  <div class="activations-index-header">

        <iframe class="kontur-map-area" src="https://apps.kontur.io/hot-activations-landing/" title="Iframe Kontur"></iframe> 


    <div class="activations-panel">
      <!-- Tab links -->
        
        <div class="tab detailsTab">

          <button id="country-details-btn defaultOpen" class="disasterstats active" onclick="switchTab(event, 'biweekly')" onclick="switchTab(event, 'biweekly')" >Recent Updates</button>
          <button id="country-details-btn" class="disasterstats" onclick="switchTab(event, 'references')" >Resources/Data</button>
          <button id="country-details-btn" class="disasterstats" onclick="switchTab(event, 'about')" >About</button>

        </div>



              <div id="biweekly" class="tabcontent">

                  <div id="country-details" style="padding-top: 15px; justify-content: center" class="detailsTabContent country-contact-wrapper">
                      <h4 id="contact-header"></h4>
                      
                      <div class="country-content">

                      {% assign sorted_news_feed = site.disaster-services | sort: 'date' | reverse %}  
                      {% assign highlight_count1 = 0 %}  

                      <!-- <h5>Feed</h5> -->
                          {% for post in sorted_news_feed %} 
                      

                         
                          {% if post.Post-type contains 'update' or post.Post-type contains 'timeline' %}
                          <img src='/uploads/{{ post['Event type'] }} icon.png' style="position: absolute; display:inline; width: 22px;"></img>
                          <p style="position: relative; padding-left: 30px;"><b>{{ post.date | date: '%e %b %Y' }}, {{ post.title }}:</b>  
                                    {% if post['Summary Text'] %}  
                                      {{ post['Summary Text'] | truncatewords:27 }}, <a href="{{ post.url }}">more</a>
                                    </p>
                                      {% assign highlight_count1 = highlight_count1 | plus: 1 %}
                                      {% if highlight_count1 > 4 %}
                                      {% break %}  
                                      {% endif %}

                                        {% else %}
                                        {% break %} 
                                   {% endif %} 
                                  {% endif %}    
                          {% endfor %}
                        </div>
                        <h5 style="text-align: right;"><a href="/disaster-services/index.html" style="color:#d93c3d;">Full list of Events and Updates</a></h5>

                      </div>
                    </div> 
      
    <!-- reference to visuals and data downloads, manual upload by now -->

            <div id="references" class="tabcontent">

              <div id="country-details" style="padding-top: 5px; justify-content: center" class="detailsTabContent country-contact-wrapper">
                <h4 id="contact-header"></h4>
                <!-- <h5 >HumanitarianData Exchange (HDX)</h5> -->  

                <table style="width:100%">

                  <tr>
                    <th><h5>Event</h5></th>
                    <th><h5>HDX</h5></th>
                    <th><h5>Resources</h5></th>
                  </tr> 
                  <tr>

                    {% assign sorted_downloads = site.disaster-services | where: "Status", 'size-up' | sort: 'date' | reverse %}  
                    <!-- {% if post.HDX != '' %} -->

                    {% for post in sorted_downloads limit:5 %}
 
                          <td><p><b>{{ post['Event Name'] }}</b></p></td>
                          <td><p>{{ post.HDX}}</p></td>
                          <td><p>{{ post.Resources}}</p></td>
                        </tr> 

                    {% endfor %}
                    <!-- {% endif %}  -->  

                </table> 

              </div>
              <h5 style="text-align: right;"><a href="https://data.humdata.org/organization/hot" style="color:#d93c3d;">More Data and Resources</a></h5>
            </div>
      
    <!-- Disaster services description, no need to update -->

              <div id="about" class="tabcontent">

                  <h4 id='filter-header'></h4>
                  <h5>About Disaster Response:</h5>
                  <p><br><br>Location is critical to disaster response: first responders need fast, reliable information to reach affected areas post-disaster and prioritize aid. Through rapid response activations, the HOT community works together online using satellite and drone imagery to rapidly generate map data in OpenStreetMap. The resulting data is made available via the <a class="externalLink" target="_blank" href="https://data.humdata.org/organization/hot"> <b>Humanitarian Data Exchange (HDX)</b></a> and can be used to create printed maps, for analysis, or for navigation on the ground.</p>
                  <h5 style="text-align: right;"><a href="/hot-activation-protocol" style="color:#d93c3d;">Activation Protocol</a></h5>
              </div>
        </div>
        </div>

      </div>

    </div>

  </div>



<div class="news-preview">
  <div class="container" style="z-index: 999; position: relative;">

    <header class="module-header">
      <h6>Events Timeline</h6>
    </header>

    <div class="news-preview-group" >


      {% assign sorted = site.disaster-services | where: "Post-type", "timeline" | sort: 'date' | reverse %} 
      

        {% for post in sorted limit:3 %} 


            <div class="news-preview-item item-{{ forloop.index }}">
              <div class="news-preview-image">
                {% if post['Feature Image'] == post['Event type'] %}
                <img {% if post['Is image top aligned'] %} style="object-position: top center" {% endif %} src="https://cdn.hotosm.org/website/{{ post['Feature Image'] | replace: " ", "+" }}.png"  >
                {% else %}
                <img {% if post['Is image top aligned'] %} style="object-position: top center" {% endif %} src="/uploads/{{ post['Feature Image'] }}.png"  >
                {% endif %} 
              </div>
              <div class="news-preview-details">
              <p class="news-preview-meta">{{ post.date | date: '%e %b %Y' }}</p>
              <div class="news-preview-text">
                  <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
                  <p>
                    {% if post['Summary Text'] %}
                      {{ post['Summary Text']}}
                    {% else %}
                      {{ post.excerpt | strip_html | truncatewords:24 }}
                    {% endif %}
                  </p>
                  <p class="news-preview-meta">
                    {% if post.Country != '' %}
                      {% for country in post.Country %}
                        {% if country != '' %}
                          {% if post.Country.size <= 3 %}
                            {{ country }}{% unless forloop.last %},{% endunless %}
                          {% else %}
                            {% assign count = post.Country.size %}
                            {{post.Country[0]}} and {{ count | minus:1 }} other countries
                            {% break %}
                          {% endif %}
                        {% else %}
                          Global
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    {% if post['Event type'] %}
                      -{% for event in post['Event type']%}
                        {{ event }}{% unless forloop.last %},{% endunless %}
                      {% endfor %}
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
      {% endfor %}

    </div>
    <h6 style="text-align: right;"><a href="/disaster-services/archive">Full list of Events and Disasters</a></h6>

  </div>
</div>


<div class="page-content">

  <div class="home">

    <div class="container">
      <header class="activations-header">
        <h6><p>Maps & Media</span></p>
</h6>
      </header>
    </div>

<div class="home-highlights-controls">

  <!-- <div class="activations-controls">
    <div class="control" id="control-left">Left</div>
    <div class="control" id="control-right">Right</div>
  </div> -->


  <div class="home-highlights">

    <div class="activations-highlights-wrapper piwikTrackContent">
      {% assign sorted-media = site.disaster-services | where: "Post-type", "Media" | sort: 'date' | reverse %} 
      

      {% for post in sorted-media limit:3 %} 
    

            <a href="{{ post.url }}" class="home-highlight">
              <img {% if post['Is image top aligned'] %} class="fit" style="object-position: top center; height: 100%; " {% endif %} src="https://cdn.hotosm.org/website/{{ post['Feature Image'] | replace: " ", "+" }}.png"  >
              <div class="home-highlight-title">
                <p>
                  {{ post.title }}
                </p>
                <p><span>           
                  <i> {{ post['Summary Text'] | strip_html | truncatewords:20 }}</i>
            </span></p>
              </div>
            </a>

            {% endfor %} 

    </div>

  </div>
  <h6 style="text-align: right; padding:0% 1.7%"><a href="/disaster-services/disaster-services-media">Maps & Media Archive</a></h6>

</div>








  <!--////////////////////////////////-->
  <!--////// Disaster Services Highlights //////-->
  <!--////////////////////////////////-->

    <h6><br></br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspHighlighted Projects</h6>
    <br></br>


    <div class="project-index-highlights">

      {% assign sorted-projects = site.projects | sort:"position" %}

      {% assign highlight_count = 0 %}
      {% for project in sorted-projects %}
        {% if project['Impact Area'] contains 'Disaster Response' %}

          {% assign highlight_count = highlight_count | plus: 1 %}
          {% if highlight_count > 3 %}
            {% break %}
          {% endif %}

          {% include blocks/project-highlight.html %}

        {% endif %}
      {% endfor %}

      <div class="hr-h"></div>

    </div>

    {% assign project_head_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains 'Disaster Response' %}

        {% assign project_head_count = project_head_count | plus: 1 %}
        {% if project_head_count > 3 %}



          <h6>More 'Disaster Response' Projects</h6>
          <br></br>
          <div class="project-index-all">

          {% break %}

        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign project_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains 'Disaster Response' %}

        {% assign project_count = project_count | plus: 1 %}
        {% if project_count > 3 %}
          {% unless project_count < 4 %}
            {% include blocks/project-thumb.html %}
          {% endunless %}

        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign project_foot_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains 'Disaster Response' %}

        {% assign project_foot_count = project_foot_count | plus: 1 %}
        {% if project_foot_count > 3 %}

          </div>

          {% break %}

        {% endif %}
      {% endif %}
    {% endfor %}

</div>


<script>
function switchTab(evt, selectedTab) {
  var i, tabcontent, disasterstats;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  disasterstats = document.getElementsByClassName("disasterstats");
  for (i = 0; i < disasterstats.length; i++) {
    disasterstats[i].className = disasterstats[i].className.replace(" active", "");
  }
  document.getElementById(selectedTab).style.display = "block";
  evt.currentTarget.className += " active";

}

document.getElementById("country-details-btn defaultOpen").click();

  </script>