footer {
  @include isolation-span(12,1,'both');
  background-color: $lightgrey;
  margin-top: 50px;
  padding: 30px 0;

  h2.block__title {
    margin: 0 auto;
    font-size: $font-size-normal;
    font-weight: bold;
    font-family: $font-sans-serif;

    @include breakpoint($desktop) {
      max-width: 200px;
    }
  }

  .block {
    margin: 30px 0;
    text-align: center;
    clear: both;
  }

  .button {
    margin: 10px auto;
    max-width: 170px;
  }

  input[type=submit] {
    margin: 10px auto;
  }

  // Newsletter
  #block-mailchimp-signup-hot-newsletter {

    h2.block__title {
      margin: 0 auto;
    }

    .mailchimp-signup-subscribe-form >div {
      >div, >input {
        margin-right: -4px;
        display:inline-block;
        vertical-align:top;
      }

      .form-item, .form-actions {
        margin: 0;
      }
    }

    @include breakpoint($desktop) {
      @include grid-span (3,1);
    }
  }


  // Mailing list link
  #block-block-7 {
    @include breakpoint($desktop) {
      @include grid-span (3,4);
    }
  }

  // Email link
  #block-block-8 {
    @include breakpoint($desktop) {
      @include grid-span (3,7);
    }
  }

  // Guidestar logo
  #block-block-9 {
    img {
      margin-top: 20px;
    }
    @include breakpoint($desktop) {
      @include grid-span (3,10);
    }
  }

  // Organizational note
  #block-block-4 {
    margin: 20px 0;
    text-align: center;
    font-size: $font-size-small;
  }


  // User login link
  #block-system-user-menu {
    h2 {
      display: none;
    }
    ul, li {
      list-style-type: none;
      list-style-image: none;
    }
  }

  #block-system-user-menu {
    margin: 0 auto;
    a {
      color: $darkgrey;
      font-size: $font-size-small;
    }
  }
}
