@include breakpoint($desktop) {
  .front .l-highlighted {
    margin-top: -41px;
  }
}

.l-highlighted {

  #block-views-project-projects-featured-block {

    overflow: hidden;
    position: relative;

    img {
      width: 100%;
    }

    @include breakpoint($desktop) {
      height: 450px;
      img {
        top: 25%;
        transform: translateY(-25%);
        z-index: -10;
        position: absolute;
      }
    }

    .views-field-field-subtitle {
      margin: 0 auto;
      margin-top: 40px;
      @include breakpoint($desktop) {
        margin-top: 80px;
      }
      width: 80%;

      >div {
        background-color: $red;
        color: $white;
        font-weight: bold;
        font-size: $font-size-normal;
        margin-bottom: 15px;
        padding: 5px 10px;

        @include breakpoint($desktop) {
          width: 300px;
        }
      }
    }

    .views-field-body {

      font-size: $font-size-normal;
      line-height: 150%;
      margin: 0 auto;
      width: 80%;

      h3 {
        font-size: $font-size-bigger;
        font-weight: bold;
        margin: 10px 0 20px 0;
      }

      @include breakpoint($desktop) {
        >div {
          background-color: rgba(255, 255, 255, 0.7);
          padding: 10px;
          width: 300px;
        }
      }
    }
  }

  // Site mission block
  #block-block-1 {
    border-top: solid 2px $red;
    border-bottom: solid 2px $red;
    padding: 20px;
    margin: 30px auto;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.3em;
  }
}
