body.front {

  // get involved block
  #block-block-6 {
    clear: both;
    @include isolation-span (12,1);

    ul {
      li {
        text-align:center;
        margin-bottom: 50px;
      }
    }
    h2 {
      text-align: center !important;
    }

    @include breakpoint($desktop) {

      ul {
        li:nth-of-type(1) {
          @include grid-span(4,1);
        }
        li:nth-of-type(2) {
          @include grid-span(4,5);
        }
        li:nth-of-type(3) {
          @include grid-span(4,9);
        }
      }
    }
  }
  #block-views-updates-updates-all-block {

    // First element with text over image
    .first-news-element {
      background-color: rgba(255, 255, 255, 0.8);
      position: relative;
      padding: 0 4px;
      h3 {
        padding: 20px 0 10px 0;
        margin: 0;
      }
    }
    .views-field-title-field.first-news-element {
      margin-top: -200px;
    }

    .views-field-created.first-news-element {
      font-style: italic;
      padding-bottom: 6px;
      margin: 0;
    }
    .views-field-body.first-news-element {
      padding-bottom: 6px;
      margin: 0;
    }
    .views-field-view-node.first-news-element {
      padding-bottom: 50px;
    }

    .attachment {
      .views-field-created {
        font-style: italic;
        margin-bottom: 6px;
      }
      .views-field-body {
        margin-bottom: 6px;
      }
    }

    .view-content img {
      width: 100%;
      height: auto;
    }

    .more-link {
      margin: 10px 0;
    }


  }

  // Twitter widget
  #block-block-5 {
    margin-top: 56px;
    #twitter-widget-0 {
      width: 100% !important;
    }
  }

  @include breakpoint($desktop) {
    #block-views-updates-updates-all-block {
      @include isolation-span(8,1, 'both');
    }

    // Twitter widget
    #block-block-5 {
      @include grid-span(4,9);
    }
  }
}
