@include breakpoint($desktop) {
  .l-navigation {
    height: 40px;
  }
  .front .l-navigation {
      background-color: rgba(255, 255, 255, 0.7);
  }
}

.l-navigation {

  position: relative;
  z-index: 99;
  margin-top: 20px;
  background-color: $lightgrey;
  border-bottom: solid $red 2px;
  width: 100%;

  #navigation-toggle {
    background:$middlegrey;
    color:$black;
    padding: 6px;
    font-size: $font-size-small;
    font-weight: bold;
    width: 70px !important;
    text-decoration: none;

    @include breakpoint($desktop) {
      display: none;
    }
  }
  // Main menu block
  #block-menu-block-hot-core-1 {

    .block__title {
      display: none;
    }

    ul.menu {

      display: block;
      font-family: $font-serif;
      list-style-type: none;
      list-style-image: none;

      @include breakpoint($desktop) {
        position: absolute;
      }

      li {
        padding: 10px 20px 10px 0px;
        border-bottom: solid 1px $middlegrey;
        list-style-type: none;
        list-style-image: none;

        @include breakpoint($desktop) {
          float: left;
          border-bottom: none;
        }
      }

      li.last {
        border-bottom: none;
      }
    }

    a {
      font-size: 1.2em;
      text-decoration: none;
      color: $black;
    }
    a:hover {
      color: $red;
    }
  }
}
