
// Look and feel of news items in listings
.view-id-updates,
.view-id-showcases.view-display-id-page {
  .views-field-created {
    font-style: italic;
    margin-bottom: 6px;
  }
  .views-field-body {
    margin-bottom: 6px;
  }
  .view-content .views-field-field-images {
    height: 300px;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: auto;
      display:block;
      margin:auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    };
  }
  .more-link {
    margin: 10px 0;
  }
}

.node-type-update .node--update,
.node-type-showcase .node--showcase {


  .field--name-body {
    @include breakpoint($desktop) {
      @include grid-span(8,1);
    }
  }
  .field--name-upload {
    @include isolation-span(8,1,'both');
  }
  .field--name-field-information {
    .views-row {
      margin-bottom: 0;
    }
    background-color: $lightgrey;
    .views-field {
      margin: 20px;
    }
    .views-label {
      font-weight: bold;
    }
    @include breakpoint($desktop) {
      @include grid-span(4,9);
    }
  }
}
