.node-type-book {

  .page-icon,
  #block-block-2 ul li {
    text-align: center;
    margin-bottom: 50px;
  }

  .node--book {
    position: relative;


    .image-banner {
      width: 100%;
      height: auto;
      margin: 20px 0;
    }

    .banner-wrapper {
      margin: 20px auto;
      height: 205px;
      @include breakpoint($desktop) {
        height: 450px;
      }
      overflow: hidden;
      position: relative;

      .image-banner {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }

    @include breakpoint($desktop) {
      .page-icon {
        @include isolation-span(4,1,'both');
      }
      .page-text {
        @include grid-span(8,5);
      }
    }
  }

  // Get deeper involved block
  #block-block-2 {
    margin-top: 50px;

    @include breakpoint($desktop) {

      @include isolation-span(12,1,'both');

      li:nth-child(1) {
        @include isolation-span(4,1,'both');
      }

      li:nth-child(2) {
        @include grid-span(4,5);
      }

      li:nth-child(3) {
        @include grid-span(4,9);
      }
    }
  }
}

// About page
.page-node-7 {
  .node__content h2,
  .node__content ol {
    @include isolation-span(12,1,'both');
  }

  li {
    h1, h2, h3, h4, h5 {
      text-align: left;
    }
  }

  @include breakpoint($desktop) {
    .node__content ul {
      margin-bottom: 50px;

      li:nth-child(2n+1) {
        @include isolation-span(6,1,'both');
      }
      li:nth-child(2n+2) {
        @include grid-span(6,7);
      }
    }

    ol {
      li:nth-child(3n+1) {
        @include isolation-span(4,1,'both');
      }
      li:nth-child(3n+2) {
        @include grid-span(4,5);
      }
      li:nth-child(3n+3) {
        @include grid-span(4,9);
      }
    }
  }
}



.node-type-book.page-node-260 {

  p {
    margin: 10px 0;
  }
  iframe {
    width: 100%;
  }

  .hot-two-column-layout {
    margin: 50px 0;

    @include breakpoint($desktop) {

      div:nth-of-type(1) {
        @include isolation-span(6,7,'both');
      }
      div:nth-of-type(2) {
        @include grid-span(6,1);
      }
    }
  }
}
.node-type-book.page-node-370,
.page-get-involved-disaster-mapping  {

  .pane-views-panes {
    @include isolation-span(12,1,'both');
  }

  .node__content {
    .field--name-body >div >div {
      >div {
        margin-bottom: 50px;
      }
      .page-icon {
        text-align: center;
      }
    }

    @include breakpoint($desktop) {

      .field--name-body {
        .page-icon {
          @include isolation-span(4,9,'both');
        }
        .page-description {
          @include grid-span(8,1);
        }
        .page-first-item {
          @include isolation-span(6,1,'both');
        }
        .page-last-item {
          @include grid-span(6,7);
        }

      }
    }

    ol {
      margin: 10px 0 10px 20px;
      font-size: 1.3em;
      line-height: 1.8em;
    }

    ul {
      margin-top: 25px;

      li {
        list-style-type: none;
        clear: both;
        margin-bottom: 20px;

        img {
          float: left;
          padding-right: 10px
        }
      }
    }
  }
}
