

.leadership .panel-panel,
.page-staff .panel-panel {
  .panel-pane {
    clear: both;
    padding-top: 20px;
  }
  .panel-pane:nth-of-type(1) {
    padding-top: 0 !important;
  }
  .views-row {
    clear: both;
    margin-bottom: 50px;
  }
  .views-field-picture {
    float: left;
    margin: 0 30px 10px 0;
  }
  .views-field-uid,
  .views-field-name{
    font-weight: bold;
    font-size: 13px;
  }
  .views-field-field-hot-leadership {
    color: #666;
  }
  .pane-leadership-panel-pane-director {
    clear: both;
  }
  .pane-leadership-panel-pane-director {
  }
}


.view-id-user_lists {
  margin-top: 50px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  li {
    display: inline-block;
    height: 100px;
    margin: 0 1em 1em 0 !important;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100px;
  }
  .view-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .view-content:after {
    content: "";
    display: table;
    clear: both;
  }
  .views-row {
    float: left;

    img {
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      transition: all 300ms;
      display: block;
      height: auto;
      max-width: 100%;
    }

    span.text-content {
      padding: 5px;
      background: rgba(0,0,0,0.7);
      color: white;
      cursor: pointer;
      display: table;
      height: 90px;
      left: 0;
      position: absolute;
      top: 0;
      width: 90px;
      opacity: 0;
      -webkit-transition: opacity 500ms;
      -moz-transition: opacity 500ms;
      -o-transition: opacity 500ms;
      transition: opacity 500ms;
    }
    span.text-content span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      .full-name {
        margin: 0;
        padding: 0;
        font-weight:bold;
      }
    }
  }
  li.views-row:hover {
    span.text-content {
      opacity: 1;
    }
    img {
      max-width: 100%;
      -webkit-transform: scale(1.4);
      -moz-transform: scale(1.4);
      transform: scale(1.4);
    }
  }
}

.view-display-id-page_working_groups_with_members {

  div.views-row-first{
    clear: both;
  }
  div {
    float: left;
    img {
      padding-right: 10px;
      width: 30px;
      height: 30px;
      padding-top: 10px;

    }
  }
  h3 {
     clear: both;
     margin-bottom: 0;
  }
  .views-row-last {
    margin-bottom: 3em;
  }
}


.page-user {

  p {
    margin: 10px 0;
  }

  h2 {
    margin: 20px 0 10px 0;
    padding: 0;
    font-family: $font-sans-serif;
    font-size: $font-size-big;
  }

  .panel-2col {
    .inside {
      margin: 0;
    }
    .panel-col-first {
      float: none;
      width: 100%;
      @include breakpoint($desktop) {
        @include isolation-span(3,10,'both');
      }
    }
    .panel-col-last {
      float: none;
      width: 100%;
      @include breakpoint($desktop) {
        @include grid-span(9,1);
      }
    }
  }
}
