---
layout: default
---

<div class="community">

  <div class="container">
    <header class="community-header header-subnav">
      <h1 class="boxed">{{ page.title }}</h1>
      <div class="clear">
        <div class="page-subnav">
          <nav class="subnav">
            <h5>People:</h5>
            <ul>
              <li><a href="/voting-members">Voting Members</a></li>
              <li><a href="/board">Board</a></li>
              <li><a href="/staff">Staff</a></li>
            </ul>
            <ul>
              <li><a href="/working-groups">Working Groups</a></li>
              <li><a href="/community/mentorship">Mentorship Program</a></li>
              <li><a href="/community/community-grants">Community Grants</a></li>
              <li><a href="#events">Events</a></li>
              <li><a href="#financials">Financials</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>

  <div class="community-body">

    <div class="half-block dark">
      <div class="block-details">
        <div class="block-info">
          <h3>People</h3>
          <p>{{ page.People.Description }}</p>
        </div>
        <div class="block-options">
          <ul>
            <li><a href="/voting-members">Voting Members</a></li>
            <li><a href="/board">Board</a></li>
            <li><a href="/staff">Staff</a></li>
            <li><a href="https://wiki.openstreetmap.org/wiki/Humanitarian_OSM_Team/HOT_Tasking_Manager_Organizations" target="_blank">Community and Partner orgs</a></li>
          </ul>
        </div>
      </div>
      <div class="block-image">
        <img src="{{ page.People.Image }}">
      </div>
    </div>

    <div class="container">
<!-- 
      <div class="community-programs">
        <a class="module link-through light" href="/community/working-groups" id="working-groups">
          <div class="module-details">
            <h3>Working Groups</h3>
            <div class="module-text">{{ page['Working Groups Description'] | markdownify }}</div>
            <p class="module-cta">Learn more</p>
          </div>
        </a>
        <a class="module link-through light" href="/community/community-grants" id="community-grants">
          <div class="module-details">
            <h3>Community Microgrants</h3>
            <div class="module-text">{{ page['Community Grants Description'] | markdownify }}</div>
            <p class="module-cta">Learn more</p>
          </div>
        </a>
      </div> -->

      <div class="get-involved-body">

        <div class="hr-h"></div>


        <div class="container">
          <h2 class="partner-subtitle">{{ page.blocktitle }}</h2>
    
          <div class="module-group top-image">
            <a class="module link-through light" href="{{ page.Working-Groups.Link }}" id="support-programs">
              <div class="module-image">
                <img src="{{ page.Working-Groups.Image }}">
              </div>
              <div class="module-details">
                <h3>{{ page.Working-Groups.Title | markdownify }}</h3>
                <div class="module-text">{{ page.Working-Groups.Text | markdownify }}</div>
                <p class="module-cta">{{ page.Working-Groups.Action-text | markdownify }}</p>
              </div>
            </a>
            <a class="module link-through light" href="{{ page.Community-Grants.Link }}" id="support-programs">
              <div class="module-image">
                <img src="{{ page.Community-Grants.Image }}" title="{{ page.Community-Grants.Image-description }}">
              </div>
              <div class="module-details">
                <h3>{{ page.Community-Grants.Title | markdownify }}</h3>
                <div class="module-text">{{ page.Community-Grants.Text | markdownify }}</div>
                <p class="module-cta">{{ page.Community-Grants.Action-text | markdownify }}</p>
              </div>
            </a>
            <a class="module link-through light" href="{{ page.Mentorship-Program.Link }}" id="support-programs">
              <div class="module-image">
                <img src="{{ page.Mentorship-Program.Image }}">
              </div>
              <div class="module-details">
                <h3>{{ page.Mentorship-Program.Title | markdownify }}</h3>
                <div class="module-text">{{ page.Mentorship-Program.Text | markdownify }}</div>
                <p class="module-cta">{{ page.Mentorship-Program.Action-text | markdownify }}</p>
              </div>
            </a>
          </div>
    
          <div class="hr-h"></div>
  
    
        </div>
    
      </div>


      <div class="hr-h"></div>

      <div class="event-promo" id="events">
        <div class="event-title">
          <h2>{{ page['Event Promo']['Event Name'] }}</h2>
          <img src="{{ page['Event Promo'].Image }}">
        </div>
        <div class="event-info">
          <div class="event-description">
            {{ page['Event Promo'].Description | markdownify }}
          </div>
          <a href="{{ page['Event Promo'].URL }}" class="btn btn-primary btn-block btn-chevron">{{ page['Event Promo'].Button }}</a>
        </div>
      </div>

      <div class="hr-h"></div>

      <div class="finances" id="financials">
        <div class="finances-wrapper">
          <div class="finances-text">
            <h3>Financials and Organization</h3>
            {{ page.Finances.Text | markdownify }}
            <a class='piwik_download' href="{{ page.Finances['990 Report URL'] }}" class="btn btn-primary btn-block btn-download">{{ page.Finances['990 Report Button'] }}</a>
          </div>
          <div class="annual-report">
            <h6>{{ page.Finances['Annual Report Header'] }}</h6>
            <div class="annual-report-wrapper">
              <div class="annual-report-image">
                <img src="/uploads/2022-2023-ImpactReport2.0.png">
              </div>
              <div class="annual-report-text">
                {{ page.Finances['Annual Report Text'] | markdownify }}
                <a class='piwik_download' href="{{ page.Finances['Annual Report URL'] }}" class="btn btn-primary btn-block btn-download">{{ page.Finances['Annual Report Button'] }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>  

  </div>

</div>
