---
layout: default
---

<div class="community">

  <div class="container">
    <header class="community-header header-subnav">
      <h1 class="boxed">{{ page.title }}</h1>
      <div class="clear">
        <div class="page-subnav">
          <nav class="subnav">
            <h5>People:</h5>
            <ul>
              <li><a href="/team">Team</a></li>
              <li><a href="/voting-members">Voting Members</a></li>
              <li><a href="/board">Board</a></li>
            </ul>
            <ul>
              <li><a href="#working-groups">Working Groups</a></li>
              <li><a href="#support-programs">Support Programs</a></li>
              <li><a href="#events">Events</a></li>
              <li><a href="#financials">Financials</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>

  <div class="community-body">

    <div class="highlight-module primary-highlight-module" id="people">
      <div class="highlight-details">
        <div class="highlight-info">
          <div class="highlight-hr"></div>
          <h3>People</h3>
          {{ page.People.Description | markdownify }}
        </div>
        <div class="highlight-options">
          <a href="/team" class="btn btn-default btn-chevron">HOT Team</a>
          <a href="/voting-members" class="btn btn-default btn-chevron">Voting Members</a>
          <a href="/board" class="btn btn-default btn-chevron">Board</a>
        </div>
      </div>
      <div class="highlight-image">
        <img src="{{ page.People.Image }}">
      </div>
    </div>

    <div class="container">

      <div class="community-programs">
        <a class="module link-through light" href="/working-groups" id="working-groups">
          <div class="module-details">
            <h3>Working Groups</h3>
            <div class="module-text">{{ page['Working Groups Description'] | markdownify }}</div>
            <p class="module-cta">Learn more</p>
          </div>
        </a>
        <a class="module link-through light" href="/community/support-programs" id="support-programs">
          <div class="module-details">
            <h3>Support Programs</h3>
            <div class="module-text">{{ page['Support Programs Description'] | markdownify }}</div>
            <p class="module-cta">Learn more</p>
          </div>
        </a>
      </div>

      <div class="hr-h"></div>

      <div class="event-promo" id="events">
        <div class="event-title">
          <h2>{{ page['Event Promo']['Event Name'] }}</h2>
          <img src="{{ page['Event Promo'].Image }}">
        </div>
        <div class="event-info">
          <div class="event-description">
            {{ page['Event Promo'].Description | markdownify }}
          </div>
          <a href="{{ page['Event Promo'].URL }}" class="btn btn-primary btn-block btn-chevron">{{ page['Event Promo'].Button }}</a>
        </div>
      </div>

      <div class="hr-h"></div>

      <div class="finances" id="financials">
        <h3>Financials</h3>
        <div class="finances-wrapper">
          <div class="finances-text">
            {{ page.Finances.Text | markdownify }}
          </div>
          <div class="annual-report">
            <h6>{{ page.Finances['Annual Report Header'] }}</h6>
            <div class="annual-report-wrapper">
              <div class="annual-report-image">
                <img src="/uploads/annual-report-cover.jpg">
              </div>
              <div class="annual-report-text">
                {{ page.Finances['Annual Report Text'] | markdownify }}
                <a href="{{ page.Finances['Annual Report URL'] }}" class="btn btn-primary btn-block btn-download">{{ page.Finances['Annual Report Button'] }}</a>
              </div
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
