---
layout: default
---

<div class="contact container">

  <header class="page-header">
    <h1>{{ page.title }}</h1>
    <div class="hr-h"></div>
  </header>

  <div class="contact-body">

    <nav class="contact-nav">
      <div class="sticky-wrap">
        <h5>On this page</h5>
        <ul>
          <li><a href="#email">General Inquiries</a></li>
          <li><a href="#office-locations">Office Locations</a></li>
          <li><a href="#media">Media</a></li>
        </ul>
      </div>
    </nav>

    <div class="contact-content article">

      <h2 id="email">General Inquiries</h2>
      <div class="contact-general">
        {% for email in page['General Inquiries'].Emails %}
          <div>
            {{ email | markdownify }}
          </div>
        {% endfor %}
      </div>

      <div class="hr-h"></div>

      <div class="contact-locations-wrap">
        <h2 id="office-locations">Office Locations</h2>
        <div class="contact-locations">
          {% for location in page['Office Locations'].Locations %}
            <div>
              {{ location | markdownify }}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="hr-h"></div>

      <div class="anchor" id="media"></div>
      <h2>Brand and Media Kit</h2>
      <div class="contact-persona">
        <div>
          {{ page.Media.Details | markdownify }}
        </div>
      </div>

      <div class="hr-h"></div>

    </div>

  </div>

</div>
