---
layout: default
---

<div class="project-index impact-area-item-index">



    <div class="country-index-header">

      <div class="country-map-area">
        <h1 class="boxed">{{ page.title }}</h1>
      </div>
      <div class="country-contact">
        <h4>Want to start a project in {{ page.title }}?</h4>
      </div>

    </div>

  </div>

  <div class="container">

    <h6>Our work in {{ page.title }}</h6>

    <div class="project-index-highlights">

      {% assign sorted-projects = site.projects | sort:"position" %}

      {% assign highlights = 4 %}

      {% for project in sorted-projects %}
        {% if project['Country'] contains page.title %}
          {% if forloop.index > 2 %}
            {% break %}
          {% endif %}
          {% include blocks/project-highlight.html %}
        {% endif %}
      {% endfor %}

    </div>

    <div class="hr-h"></div>

    <h6>All Projects</h6>

    <div class="project-index-all">

      {% assign sorted-projects = site.projects | sort:"position" %}

      {% for project in sorted-projects %}
        {% if project['Country'] contains page.title %}
          {% if forloop.index > 2 %}
            {% include blocks/project-thumb.html %}
          {% endif %}
        {% endif %}
      {% endfor %}

    </div>

  </div>
</div>
