---
layout: default
---

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <!-- Banner -->

  <a class="home-highlight4" style="padding-bottom: 2%;">
        <div>
          <img src="{{ page.Leading-image }}"  style="max-width: 140%; filter: brightness(70%);">
        </div>
      <div class="home-highlight-title2 block-data-solutions-title" style="bottom: 50px;">
        <div class="container">
            <header class="tools-header header-subnav" style="margin: 32px 560px 64px 0px;">
              <h1 style="color: white; font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 4rem;">{{ page.title }}</h1>
            </header>
        </div>
      </div>
  </a>



  <!-- Intro -->




  <article class="container-body-program project-item" style="padding-top: 0%;">


              <!-- <div class="block-data-solutions" style="margin-bottom: 0%;">
                        <h4 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 1.5rem; color: black;">{{ page.Intro.Bold }}</h4>
                        <br>

                          <section class="article">

                              <div class="news-content">
                                  {{ content }}
                              </div>

                              <h2><strong><a style="text-decoration: underline; text-decoration-color: #D73F3F; padding-top: 2%;" href="https://docs.google.com/presentation/d/e/2PACX-1vRCzr84b_Ad5MRSziA1gfa2gpEwL1qjNtj0nCCbJRa4eRAqkORwgQAUYuFgRTBmcZ9vBt9bZ-D8ybCG/pub?start=false&loop=false&delayms=3000">View the principles as a presentation</a></strong></h2>
                          </section>

              </div> -->



                          <section class="article">

                            <div class="container container-tools" >
                                                            
                                                            
                              <!-- <div class="hr-h"></div>  -->


                              <!-- Principle 1 -->
                                  

                                  <div class="half-block-tools half-block-tools-data-principles left block-data-solutions" style="background-color: white; margin-top: 0%; margin-left: 2%; margin-right: 2%; margin-bottom: 0%;">

                                            <div class="block-details-data-principles" style="padding-top: 10%; padding-bottom: 0%;">

                                                <div class="block-info">

                                                  <!-- <h4 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 2.5rem; color: black; padding-bottom: 12%; text-decoration: underline; text-decoration-color: #D73F3F;">THE PRINCIPLES</h4> -->
                                                          <div class="news-content data-principles-left-block">
                                                            <h1>The Challenges</h1>
                                                            <br>
                                                              <p>
                                                              <strong>At HOT, open mapping communities and program teams face  unique challenges in how we work with data:</strong>
                                                            </p>
                                                            <ul>
                                                              <li>Using the OpenStreetMap platform allows for greater reach and accessibility of data, which is at the heart of our work. However, this can  lead to unintended exposure to risk and the potential for misuse of data. As a result,  we need to identify and mitigate any potential risks and harm.</li>
                                                              <li>Data we contribute to OpenStreetMap will be available online for a long time. With that in mind, we also need to anticipate potential  future risks and harm.</li>
                                                            </ul>     
                                                            <p>So how do Data Principles address these challenges?</p>
                                                            <p>Our Data Principles formulate and communicate a clear standard, providing transparency and trustworthiness about how we treat and work with data. Additionally, they serve as the touchstone and framework for responsible &amp; ethical data policies, and to inform data quality &amp; data collection priorities.</p>

                                                          </div>

                                                </div>
                                            </div>

                                            
                                                    <div class="block-details-data-principles" style="padding-top: 0px;">
                                                      <div class="block-info">

                                                                <div class="news-content data-principles-right-block">
                                                                  <p>Our Data Principles have been developed alongside HOT’s updated and renewed <a href="https://www.hotosm.org/hots-vision-and-values.html">values</a>, and serve as guidelines for all other parts of our Protection Framework. The purpose of the Protection Framework is to provide the guidance, procedures and policies to ensure that we uphold HOT’s responsible data and ethical practices to protect people from harm.</p>                                       

                                                                  <p>Spatial data and mapping activities can create risk or cause harm for people and communities. For example, map data may enable finding people based on their religion or other beliefs, exposure or proximity to disease, or presence in areas of conflict. HOT has a responsibility to understand, assess, mitigate and protect against risk and harm arising from activities we undertake or support.</p>

                                                                  <p>The Data Principles capture the most important aspects we need to consider and act on, around how we work with data. Each of the Principles includes a set of guidelines that provide actionable advice, and will link out to more and more resources as more parts of our Protection Framework and tools are completed:</p>                                                  </div>
                                                      </div>
                                                    </div>

                                    </div>  
                                    <br>
                            </div>
                            
                          </section>




              <div class="container container-tools" style="padding-left: 15%; padding-right: 15%;" >
                <h2 class="partner-subtitle" style="opacity: 0.1;"> </h2>
                <html>
                      <head>
                        <meta charset="UTF-8" />
                        <!-- <link href="_sass/flowbite.min.css" typ="text/css" /> -->
                        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                        <script src="/js/tailwindcss-js-carrousel.js"></script>
                        <link rel="stylesheet" href="/css/tailwindcss-v-3.css">
                      </head>
                      <script>
                          
                      </script>
                      <!-- <style> </style> -->
                      <body>
                         
  
                                          <div id="accordion-collapse" data-accordion="collapse">
                                            <h3 id="accordion-collapse-heading-6">
                                              <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-6" aria-expanded="false" aria-controls="accordion-collapse-body-6">
                                                <span style="display: block;"><h3><strong style="font-weight: 900;"><i class="fa-solid fa-group-arrows-rotate" style="color: #D73F3F;"></i> Open</strong>  and Accessible</h3> </span>
                                                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                                </svg>
                                              </button>
                                            </h3>
                                            <div id="accordion-collapse-body-6" class="hidden" aria-labelledby="accordion-collapse-heading-6">
                                              <!-- <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700"> -->
                                              
                  
                                                <a class="home-highlight4" style="padding-bottom: 0%;">
                                                  <div style="padding-bottom: 0%;">
                                                    <img src="{{ page.Open-accessible.Image }}"  style="max-width: 140%; filter: brightness(100%); padding: 2%;">
                                                  </div>
                                                  <!-- <div style="background-image: url(/images/dot-pattern.svg);">
                                                    <img src="{{ page.Section-imagery.Image }}"  style="max-width: 140%; filter: brightness(70%); padding: 3%; margin: -75px 0px 0 0; border: 15px transparent;">
                                                  </div> -->
                                                </a>
                                                <br>
                                                    

                                                      <div style="padding-top: 0%; padding-bottom: 1%; padding-left: 4%; padding-right: 4%; font-size: 14px; color: #6B7280;">
                                                        <!-- <h4 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 2.5rem; color: black; text-decoration: underline; text-decoration-color: #D73F3F;">What this means:</h4> -->
                                                              
                                                              <div class="news-body" style="display: unset;">
                                                                <section class="article">
                                                            
                                                              
                                                                      <div class="news-content">
                                                                        <!-- <br>
                                                                        <br> -->
                                                                        <h1 > What this means:</h1>
                                                                        <br>
                                                                          <p>
                                                                          <strong>Contribute to and advocate for open data, first and foremost OpenStreetMap, and enable anyone to make effective use of this data.</strong>
                                                                          </p>
                                                                          <ul>
                                                                              <li>Contribute data to open data sources. First and foremost to OpenStreetMap under the <a href="https://wiki.openstreetmap.org/wiki/Open_Database_License">ODbL</a> - the license selected for OSM data which allows free sharing, use, and adaptation.</li>
                                                                              <li>Ensure (re)usability of data we contribute to OSM by providing ample documentation and metadata.</li>
                                                                              <li>Advocate and push for open, <a href="https://wiki.openstreetmap.org/wiki/Import/ODbL_Compatibility">ODbL compatible</a>, licensing of existing datasets from partners.</li>
                                                                              <li>Provide easy ways of accessing and using OSM data for a variety of users, and explain how OSM data can be used and incorporated.</li>
                                                                              <li>Make data available in easy to understand and use formats - including digital formats and platforms (such as the <a href="https://data.humdata.org/organization/hot">HDX</a>), mobile applications, and paper maps.</li>
                                                                          </ul>
                                                                      </div>

                                                                </section>
                                                              </div>

                                                      </div>



                  
                                                  
                  
                  
                  
                  
                                              <!-- </div> -->
                                            </div>
                                            
                                            <h3 id="accordion-collapse-heading-2">
                                              <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
                                                <span style="display: block;"><h3><strong style="font-weight: 900;"><i class="fa-solid fa-circle-check" style="color: #D73F3F;"></i> Useful</strong> and usable data</h3> </span>
                                                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                                </svg>
                                              </button>
                                            </h3>
                                            <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
                                              <!-- <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700"> -->
                                              
                  
                                                <a class="home-highlight4" style="padding-bottom: 0%;">
                                                  <div>
                                                    <img src="{{ page.Useful-usable.Image }}"  style="max-width: 140%; filter: brightness(100%); padding: 2%">
                                                  </div>
                                                </a>
                                                <div style="padding-top: 0%; padding-bottom: 1%; padding-left: 4%; padding-right: 4%; font-size: 14px; color: #6B7280;">
                                                  <!-- <h4 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 2.5rem; color: black; text-decoration: underline; text-decoration-color: #D73F3F;">What this means:</h4> -->
                                                        
                                                        <div class="news-body" style="display: unset;">
                                                          <section class="article">
                                                      
                                                        
                                                                <div class="news-content">
                                                                  <!-- <br>
                                                                  <br> -->
                                                                  <h1 > What this means:</h1>
                                                                  <br>
                                                                    <p>
                                                                    <strong>Collected and contributed OSM data should meet a purpose that’s well defined and described, and conform to given data quality standards so it can be understood, used, and re-used within and outside of HOT’s Impact Areas. </strong>
                                                                    </p>
                                                                    <ul>
                                                                      <li>Be deliberate in what data we collect and generate and for what purposes, and align this with the pathways to impactful use of data.</li>
                                                                      <li>Align data collection and mapping with the priorities of communities and partners.</li>
                                                                      <li>Improve the quality of OSM data and tagging schemas and standardization, including localization and contextualization.</li>
                                                                      <li>Ensure we follow OSM guidelines and procedures, such as organized editing, and import processes.</li>
                                                                      <li>Provide technical resources and services, support, and case studies (including measurement of the usability of data) for Impact areas use cases.</li>
                                                                    </ul>
                                                                </div>

                                                          </section>
                                                        </div>

                                                </div>
                  
                                            </div>



                                            <h3 id="accordion-collapse-heading-1">
                                              <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="false" aria-controls="accordion-collapse-body-1">
                                                <span style="display: block;"><h3><strong style="font-weight: 900;"><i class="fa-solid fa-hand-holding-heart" style="color: #D73F3F;"></i> Inclusive</strong> and representative</h3> </span>
                                                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                                </svg>
                                              </button>
                                            </h3>
                                            <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
                                              
                                              <a class="home-highlight4" style="padding-bottom: 0%;">
                                                <div>
                                                  <img src="{{ page.Inclusive-representative.Image }}"  style="max-width: 140%; filter: brightness(100%); padding: 2%">
                                                </div>
                                              </a>
                                              <div style="padding-top: 0%; padding-bottom: 1%; padding-left: 4%; padding-right: 4%; font-size: 14px; color: #6B7280;">
                                                <!-- <h4 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 2.5rem; color: black; text-decoration: underline; text-decoration-color: #D73F3F;">What this means:</h4> -->
                                                      
                                                      <div class="news-body" style="display: unset;">
                                                        <section class="article">
                                                    
                                                      
                                                              <div class="news-content">
                                                                <!-- <br>
                                                                <br> -->
                                                                <h1 > What this means:</h1>
                                                                <br>
                                                                  <p>
                                                                  <strong>Ensure communities at all levels can access and work in the OSM ecosystem by how HOT prioritizes, creates, and structures data collection, tech, and community resources. </strong>
                                                                  </p>
                                                                  <ul>
                                                                    <li>When creating mapping tasks, consider who and what we’re including, and who we’re omitting by how we define the area of impact and the data models.</li>
                                                                    <li>Design, create, promote, and use technology and tools that are accessible and usable. Give specific attention to more vulnerable and/or minority groups to reduce barriers to access.</li>
                                                                    <li>Commit to reduce inequities to contribution and participation before, during, and after mapping - such as access to devices, mobile data, digital and map literacy, opportunities and economic viability of volunteering time, etc.</li>
                                                                    <li>Prioritize localization and accessibility of tools, documentation, and tech by providing multiple relevant languages.</li>
                                                                  </ul>
                                                              </div>

                                                        </section>
                                                      </div>

                                              </div>

                                                                  
                                            </div>
                                          
                                          
                                            
                  
                  
                                          
                  
                  
                                            <h3 id="accordion-collapse-heading-5">
                                              <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-5" aria-expanded="false" aria-controls="accordion-collapse-body-5">
                                                <span style="display: block;"><h3><strong style="font-weight: 900;"><i class="fa-solid fa-hands-holding-circle" style="color: #D73F3F;"></i> Ethical data</strong> and protection</h3> </span>
                                                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                                </svg>
                                              </button>
                                            </h3>
                                            <div id="accordion-collapse-body-5" class="hidden" aria-labelledby="accordion-collapse-heading-5">
                                              <!-- <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700"> -->
                                              
                  
                                                <a class="home-highlight4" style="padding-bottom: 0%;">
                                                  <div>
                                                    <img src="{{ page.Ethical-data-protection.Image }}"  style="max-width: 140%; filter: brightness(100%); padding: 2%">
                                                  </div>
                                                </a>
                                                <div style="padding-top: 0%; padding-bottom: 1%; padding-left: 4%; padding-right: 4%; font-size: 14px; color: #6B7280;">
                                                  <!-- <h4 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 2.5rem; color: black; text-decoration: underline; text-decoration-color: #D73F3F;">What this means:</h4> -->
                                                        
                                                        <div class="news-body" style="display: unset;">
                                                          <section class="article">
                                                      
                                                        
                                                                <div class="news-content">
                                                                  <!-- <br>
                                                                  <br> -->
                                                                  <h1 > What this means:</h1>
                                                                  <br>
                                                                    <p>
                                                                    <strong>Go for the most meaningful collaboration in data management and planning. Uphold policies and guidance to minimize risk of harms, including impact assessments and informed consent for any data collection or use, based on the people and communities we work with.</strong>
                                                                    </p>
                                                                    <ul>
                                                                      <li>Apply a workable process of engagement and informed consent across our activities, including for remote sensing and digitization (while accounting for an ever more sophisticated technological landscape).</li>
                                                                      <li>Ensure respect for the beliefs, cultures, lifestyles, and choices of communities in the decision making around data collection and sharing, and in our use of collected information. Engage partners in the ethical use of information.</li>
                                                                      <li>Conduct risk and data impact assessments to assess and minimize risk of harm for all projects together with the relevant communities. In situations where conflict is a factor, follow the “Conflict zones mapping policy”.</li>
                                                                      <li>Ensure everyone at HOT is compliant with the application of data and protection principles.</li>
                                                                    </ul>
                                                                </div>

                                                          </section>
                                                        </div>

                                                </div>
                                                
                  
                                          </div>

                                          <br>
                                          <br>
                                          <h3><strong><a class="external" style="text-decoration: underline; text-decoration-color: #D73F3F; padding-bottom: 2%;" href="https://docs.google.com/presentation/d/e/2PACX-1vRCzr84b_Ad5MRSziA1gfa2gpEwL1qjNtj0nCCbJRa4eRAqkORwgQAUYuFgRTBmcZ9vBt9bZ-D8ybCG/pub?start=false&loop=false&delayms=3000">View the principles as a presentation (Google Doc)</a></strong></h3>

                  

                                    </div>   
                                 </div>    
                              </div>
  
  
  
                          </div>
  
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
                      </body>
                  </html>
          
              <div class="module-group-tools top-image" style="margin-bottom: px">
  
  
                      
  
                      
          </div>
      </div>
    </div>










              



              <section class="article">

              <div class="container container-tools" >


                <!-- Principle 1 -->
                    

                    <div class="half-block-tools half-block-tools-data-principles left block-data-solutions" style="background-color: white; margin-top: 0%; margin-left: 8%; margin-right: 8%;">

                              <div class="block-details-data-principles" style="padding-top: 10%; padding-bottom: 0%;">

                                  <div class="block-info">

                                    <!-- <h4 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 2.5rem; color: black; padding-bottom: 12%; text-decoration: underline; text-decoration-color: #D73F3F;">THE PRINCIPLES</h4> -->
                                            <div class="news-content data-principles-left-block">
                                              <h1>Upcoming Work</h1>
                                              <br>
                                                <p>
                                                <strong>Following on from the Data Principles, we are currently completing the rest of our policies, procedures and tools that together make up our Protection Framework.</strong>
                                              </p>
                                                <p>Currently, various parts of this, such as the “Context and Risk Analysis” and the “Data Impact Assessments” are being trialed and improved in collaboration with community grantees in the Eastern and Southern Africa Hub, as well as being incorporated into Activations and other program areas.</p>
                                            </div>

                                  </div>

                              </div>

                              
                                      <div class="block-details-data-principles" style="padding-top: 0px;">
                                        <div class="block-info">

                                                  <div class="news-content data-principles-right-block">
                                                     <p>Once we get to a first version of the Framework, we will release all parts of it openly, and invite feedback, contributions, and improvements.</p>
                                                  </div>
                                        </div>

                                      </div>

                      </div>  

              </div>
            </section>

  </article>


  <script src="https://kit.fontawesome.com/aa48057ccd.js" crossorigin="anonymous"></script>

