---
layout: default
---

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <!-- Banner -->

  <a class="home-highlight5" style="padding-bottom: 2%;">
        <div>
          <img src="{{ page.Leading-image }}"  style="max-width: 140%; filter: brightness(70%);">
        </div>
      <div class="home-highlight-title2 block-data-solutions-title" style="bottom: 50px;">
        <div class="container">
            <header class="tools-header header-subnav" style="margin: 32px 560px 64px 0px;">
              <h1 style="color: white; font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 4rem;">{{ page.title }}</h1>
            </header>
        </div>
      </div>
  </a>



  <!-- Intro -->







  <div class="program-body">

    <section class="article">

      

      

      <div class="news-content">
        <h1>About</h1>
        <br>
		<p>Our Data Principles formulate transparency and trustworthiness on how we work with data. Developed alongside <a href="https://www.hotosm.org/hots-vision-and-values.html">HOT’s values</a>, our data principles serve as a framework for ethical data policies and guide <a href="https://github.com/hotosm/data_protection_project/">HOT’s Protection Framework</a>.</p> 
        <br>

		<table style="width: 100%; border-collapse: collapse;">
			<tr>
				<th style="width: 50%; padding: 10px;">
					<h2 style="color: #D73F3F; margin: 0;">Open and accessible</h2>
				</th>
				<th style="width: 50%; padding: 10px; border-left: 1px solid black;">
					<h2 style="color: #D73F3F; margin: 0;">Useful and usable data</h2>
				</th>
			</tr>
			<tr>
				<td style="vertical-align: top; padding: 10px;">
					<p>Contribute to and advocate for open data, first and foremost OpenStreetMap, and enable anyone to make effective use of this data.</p>
					<ol style="font-size: 1em;">
						<li>Advocate and push for open, <a href="https://wiki.openstreetmap.org/wiki/Import/ODbL_Compatibility">ODbL compatible</a>, licensing of existing datasets from partners.</li>
						<li>Ensure (re)usability of data we contribute by providing ample documentation and metadata and providing easy ways of accessing and using OSM data for a variety of users.</li>
						<li>Make data available in easy to understand and use formats - including digital formats and platforms (such as the <a href="https://data.humdata.org/organization/hot">HDX</a>), mobile applications, and paper maps.</li>
					</ol>
				</td>
				<td style="vertical-align: top; padding: 10px; border-left: 1px solid black;">
					<p>Collected and contributed data should meet a purpose that’s well defined, and conform to given data quality standards so it can be understood, used, and re-used.</p>
					<ol style="font-size: 1em;">
						<li>Be deliberate in what data we collect and generate and for what purposes.</li>
						<li>Align data collection and mapping with the priorities of communities and partners.</li>
						<li>Improve the applicability of OSM data and tagging schemas and standardization, including localization and contextualization, while following OSM guidelines and procedures.</li>
						<li>Provide technical resources and services, support, and case studies (including measurement of the usability of data) for use cases.</li>
					</ol>
				</td>
			</tr>
		</table>
		
		<p><br /></p>
		
		<table style="width: 100%; border-collapse: collapse;">
			<tr>
				<th style="width: 50%; padding: 10px;">
					<h2 style="color: #D73F3F; margin: 0;">Inclusive and representative</h2>
				</th>
				<th style="width: 50%; padding: 10px; border-left: 1px solid black;">
					<h2 style="color: #D73F3F; margin: 0;">Ethical data and protection</h2>
				</th>
			</tr>
			<tr>
				<td style="vertical-align: top; padding: 10px;">
					<p>Ensure communities at all levels can access and work in the open mapping and OSM ecosystem by how HOT prioritizes, creates, and structures data collection, tech, and community resources.</p>
					<ol style="font-size: 1em;">
						<li>Create and promote use technology and tools that are accessible and usable. Give specific attention to more vulnerable and/or minority groups to reduce barriers to access.</li>
						<li>Consider who and what we’re including in coordinated mapping, and who we’re omitting by how we define the area of impact and data models.</li>
						<li>Commit to reduce inequities to contribution and participation before, during, and after mapping - such as access to devices, mobile data, digital and map literacy, opportunities and economic viability of volunteering time, etc.</li>
						<li>Prioritize localization and accessibility of tools, documentation, and tech by providing multiple relevant languages.</li>
					</ol>
				</td>
				<td style="vertical-align: top; padding: 10px; border-left: 1px solid black;">
					<p>Go for the most meaningful collaborations. Uphold policies and guidance to minimize risk of harm.</p>
					<ol style="font-size: 1em;">
						<li>Apply a workable process of engagement and informed consent across our activities.</li>
						<li>Ensure respect for the beliefs, cultures, lifestyles, and choices of communities in the decision making around data collection and sharing.</li>
						<li>Assess and minimize risk of harm for all projects together with the relevant communities. In situations where conflict is a factor, follow the <a href="https://www.hotosm.org/updates/mapping-in-conflict/">HOT’s stance on mapping in conflict.</a></li>
						<li>Ensure everyone at HOT is compliant with the application of data and protection principles.</li>
					</ol>
				</td>
			</tr>
		</table>
		


<br>
<br>
<p><a href="https://docs.google.com/presentation/d/e/2PACX-1vRCzr84b_Ad5MRSziA1gfa2gpEwL1qjNtj0nCCbJRa4eRAqkORwgQAUYuFgRTBmcZ9vBt9bZ-D8ybCG/pub?start=false&amp;loop=false&amp;delayms=3000">View the principles as a presentation</a></p>
<br>
      </div>

    </section>

</div>








  <script src="https://kit.fontawesome.com/aa48057ccd.js" crossorigin="anonymous"></script>

