---
layout: default
---

<article class="container news-item">

  <div class="hr-h"></div>

  <div class="news-body">
    <section class="article">

      {% if page['Feature Image'] %}
        <img class="news-feature-image" {% if page['Is image top aligned'] %} style="object-position: top center" {% endif %} src="{{ page['Feature Image'] }}">
      {% endif %}

      {% if page['Summary Text'] %}
        <p class="news-summary">{{ page['Summary Text'] }}</p>
      {% endif %}

      <div class="news-content">
        {{ content }}
      </div>

    </section>
  </div>
</article>
