---
layout: default
---

<div class="docs">

  <div class="container">
    <header class="docs-header page-header">
      <h1>{{ page.title }}</h1>
    </header>
  </div>

  <div class="docs-body">

    <div class="container">

      <div class="module-group top-image">
        <a class="module link-through light" href="{{ page.block-1.Link }}" id="assets">
          <div class="module-details">
            <h3>{{ page.block-1.Title | markdownify }}</h3>
            <div class="module-text">{{ page.block-1.Text | markdownify }}</div>
            <p class="module-cta">{{ page.block-1.Action-text | markdownify }}</p>
          </div>
        </a>
        <a class="module link-through light" href="{{ page.block-2.Link }}" id="guidelines">
          <div class="module-details">
            <h3>{{ page.block-2.Title | markdownify }}</h3>
            <div class="module-text">{{ page.block-2.Text | markdownify }}</div>
            <p class="module-cta">{{ page.block-2.Action-text | markdownify }}</p>
          </div>
        </a>
        <a class="module link-through light" href="{{ page.block-3.Link }}" id="siteleaf">
          <div class="module-details">
            <h3>{{ page.block-3.Title | markdownify }}</h3>
            <div class="module-text">{{ page.block-3.Text | markdownify }}</div>
            <p class="module-cta">{{ page.block-3.Action-text | markdownify }}</p>
          </div>
        </a>
      </div>

      <div class="hr-h"></div>

    </div>

  </div>

</div>
