---
layout: default
---

<div class="donate container">

  <header class="page-header">
    <h1 class="secondary-h1">{{ page.title }}</h1>
    <div class="hr-h donate-hr"></div>
  </header>

  <div class="donate-body">

    <div class="donate-form">
      {% include donate-form.html %}
    </div>

    <div class="donate-content">
      <div class="donate-video">
        <iframe src="https://youtu.be/1xZv53B1-GU" frameborder="0" width="100%" height="240"></iframe>
      </div>
      {{ content }}
      <div class="donate-sidebar sticky-wrap">
        <h4>Prefer other options?</h4>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8VBN9QHNVKVS6" class="btn btn-primary btn-block btn-chevron">Donate through Paypal</a>
        <a href="https://venmo.com/hotosm" class="btn btn-primary btn-block btn-chevron">Contribute with Venmo</a>
        <p>To donate via wire transfer, please email <a href="mailto:donations@hotosm.org" target="_blank">donations@hotosm.org</a>. To donate via mailing a check, please use <a href="/sites/default/files/Donation%20Form-%20Mailing%20_0.pdf">the paper form</a>.</p>
      </div>
    </div>

  </div>

</div>
