---
layout: default
---

<div class="get-involved">

  <div class="container">
    <header class="get-involved-header page-header">
      <h1>{{ page.title }}</h1>
    </header>
  </div>

  <div class="get-involved-body">

    <div class="get-involved-options dark">
      <div class="user-type">
        <h6>Check many opportunities to get involved:</h6>
        <a href="/jobs" class="btn btn-default btn-chevron">Job Opportunities</a>
        <a href="/volunteer-opportunities" class="btn btn-default btn-chevron">Volunteer Opportunities</a>
      </div>
      <div class="country-selection">
        <h6>Choose a country to connect with the community:</h6>

        <div class="country-select">
          <form id="country-select" action="" method="post">
            <select name="nav" onchange="location = this.options[this.selectedIndex].value;">
              <option value="">Select a country…</option>
              {% assign sorted-countries = site.where-we-work | sort:'title' %}
              {% for country in sorted-countries %}
                <option value="{{ country.url }}">{{ country.title }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Go" id="submit" />
          </form>
        </div>

      </div>
    </div>

    <div class="container">

      <div class="module-group top-image">
        <a class="module link-through light" href="{{ page.block-1.Link }}" id="support-programs">
          <div class="module-image">
            <img src="{{ page.block-1.Image }}">
          </div>
          <div class="module-details">
            <h3>{{ page.block-1.Title | markdownify }}</h3>
            <div class="module-text">{{ page.block-1.Text | markdownify }}</div>
            <p class="module-cta">{{ page.block-1.Action-text | markdownify }}</p>
          </div>
        </a>
        <a class="module link-through light" href="{{ page.block-2.Link }}" id="support-programs">
          <div class="module-image">
            <img src="{{ page.block-2.Image }}">
          </div>
          <div class="module-details">
            <h3>{{ page.block-2.Title | markdownify }}</h3>
            <div class="module-text">{{ page.block-2.Text | markdownify }}</div>
            <p class="module-cta">{{ page.block-2.Action-text | markdownify }}</p>
          </div>
        </a>
        <a class="module link-through light" href="{{ page.block-3.Link }}" id="support-programs">
          <div class="module-image">
            <img src="{{ page.block-3.Image }}">
          </div>
          <div class="module-details">
            <h3>{{ page.block-3.Title | markdownify }}</h3>
            <div class="module-text">{{ page.block-3.Text | markdownify }}</div>
            <p class="module-cta">{{ page.block-3.Action-text | markdownify }}</p>
          </div>
        </a>
      </div>

      <div class="hr-h"></div>

      <div class="home-newsletter">
        <div class="newsletter-signup">
          <h2>Subscribe for updates <br>& announcements</h2>
          {% include newsletter-form.html %}
        </div>
        <div class="newsletter-description">
          {% include newsletter-description.html %}
        </div>
      </div>

    </div>

  </div>

</div>
