---
layout: default
---

<div class="group">

  <div class="container">

    <header class="page-header">
      <h1>{{ page.title }}</h1>
    </header>

    <div class="group-body">

      <div class="group-description">
        {{ content | markdownify }}
      </div>

      <div class="group-list">

        {% if page.url contains "/working-groups/" %}
          {% for group in site.working-groups %}
            <a href="{{ group.url }}" class="module light link-through">
              <div class="module-details">
                <h3>{{ group.title }}</h3>
                <div class="module-text"><p>{{ group.content }}</p></div>
              </div>
            </a>
          {% endfor %}
        {% endif %}

        {% if page.url contains "/jobs/" %}

          <h2>Current Openings</h2>

          {% assign current_date = site.time | date: '%Y%m%d' %}
          {% assign jobs_sorted = site.jobs | sort: 'Deadline Date' %}

          {% for job in jobs_sorted %}
            {% assign job_date = job['Deadline Date'] | date: '%Y%m%d' %}
            {% if job_date >= current_date %}
            <a href="{{ job.url }}" class="module light link-through">
              <div class="module-details">
                <h3>{{ job.title }}</h3>
                <div class="module-text"><p>Location: <span>{{ job['Place of Work'] }}</span></p><p>Deadline: <span>{{ job['Deadline Date'] | date: '%d %B, %Y' }}</span></p></div>
              </div>
            </a>
            {% elsif forloop.last %}
              <p>There are no current openings. Please check back for updates or keep a watch <a href="https://twitter.com/hotosm">on Twitter</a> for updates.</p>
            {% endif %}
          {% endfor %}

          <h2>Recently closed jobs</h2>

          {% for job in jobs_sorted limit: 3 %}
            {% assign job_date = job['Deadline Date'] | date: '%Y%m%d' %}
            {% if job_date <= current_date %}
            <a href="{{ job.url }}" class="module light link-through">
              <div class="module-details">
                <h3>{{ job.title }}</h3>
                <div class="module-text"><p>Location: <span>{{ job['Place of Work'] }}</span></p><p>Deadline: <span>{{ job['Deadline Date'] | date: '%d %B, %Y' }}</span></p></div>
              </div>
            </a>
            {% endif %}
          {% endfor %}


        {% endif %}

      </div>

    </div>

  </div>

</div>
