---
layout: default
---

<div class="group">

  <div class="container">

    <header class="page-header">
      <h1>{{ page.title }}</h1>
    </header>

    <div class="group-body">

      <div class="group-description">
        {{ content | markdownify }}
      </div>

      <div class="group-list">

        {% if page.url contains "/docs/" %}
          <h2>{{ page.block-1.Title }}</h2>
          <p>{{ page.block-1.Text }}</p>
          {% for group in site.docs %}
            {% if group['Doc Type']['Is Siteleaf'] %}
              <a href="{{ group.url }}" class="module light link-through">
                <div class="module-details">
                  <h3>{{ group.title }}</h3>
                </div>
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if page.url contains "/docs/" %}
          <h2>{{ page.block-2.Title }}</h2>
          <p>{{ page.block-2.Text }}</p>
          {% for group in site.docs %}
            {% if group['Doc Type']['Is Guideline'] %}
              <a href="{{ group.permalink }}" class="module light link-through">
                <div class="module-details">
                  <h3>{{ group.title }}</h3>
                </div>
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if page.url contains "/docs/" %}
        <h2>{{ page.block-3.Title }}</h2>
        <p>{{ page.block-3.Text }}</p>
          {% for group in site.docs %}
            {% if group['Doc Type']['Is Asset'] %}
              <a href="{{ group.url }}" class="module light link-through">
                <div class="module-details">
                  <h3>{{ group.title }}</h3>
                </div>
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if page.url contains "/working-groups/" %}
          {% for group in site.working-groups %}
            <div class="module light link-through">
              <div class="module-details">
                <h3>{{ group.title }}</h3>
                <div class="module-text">
                  {{ group.content }}
                  <p>
                    {% if group['Details'] %}
                    <a href="{{ group['Details'] }}">Details</a> |
                    {% endif %}
                    {% if group['Coordination'] %}
                    <a href="{{ group['Coordination'] }}">Coordination</a> |
                    {% endif %}
                    {% if group['Calendar'] %}
                    <a href="{{ group['Calendar'] }}">Calendar</a> |
                    {% endif %}
                    {% if group['Chat'] %}
                    <a href="{{ group['Chat'] }}">Chat</a> 
                    {% endif %}
                    {% if group['Blog'] %}
                    | <a href="{{ group['Blog'] }}">Blog</a>
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}

        {% if page.url contains "/annual-reports/" %}
        {% assign reports = site.annual-reports | sort: 'date' %}
        {% assign reports = reports | reverse %}
          {% for group in reports %}
            <a class="highlight-module secondary-highlight-module link-through light" href="{{ group['Link'] }}"  target="_blank">
              <div class="highlight-details">
                <div class="highlight-info">
                  <h3>{{ group.title }}</h3>
                  {{ group.content }}
                </div>
              </div>
              {% if group['Image'] %}
              <div class="highlight-image">
                <img src="{{ group['Image'] }}">
              </div>
              {% endif %}
            </a>
          {% endfor %}
        {% endif %}


        {% if page.url contains "/jobs/" %}

          <div class="group-section">
            <div id="BambooHR"><script src="https://hotosm.bamboohr.com/js/jobs2.php" type="text/javascript"></script><div id="BambooHR-Footer">Powered by<a href="http://www.bamboohr.com" target="_blank" rel="noopener external nofollow noreferrer"><img src="https://resources.bamboohr.com/images/footer-logo.png" alt="BambooHR - HR software"/></a></div></div>
          </div>
        
        {% endif %}

        {% if page.url contains "/volunteer-opportunities/" %}

          <div class="group-section">
            <h4>Current Opportunities</h4>  
            
              {% assign current_date = site.time | date: '%Y%m%d' %}
              {% assign volunteer-opportunities_sorted = site.volunteer-opportunities | sort: 'Deadline Date' %}
  
              {% for volunteer-opportunities in volunteer-opportunities_sorted %}
                {% assign volunteer-opportunities_date = volunteer-opportunities['Deadline Date'] | date: '%Y%m%d' %}
                {% if volunteer-opportunities_date >= current_date or volunteer-opportunities_date == null %}  

              <a href="{{ volunteer-opportunities.url }}" class="module light link-through">
                <div class="module-details">
                  <h3>{{ volunteer-opportunities.title }}</h3>
                  <div class="module-text">
                    <p>Location: <span>{{ volunteer-opportunities['Place of Work'] | escape }}</span></p>
                    <p>Deadline: <span>{{ volunteer-opportunities['Deadline Date'] | date: '%d %B, %Y' | default: "Until position is filled" }}</span></p>
                  </div>
                </div>
              </a>

             {% elsif forloop.last %}
            <p><em>There are no current openings. Please check back for updates or keep a watch <a href="https://twitter.com/hotosm">on Twitter</a> for updates.</em></p>
            {% endif %}
          {% endfor %}
        
        </div>

       {% endif %}


      </div>

    </div>

  </div>

</div>
