---
layout: default
---

<div class="project-index">
  <div class="impact-map-area">
    <div id="map">
      <div id="loading-map">
        <center>
          <p class="loader w40 h40 mb20 red-border"></p>
        </center>
        <span>Loading map...</span>
      </div>
      <center>
        <div id="hover-country" class="center-hover-map-area"></div>
      </center>
      <div class="our-work-map-legend">
        <div class="legend-item projects">
          <p>Projects</p>
        </div>
      </div>
    </div>

    <div class="project-index-header" id="impact-areas-select">
      <div class="container">
        <h1 class="boxed" id="our-work-title">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <div class="areas-wrapper">
    <div class="container">
      <div class="impact-area-desc">
        <span>{{ content }}</span>
      </div>
    </div>
  </div>
  <div id="impact-projects" class="container">

    <div class="hr-h"></div>

    <h6>Highlighted Projects</h6>

    <div class="project-index-highlights">

      {% assign sorted-projects = site.projects | sort:"position" %}

      {% assign highlight_count = 0 %}
      {% for project in sorted-projects %}
      {% if project['Impact Area'] contains page.title %}

      {% assign highlight_count = highlight_count | plus: 1 %}
      {% if highlight_count > 3 %}
      {% break %}
      {% endif %}

      {% include blocks/project-highlight.html %}

      {% endif %}
      {% endfor %}

    </div>

    <div class="hr-h"></div>

    <h6>More {{ page.title }} Projects</h6>

    <div class="project-index-all">
      {% assign project_count = 0 %}
      {% for project in sorted-projects %}
      {% if project['Impact Area'] contains page.title %}

      {% assign project_count = project_count | plus: 1 %}
      {% if project_count > 3 %}
      {% unless project_count < 4 %} {% include blocks/project-thumb.html %} {% endunless %} {% endif %} {% endif %} {%
        endfor %} {% assign project_foot_count=0 %} {% for project in sorted-projects %} {% if project['Impact Area']
        contains page.title %} {% assign project_foot_count=project_foot_count | plus: 1 %} {% if project_foot_count> 3
        %}

        {% break %}

        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
  </div>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
  <script src="{{ "/js/impact-areas-map.js" | prepend: site.baseurl }}"></script>

</div>