---
layout: default
---

<div class="impact-area-item">
  <div class="container">
    <h1 class="red center capital">{{ page.title }}</h1>
  </div>
  <div class="impact-area-body">
    <div class="light">
      <p class="red intro">{{ page.block-1.intro }}</p>
      <div>
        <h4 class="red bold">{{ page.block-1.sub-block.title }}</h4>
        {% assign points = page.block-1.sub-block.points %}
        {% for point in points %}
          <p class="red bold">{{ point["title"] }}</p>
          {% if point["summary"] != '' %}
            <ul>
              <li>
                {{ point["summary"] }}
                {% assign subpoints = point["subs"] %}
                {% for subpoint in subpoints %}
                  {% if subpoint["title"] != '' %}
                    <ul>
                      <li>
                        {{ subpoint["title"] }}
                        {% if subpoint["points"].length != 0 %}
                          {% assign subs = subpoint["points"] %}
                          {% for sub in subs %}
                            <ul>
                              <li>{{ sub }}</li>
                            </ul>
                          {% endfor %}
                        {% endif %}
                      </li>
                    </ul>
                  {% endif %}
                {% endfor %}
              </li>
            </ul>
          {% endif %}

          {% if point["summary"] == '' %}
            {% assign subpoints = point["subs"] %}
            {% for subpoint in subpoints %}
              {% if subpoint["title"] != '' %}
                <ul>
                  <li>
                    {{ subpoint["title"] }}
                    {% if subpoint["points"].length != 0 %}
                      {% assign subs = subpoint["points"] %}
                      {% for sub in subs %}
                        <ul>
                          <li>{{ sub }}</li>
                        </ul>
                      {% endfor %}
                    {% endif %}
                  </li>
                </ul>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {% unless page.title == "Gender Equality" %}
      <div class="dark">
        {{ content }}
      </div> 
    {% endunless %}
    <div class="light">
      <h4 class="red bold">{{ page.block-2.title }}</h4>
      {% assign points = page.block-2.points %}
      {% for point in points %}
        <ul>
          <li>{{ point }}</li>
        </ul>     
      {% endfor %}
    </div>
    <div class="dark">
      <h4>{{ page.block-3.heading }}</h4>
      <h5 class="subheading">{{ page.block-3.subheading }}</h5>
      <p>
        <span class="bold">Do you work with OSM in this area and are interested in sharing with others?</span>
        Please contact data@hotosm.org  with what you are using OSM for, what OSM and other data you are using, success stories, and any other feedback on this impact area.
      </p>
      
      {% assign sections = page.block-3.sections %}
      {% for section in sections %}
        <p class="bold">{{ section["heading"] }}</p>
        <ul>
          {% assign points = section["points"] %}
          {% for point in points %}
            <li>{{ point }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
  <div id="impact-projects" class="container">
    <div class="hr-h"></div>
    <h4>Highlighted Projects</h4>

    <div class="project-index-highlights">

      {% assign sorted-projects = site.projects | sort:"position" %}

      {% assign highlight_count = 0 %}
      {% for project in sorted-projects %}
        {% if project['Impact Area'] contains page.title %}

          {% assign highlight_count = highlight_count | plus: 1 %}
          {% if highlight_count > 3 %}
            {% break %}
          {% endif %}

          {% include blocks/project-highlight.html %}

        {% endif %}
      {% endfor %}

      <div class="hr-h"></div>
    </div>

    {% assign project_head_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains page.title %}

        {% assign project_head_count = project_head_count | plus: 1 %}
        {% if project_head_count > 3 %}

          <h4>More {{ page.title }} Projects</h4>
          
          <div class="project-index-all">

          {% break %}

        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign project_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains page.title %}

        {% assign project_count = project_count | plus: 1 %}
        {% if project_count > 3 %}
          {% unless project_count < 4 %}
            {% include blocks/project-thumb.html %}
          {% endunless %}

        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign project_foot_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains page.title %}

        {% assign project_foot_count = project_foot_count | plus: 1 %}
        {% if project_foot_count > 3 %}

          </div>

          {% break %}

        {% endif %}
      {% endif %}
    {% endfor %}

    </div>
</div>
  