---
layout: default
---

<div class="page container impact-area-item">
  <header class="page-header">
    <h1 class="red center capital">{{ page.title }}</h1>
  </header>

  <div class="impact-area-embedded">

      <h4 style="align-items: center; padding: 5% 10% 3% 10%;">{{ page['block-1']['intro2'] | markdownify }}</h4>
  </div>
  {% if page.title != "Programs" %}

  <div id="impact-projects" class="container">
    <div class="hr-h"></div>
    <h4>Highlighted Projects</h4>

    <div class="project-index-highlights">

      {% assign sorted-projects = site.projects | sort:"date" | reverse %}

      {% for project in sorted-projects %}
        {% if project['Highlight'] contains page.title %}

          {% include blocks/project-highlight.html %}

        {% endif %}
      {% endfor %}

      <div class="hr-h"></div>
    </div> 

    {% assign project_head_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains page.title %}

        {% assign project_head_count = project_head_count | plus: 1 %}
        {% if project_head_count > 3 %}

          <h4>More {{ page.title }} Projects</h4>
          
          <div class="project-index-all">

          {% break %}

        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign project_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains page.title %}

        {% assign project_count = project_count | plus: 1 %}
        {% if project_count > 0 %}
          {% unless project_count < 0 %}
            {% include blocks/project-thumb.html %}
          {% endunless %}

        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign project_foot_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains page.title %}

        {% assign project_foot_count = project_foot_count | plus: 1 %}
        {% if project_foot_count > 3 %}

          </div>

          {% break %}

        {% endif %}
      {% endif %}
    {% endfor %}

  </div>
  {% endif %}


  {% if page.title == "Programs" %}
      <div id="impact-projects" class="container">
        <div class="hr-h"></div>
        <h4>Highlighted Programs</h4>

        <div class="project-index-highlights">

          {% assign sorted_projects = site.programs | sort:"position" %}
          {% for project in sorted_projects limit:8 %}
            {% include blocks/program-highlight.html %}
          {% endfor %}

          <div class="hr-h"></div>
        </div> 

        {% assign program_head_count = 0 %}
        {% for program in sorted-programs %}
          {% if program['Impact Area'] contains page.title %}

            {% assign program_head_count = program_head_count | plus: 1 %}
            {% if program_head_count > 3 %}

              <h4>More {{ page.title }} programs</h4>
              
              <div class="project-index-all">

              {% break %}

            {% endif %}
          {% endif %}
        {% endfor %}

        {% assign program_count = 0 %}
        {% for program in sorted-programs %}
          {% if program['Impact Area'] contains page.title %}

            {% assign program_count = program_count | plus: 1 %}
            {% if program_count > 0 %}
              {% unless program_count < 0 %}
                {% include blocks/project-thumb.html %}
              {% endunless %}

            {% endif %}
          {% endif %}
        {% endfor %}

        {% assign program_foot_count = 0 %}
        {% for program in sorted-programs %}
          {% if program['Impact Area'] contains page.title %}

            {% assign program_foot_count = program_foot_count | plus: 1 %}
            {% if program_foot_count > 3 %}

              </div>

              {% break %}

            {% endif %}
          {% endif %}
        {% endfor %}

      </div>
{% endif %}



</div>
  