---
layout: default
---

<div class="project-index">
  <div class="impact-map-area">
    <div id="map">
      <center>
        <div id="hover-country" class="center-hover-map-area"></div>
      </center>
      <div class="our-work-map-legend" style="margin-top: 25px;">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect width="4" height="4" fill="#fbecec"/><polygon points="4 0 3.75 0 0 3.75 0 4 0.25 4 4 0.25 4 0" fill="#d73f3f"/><polygon points="4 3.75 3.75 4 4 4 4 3.75" fill="#d73f3f"/><polygon points="0 0 0 0.25 0.25 0 0 0" fill="#d73f3f"/></g></g></svg>
          <span class="legend-red">Projects</span>
        </div>
      </div>
    </div>

    <div class="project-index-header" id="impact-areas-select">
      <div class="container">
        <h1 class="boxed" id="our-work-title">{{ page.title }}</h1>
      </div>
    </div>
  </div>

  <div class="container impact-desc-container">
    <div class="impact-area-desc">
      <span>{{ content }}<div class="hr"></div></span>
    </div>
  </div>

  <div id="impact-projects" class="container">

    <h6>Highlighted Projects</h6>

    <div class="project-index-highlights">

      {% assign sorted-projects = site.projects | sort:"position" %}

      {% assign highlights = 4 %}

      {% for project in sorted-projects %}
        {% if project['Impact Area'] contains page.title %}
          {% if forloop.index > 3 %}
            {% break %}
          {% endif %}
          {% include blocks/project-highlight.html %}
        {% endif %}
      {% endfor %}

    </div>

    <div class="hr-h"></div>

    <h6>All {{ page.title }} Projects</h6>

    <div class="project-index-all">

      {% assign sorted-projects = site.projects | sort:"position" %}

      {% for project in sorted-projects %}
        {% if project['Impact Area'] contains page.title %}
          {% if forloop.index > 2 %}
            {% include blocks/project-thumb.html %}
          {% endif %}
        {% endif %}
      {% endfor %}

    </div>

  </div>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
  <script src="{{ "/js/impact-areas-map.js" | prepend: site.baseurl }}"></script>

</div>
