---
layout: default
---

<div class="project-index">
  <div class="impact-map-area">
    <div id="map">
        <div id="loading-map">
            <p>
              <svg id="rotate-icon" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
                <path d="M19 8l-4 4h3c0 3.31-2.69 6-6 6-1.01 0-1.97-.25-2.8-.7l-1.46 1.46C8.97 19.54 10.43 20 12 20c4.42 0 8-3.58 8-8h3l-4-4zM6 12c0-3.31 2.69-6 6-6 1.01 0 1.97.25 2.8.7l1.46-1.46C15.03 4.46 13.57 4 12 4c-4.42 0-8 3.58-8 8H1l4 4 4-4H6z"
                  style="fill:#d73f3f;fill-opacity:1"
                />
                <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
            </p>
            <span>Loading map...</span>
          </div>
      <center>
        <div id="hover-country" class="center-hover-map-area"></div>
      </center>
      <div class="our-work-map-legend">
        <div class="legend-item projects">
          <p>Projects</p>
        </div>
      </div>
    </div>

    <div class="project-index-header" id="impact-areas-select">
      <div class="container">
        <h1 class="boxed" id="our-work-title">{{ page.title }}</h1>
      </div>
    </div>
  </div>

  <div class="container impact-desc-container">
    <div class="impact-area-desc">
      <span>{{ content }}<div class="hr"></div></span>
    </div>
  </div>

  <div id="impact-projects" class="container">

    <h6>Highlighted Projects</h6>

    <div class="project-index-highlights">

      {% assign sorted-projects = site.projects | sort:"position" %}

      {% assign highlight_count = 0 %}
      {% for project in sorted-projects %}
        {% if project['Impact Area'] contains page.title %}

          {% assign highlight_count = highlight_count | plus: 1 %}
          {% if highlight_count > 3 %}
            {% break %}
          {% endif %}

          {% include blocks/project-highlight.html %}

        {% endif %}
      {% endfor %}

      <div class="hr-h"></div>

    </div>

    {% assign project_head_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains page.title %}

        {% assign project_head_count = project_head_count | plus: 1 %}
        {% if project_head_count > 3 %}

          <h6>More {{ page.title }} Projects</h6>
          <div class="project-index-all">

          {% break %}

        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign project_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains page.title %}

        {% assign project_count = project_count | plus: 1 %}
        {% if project_count > 3 %}
          {% unless project_count < 4 %}
            {% include blocks/project-thumb.html %}
          {% endunless %}

        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign project_foot_count = 0 %}
    {% for project in sorted-projects %}
      {% if project['Impact Area'] contains page.title %}

        {% assign project_foot_count = project_foot_count | plus: 1 %}
        {% if project_foot_count > 3 %}

          </div>

          {% break %}

        {% endif %}
      {% endif %}
    {% endfor %}

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
  <script src="{{ "/js/impact-areas-map.js" | prepend: site.baseurl }}"></script>

</div>
