---
layout: default
---

<article class="container news-item">
  <header class="news-header">
    <h6>News</h6>
    <h1>{{ page.title }}</h1>
  </header>

  <div class="hr-h"></div>

  <div class="news-body">
    <section class="news-article">
      {{ content }}
    </section>
    <aside class="news-meta">
      {% if page['Person'] %}
      Posted by:
      {{ page['Person'] }}
      {% endif %}
      {{ page.date }}
      {% if page['Working Group'] %}
      Working Groups:
      {{ page['Working Group'] }}
      {% endif %}
    </aside>
  </div>
</article>
