---
layout: default
---
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="tools">


  <!-- Banner -->

                <a class="home-highlight4" style="padding-bottom: 2%;">
                      <div>
                        <img src="{{ page['Block 0'].Image }}"  style="max-width: 140%; filter: brightness(70%);">
                      </div>
                    <div class="home-highlight-title2" style="bottom: 50px; left: 100px;">
                      <div class="container">
                          <header class="tools-header header-subnav" style="margin: 32px 560px 64px 0px;">
                            <h1 style="color: white; font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15;">{{ page.title }}</h1>
                            <p >{{ page['Block 0'].Text }}</p>
                          </header>
                      </div>
                    </div>
                </a>



  <!-- What is open mapping -->

      <div class="hr-h"></div> 

      

  <!-- Two blocks section -->
    
            <div class="container container-tools" >
              <h2 class="partner-subtitle" style="opacity: 0.1;"> </h2>
        
                  <div class="module-group-tools top-image" style="margin-bottom: 1px">
                      <a class="module " href="/tech-suite/tasking-manager/" id="support-programs">
                        <div class="block-screenshot-wrap" style="padding: 3%; background-color: white;">
                          <img src="{{ page['Block 1'].Image }}" style="height: 350px; width: 100%; object-fit: cover;">
                        </div>
                        <div class="module-details">
                          <h2 >{{  page['Block 1'].Header }}</h2>
                          <p>{{ page['Block 1'].Text }}</p>
                          {% for tool in page['Block 1'].Tools %}
                          <p class="module-cta" href="www.hotosm.org">{{ tool.Name }}</p>
                          {% endfor %}
                        </div>
                      </a>
                      <a class="module " href="/tech-suite/fair/" id="support-programs">
                        <div class="block-screenshot-wrap" style="padding: 3%; background-color: white;">
                          <img src="{{ page['Block 2'].Image }}" style="height: 350px; width: 100%; object-fit: cover;">
                        </div>
                        <div class="module-details">
                          <h2 >{{  page['Block 2'].Header }}</h2>
                          <p>{{ page['Block 2'].Text }}</p>
                          {% for tool in page['Block 2'].Tools %}
                          <p class="module-cta">{{ tool.Name }}</p>
                          {% endfor %}
                        </div>
                      </a>
                    
                  </div>
              </div>
            </div>


            <div class="hr-h"></div> 

            
            <div class="container container-tools" >
                  

<html>
                    <head>
                      <meta charset="UTF-8" />
                      <!-- <link href="_sass/flowbite.min.css" rel="stylesheet" /> -->
                      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                      <script src="/js/tailwindcss-js-carrousel.js"></script>
                    </head>
                    <script>
                        
                    </script>
                    <!-- <style> </style> -->
                    <body>
                       

                        <div id="accordion-collapse" data-accordion="collapse">
                          <h3 id="accordion-collapse-heading-1">
                            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
                              <span>Data Collection</span>
                              <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                              </svg>
                            </button>
                          </h3>
                          <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
                            
                            



                            <div class="md:flex">
                              <ul class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0">
                                  <li>
                                      <a href="#" class="inline-flex items-center px-4 py-3 text-white bg-blue-700 rounded-lg active w-full dark:bg-blue-600" aria-current="page">
                                          <svg class="w-4 h-4 me-2 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                              <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                                          </svg>
                                          FMTM
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#" class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
                                          <svg class="w-4 h-4 me-2 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18"><path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/></svg>
                                          ODK
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#" class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
                                          <svg class="w-4 h-4 me-2 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                              <path d="M18 7.5h-.423l-.452-1.09.3-.3a1.5 1.5 0 0 0 0-2.121L16.01 2.575a1.5 1.5 0 0 0-2.121 0l-.3.3-1.089-.452V2A1.5 1.5 0 0 0 11 .5H9A1.5 1.5 0 0 0 7.5 2v.423l-1.09.452-.3-.3a1.5 1.5 0 0 0-2.121 0L2.576 3.99a1.5 1.5 0 0 0 0 2.121l.3.3L2.423 7.5H2A1.5 1.5 0 0 0 .5 9v2A1.5 1.5 0 0 0 2 12.5h.423l.452 1.09-.3.3a1.5 1.5 0 0 0 0 2.121l1.415 1.413a1.5 1.5 0 0 0 2.121 0l.3-.3 1.09.452V18A1.5 1.5 0 0 0 9 19.5h2a1.5 1.5 0 0 0 1.5-1.5v-.423l1.09-.452.3.3a1.5 1.5 0 0 0 2.121 0l1.415-1.414a1.5 1.5 0 0 0 0-2.121l-.3-.3.452-1.09H18a1.5 1.5 0 0 0 1.5-1.5V9A1.5 1.5 0 0 0 18 7.5Zm-8 6a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7Z"/>
                                          </svg>
                                          Tasking Manager
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#" class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
                                          <svg class="w-4 h-4 me-2 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                              <path d="M7.824 5.937a1 1 0 0 0 .726-.312 2.042 2.042 0 0 1 2.835-.065 1 1 0 0 0 1.388-1.441 3.994 3.994 0 0 0-5.674.13 1 1 0 0 0 .725 1.688Z"/>
                                              <path d="M17 7A7 7 0 1 0 3 7a3 3 0 0 0-3 3v2a3 3 0 0 0 3 3h1a1 1 0 0 0 1-1V7a5 5 0 1 1 10 0v7.083A2.92 2.92 0 0 1 12.083 17H12a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h1a1.993 1.993 0 0 0 1.722-1h.361a4.92 4.92 0 0 0 4.824-4H17a3 3 0 0 0 3-3v-2a3 3 0 0 0-3-3Z"/>
                                          </svg>
                                          Qfield
                                      </a>
                                  </li>
                                  <li>
                                      <a class="inline-flex items-center px-4 py-3 text-gray-400 rounded-lg cursor-not-allowed bg-gray-50 w-full dark:bg-gray-800 dark:text-gray-500">
                                          <svg class="w-4 h-4 me-2 text-gray-400 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
                                          </svg>
                                      OMK</a>
                                  </li>
                              </ul>
                              <div class="p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full">
                                  <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">Profile Tab</h3>
                                  <p class="mb-2">This is some placeholder content the Profile tab's associated content, clicking another tab will toggle the visibility of this one for the next.</p>
                                  <p>The tab JavaScript swaps classes to control the content visibility and styling.</p> 
                              </div>
                          </div>
                          
                          



                          </div>
                          <h3 id="accordion-collapse-heading-2">
                            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
                              <span>Process Data</span>
                              <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                              </svg>
                            </button>
                          </h3>
                          <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
                            <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                              <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>
                              <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/" class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Flowbite.</p>
                            </div>
                          </div>
                          <h3 id="accordion-collapse-heading-3">
                            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
                              <span>Data Analysis</span>
                              <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                              </svg>
                            </button>
                          </h3>
                          <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
                            <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
                              <p class="mb-2 text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that Flowbite relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
                              <p class="mb-2 text-gray-500 dark:text-gray-400">However, we actually recommend using both Flowbite, Flowbite Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two worlds.</p>
                              <p class="mb-2 text-gray-500 dark:text-gray-400">Learn more about these technologies:</p>
                              <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
                                <li><a href="https://flowbite.com/pro/" class="text-blue-600 dark:text-blue-500 hover:underline">Flowbite Pro</a></li>
                                <li><a href="https://tailwindui.com/" rel="nofollow" class="text-blue-600 dark:text-blue-500 hover:underline">Tailwind UI</a></li>
                              </ul>
                            </div>
                          </div>


                          <h3 id="accordion-collapse-heading-2">
                            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
                              <span>Data Access</span>
                              <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                              </svg>
                            </button>
                          </h3>
                          <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
                            <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                              <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>
                              <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/" class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Flowbite.</p>
                            </div>
                          </div>


                          <h3 id="accordion-collapse-heading-2">
                            <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
                              <span>Data Visualization</span>
                              <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                              </svg>
                            </button>
                          </h3>
                          <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
                            <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                              <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>
                              <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/" class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Flowbite.</p>
                            </div>
                          </div>



                        </div>

                      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
                    </body>
                </html>




            </div>
<!-- Resources and learning center -->

      <div class="hr-h"></div> 

             
            <div class="module">

                  <div class="container container-tools" >

                    <div class="half-block-tools right" style="background-color: white;">
                      <div class="block-details">
                        <div class="block-info">
                          <h2 >{{  page['Block 5'].Header }}</h2>
                          <p>{{ page['Block 5'].Text }}</p>
                          </div>
                              <div class="block-options">
                                <ul>
                                  {% for tool in page['Block 5'].Tools %}
                                    <li><a class="external" href="{{ tool.URL }}" style="color: black;">{{ tool.Name }}</a></li>
                                  {% endfor %}
                                </ul>
                              </div>
                          </div>
                            <div class="" style="padding: 5%; background-color: white;">
                                <div class="block-screenshot-wrap" >
                                  <img style="display: block; height: 110%; width: 100%; object-fit: cover;" src="{{ page['Block 5'].Image }}">
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>    
                  </div>
                
             </div>

             <article class="container-body-program project-item" style="padding-top: 3%;">


              <div class="home-newsletter">
                <div class="newsletter-signup" style="padding: 12px 32px 32px;">
                  <h2>Contribute to Open Source <br>Development</h2>
                </div>
                <div class="newsletter-description">
                  
                  <a href="https://github.com/hotosm" class="btn btn-primary btn-block btn-chevron" style="font-weight: bold; font-size: 20px;"><i class="fa fa-github" style="font-size:20px; padding-left: 3%;"></i> &nbsp;&nbsp;GitHub Repository</a>
                </div>
              </div>
            
            </article>
            
<!-- Highlited tools -->
<!-- <div class="hr-h"></div> -->


             <div class="program-body" style="padding-top: 0.1px">
              <section class="article">
      

                                <div style="margin: 30px 0 0px "></div>
                                <h2 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 1rem; color: black;">Recent Updates</h2>
                                <div class="hr-h" style="margin: 10px 0 40px "></div>

                                <div class="project-index-all">
            



                                  {% assign recent_projects = site.tech-blog | concat: site.posts | sort: 'date' | reverse %}
                                  {% assign project_count = 0 %}
                                  {% for project in recent_projects %}
                                    {% if project.tags contains 'tech' %}

                                    {% unless project.title == sorted_projects[0].title or project.title == sorted_projects[1].title or project.title == sorted_projects[2].title  %}
                            
                                      {% assign project_count = project_count | plus: 1 %}
                                      {% include blocks/project-thumb.html %}
                                      
                                      {% if project_count > 2 %}
                                      
                                        {% break %}
                                        
                                      {% endif %}
                                      
                            
                                    {% endunless %}
                                    {% endif %}

                                  {% endfor %}
                            
                                </div>

                                <article class="container-body-program project-item" style="padding-top: 1%; padding-bottom: 1%;">

                                  <div class="next"><a href="/tech-blog/index.html" style="    text-align: right; font-weight: bolder; font-size: large;">Older posts →</a></div>
                              
                              </article>
                            
                                <div class="hr-h"></div>
                                     
              </section>
          </div>    



<!-- Tech blog and news -->





</div>

