---
layout: default
---

<div class="person-profile">

  <!--////////////////////////////////-->
  <!--//////// Person Header /////////-->
  <!--////////////////////////////////-->

  <header class="person-header">
    <div class="person-map-area" id="person-map-area">
      <div class="person-header-info">
        {% if page.Photo %}
          <div class="person-photo">
            <img src="{{ page.Photo }}">
          </div>
        {% endif %}
        <div class="person-indentity">
          <div class="person-name"><h1 class="boxed">{{ page.title }}</h1></div>
          <p class="person-type">
            {% if page['Member Type'] %}<span class="person-member-type">{% if page['Member Type']['Is Staff'] %}<a href="/team">Staff</a>{% endif %}{% if page['Member Type']['Is Voting Member'] %}<a href="/voting-members">Voting Member</a>{% endif %}{% if page['Member Type']['Is Board Member'] %}<a href="/board">Board</a>{% endif %}</span>{% endif %}{% if page['Job Title'] %}<span class="person-title">{{ page['Job Title'] }}</span>{% endif %}
          </p>
        </div>
      </div>
    </div>
  </header>

  <!--////////////////////////////////-->
  <!--///////// Person Body //////////-->
  <!--////////////////////////////////-->

  <div class="container">
    <div class="person-body">
      <div class="person-main">

        <div class="person-bio">
          <h6>Bio</h6>
          <div class="person-content">
            {% assign page-content = page.content | strip_newlines %}
            {% if page-content != "" %}
              {{ content }}
              {% else %}
              <p>{{ page.title }} is a HOT {% if page['Member Type']['Is Staff'] %}staff member{% elsif page['Member Type']['Is Board'] %}board member{% else %}voting member{% endif %}.</p>
            {% endif %}
          </div>
        </div>

        {% assign posts = site.posts | concat: site.tech-blog %}
        <div class="person-posts {% for post in posts %}{% if post.Person contains page.title %}present{% break %}{% endif %}{% endfor %}">
          <h6>Posts</h6>
          <div class="person-posts-list">
            {% assign checkposts = false %}
            {% for post in posts %}
              {% if post.Person contains page.title %}
              {% assign checkposts = true %}
              <div class="news-index-item">
                <div class="news-list-summary">
                  <div class="news-list-summary-text {% if post['Feature Image'] %}with-image{% endif %}">
                    <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
                    <p>
                      {% if post['Summary Text'] %}
                        {{ post['Summary Text']}}
                      {% else %}
                        {{ post.excerpt | strip_html | truncatewords:24 }}
                      {% endif %}
                    </p>
                    {% capture post.Person %}{% endcapture %}
                    <div class="news-list-meta">
                      {% assign author = site.people | where: "title", post.Person | first %}
                        <p class="news-index-author">
                          {{ post.date | date: '%e %B, %Y' }}</p>
                    </div>
                  </div>
                  {% if post['Feature Image'] %}
                    <div class="news-list-image-sm">
                      <a href="{{ post.url }}"><img class="news-feature-image" src="{{ post['Feature Image'] }}"></a>
                    </div>
                  {% endif %}
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
          {% if checkposts == false %}
            <p class="empty">No blog posts yet. <a href="/updates">View all news.</a></p>
          {% endif %}
        </div>

        <div class="person-projects">
          <h6>Project Contributions</h6>
          <div class="person-projects-list">
            {% assign checkprojects = false %}
            {% for person-project in page.Project %}
              {% for project in site.projects %}
                {% if person-project == project.title %}
                  {% include blocks/project-thumb.html %}
                  {% assign checkprojects = true %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
          {% if checkprojects == false %}
            <p class="empty">Not listed as coordinator on any projects. <a href="/our-work">View all projects.</a></p>
          {% endif %}
        </div>

      </div>
      <div class="person-sidebar meta">

        {% if page.Country %}
          {% for country in site.where-we-work %}
            {% if country.names contains page.Country %}
              <div class="meta-item meta-country">
                <img src="{{ "/images/icon-person-pin.svg" | prepend: site.baseurl }}">
                <a href="/where-we-work/{{ country.urlname }}">{{ page.Country }}</a>
              </div>
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if page['Working Group'][0] != '' %}
          <div class="meta-item">
            <h5>Working Groups</h5>
            <ul>
              {% for group in page['Working Group'] %}
                <li><a href="/working-groups">{{ group }}</a></li>
              {% endfor %}
            </ui>
          </div>
        {% endif %}

        {% if page['Social Media (Full URL)'].OSM or page['Social Media (Full URL)'].Twitter or page['Social Media (Full URL)'].LinkedIn or page['Social Media (Full URL)'].Facebook or page['Social Media (Full URL)'].Instagram or page['Social Media (Full URL)'].Website %}
          <div class="meta-item">
            <h5>On The Web</h5>
            <ul>
              {% if page['Social Media (Full URL)'].OSM %}
                <li><a href="{{ page['Social Media (Full URL)'].OSM }}">OpenStreetMap</a></li>
              {% endif %}
              {% if page['Social Media (Full URL)'].Twitter %}
                <li><a href="{{ page['Social Media (Full URL)'].Twitter }}">Twitter</a></li>
              {% endif %}
              {% if page['Social Media (Full URL)'].LinkedIn %}
                <li><a href="{{ page['Social Media (Full URL)'].LinkedIn }}">LinkedIn</a></li>
              {% endif %}
              {% if page['Social Media (Full URL)'].Facebook %}
                <li><a href="{{ page['Social Media (Full URL)'].Facebook }}">Facebook</a></li>
              {% endif %}
              {% if page['Social Media (Full URL)'].Instagram %}
                <li><a href="{{ page['Social Media (Full URL)'].Instagram }}">Instagram</a></li>
              {% endif %}
              {% if page['Social Media (Full URL)'].Website %}
                <li><a href="{{ page['Social Media (Full URL)'].Website }}">Website</a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}

      </div>
    </div>
  </div>

</div>

<script>
  var country = "{{ page.Country }}";
</script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
<script src="{{ "/js/member-map.js" | prepend: site.baseurl }}"></script>
