---
layout: default
---

<header class="page-header">
  <div class="container">
    <h1>{{ page.title }}</h1>
  </div>
</header>

<div class="container module-group">
  <a class="module link-through light" href="#">
    <div class="module-details">
      <h4>Module Header</h4>
      <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
      <p class="module-cta">Learn more</p>
    </div>
    <img class="module-image" src="https://source.unsplash.com/collection/1186428/800x600?v=1">
  </a>
  <a class="module link-through light" href="#">
    <div class="module-details">
      <h4>Module Header</h4>
      <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
      <p class="module-cta">Learn more</p>
    </div>
    <img class="module-image" src="https://source.unsplash.com/collection/1186428/800x600?v=2">
  </a>
  <a class="module link-through light" href="#">
    <div class="module-details">
      <h4>Module Header</h4>
      <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
      <p class="module-cta">Learn more</p>
    </div>
    <img class="module-image" src="https://source.unsplash.com/collection/1186428/800x600?v=3">
  </a>
</div>

<div class="container module-group two-rows">
  <a class="module link-through light-img one" href="#">
    <div class="module-details">
      <h4>Module Header</h4>
      <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
      <p class="module-cta">Learn more</p>
    </div>
    <div class="module-image">
      <img src="https://source.unsplash.com/collection/1186428/800x600?v=4">
    </div>
  </a>
  <a class="module link-through light-img two" href="#">
    <div class="module-details">
      <h4>Module Header</h4>
      <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
      <p class="module-cta"><span>Learn more</span></p>
    </div>
    <div class="module-image">
      <img src="https://source.unsplash.com/collection/1186428/800x600?v=5">
    </div>
  </a>
  <a class="module link-through light-img three" href="#">
    <div class="module-details">
      <h4>Module Header</h4>
      <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
      <p class="module-cta">Learn more</p>
    </div>
    <div class="module-image">
      <img src="https://source.unsplash.com/collection/1186428/800x600?v=6">
    </div>
  </a>
</div>


<!-- 3 -->


<div class="container">
  <div class="box-group">

    <header class="box-header">
      <h6>Box Group Header</h6>
    </header>

    <div class="box-body">

      <a class="box-item" href="#">
        <div class="module-image">
          <img src="https://source.unsplash.com/collection/1186428/800x600?v=4">
        </div>
        <div class="module-details">
          <h4>Module Header</h4>
          <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
          <p class="module-cta">Learn more</p>
        </div>
      </a>

      <div class="hr-v"></div>

      <a class="box-item" href="#">
        <div class="module-image">
          <img src="https://source.unsplash.com/collection/1186428/800x600?v=5">
        </div>
        <div class="module-details">
          <h4>Module Header</h4>
          <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
          <p class="module-cta"><span>Learn more</span></p>
        </div>
      </a>

      <div class="hr-v"></div>

      <a class="box-item" href="#">
        <div class="module-image">
          <img src="https://source.unsplash.com/collection/1186428/800x600?v=6">
        </div>
        <div class="module-details">
          <h4>Module Header</h4>
          <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
          <p class="module-cta">Learn more</p>
        </div>
      </a>

    </div>
  </div>
</div>
