---
layout: default
---

<header class="page-header">
  <div class="container">
    <h1>{{ page.title }}</h1>
  </div>
</header>

<div class="container module-group">
  <a class="module link-through light" href="#">
    <div class="module-details">
      <h3>Module Header</h3>
      <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
      <p class="module-cta">Learn more</p>
    </div>
    <img class="module-image" src="https://source.unsplash.com/collection/1186428/800x600?v=1">
  </a>
  <a class="module link-through light" href="#">
    <div class="module-details">
      <h3>Module Header</h3>
      <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
      <p class="module-cta">Learn more</p>
    </div>
    <img class="module-image" src="https://source.unsplash.com/collection/1186428/800x600?v=2">
  </a>
  <a class="module link-through light" href="#">
    <div class="module-details">
      <h3>Module Header</h3>
      <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
      <p class="module-cta">Learn more</p>
    </div>
    <img class="module-image" src="https://source.unsplash.com/collection/1186428/800x600?v=3">
  </a>
</div>


<div class="container">
  <div class="hr-h"></div>
</div>


<div class="container module-group two-rows">
  <a class="module link-through light-img one" href="#">
    <div class="module-details">
      <h3>Module Header</h3>
      <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
      <p class="module-cta">Learn more</p>
    </div>
    <div class="module-image">
      <img src="https://source.unsplash.com/collection/1186428/800x600?v=4">
    </div>
  </a>
  <a class="module link-through light-img two" href="#">
    <div class="module-details">
      <h3>Module Header</h3>
      <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
      <p class="module-cta"><span>Learn more</span></p>
    </div>
    <div class="module-image">
      <img src="https://source.unsplash.com/collection/1186428/800x600?v=5">
    </div>
  </a>
  <a class="module link-through light-img three" href="#">
    <div class="module-details">
      <h3>Module Header</h3>
      <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
      <p class="module-cta">Learn more</p>
    </div>
    <div class="module-image">
      <img src="https://source.unsplash.com/collection/1186428/800x600?v=6">
    </div>
  </a>
</div>


<div class="container">
  <div class="hr-h"></div>
</div>


<div class="container">
  <div class="highlight-module">
    <div class="highlight-details">
      <div class="highlight-info">
        <div class="highlight-hr"></div>
        <h3>Highlight Module Title</h3>
        <p>Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.</p>
      </div>
      <div class="highlight-options">
        <a href="#" class="btn btn-primary btn-lg">Sample Link</a>
      </div>
    </div>
    <div class="highlight-image">
      <img src="https://source.unsplash.com/collection/1186428/800x600?v=13">
    </div>
  </div>
</div>


<div class="container">
  <div class="hr-h"></div>
</div>


<div class="container">
  <div class="box-group">

    <header class="box-header">
      <h6>Box Group Header</h6>
    </header>

    <div class="box-body">

      <a class="box-item" href="#">
        <div class="module-image">
          <img src="https://source.unsplash.com/collection/1186428/800x600?v=7">
        </div>
        <div class="module-details">
          <h4>Module Header</h4>
          <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
          <p class="module-cta">Learn more</p>
        </div>
      </a>

      <div class="hr-v"></div>

      <a class="box-item" href="#">
        <div class="module-image">
          <img src="https://source.unsplash.com/collection/1186428/800x600?v=8">
        </div>
        <div class="module-details">
          <h4>Module Header</h4>
          <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
          <p class="module-cta"><span>Learn more</span></p>
        </div>
      </a>

      <div class="hr-v"></div>

      <a class="box-item" href="#">
        <div class="module-image">
          <img src="https://source.unsplash.com/collection/1186428/800x600?v=9">
        </div>
        <div class="module-details">
          <h4>Module Header</h4>
          <div class="module-text"><p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p></div>
          <p class="module-cta">Learn more</p>
        </div>
      </a>

    </div>
  </div>
</div>

<div class="container">
  <div class="hr-h"></div>
</div>


<!-- News preview -->


<div class="container news-preview">

  <header class="module-header">
    <h6>News Preview</h6>
  </header>

  <div class="news-preview-group">

    <div class="news-preview-item one">
      <div class="news-preview-image">
        <img src="https://source.unsplash.com/collection/1186428/800x600?v=10">
      </div>
      <div class="news-preview-details">
        <p class="news-preview-meta">Category</p>
        <div class="news-preview-text">
          <h4>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h4>
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        </div>
      </div>
    </div>

    <div class="news-preview-item two">
      <div class="news-preview-image">
        <img src="https://source.unsplash.com/collection/1186428/800x600?v=11">
      </div>
      <div class="news-preview-details">
        <p class="news-preview-meta">Category</p>
        <div class="news-preview-text">
          <h4>Etiam porta sem mollis euismod.</h4>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
      </div>
    </div>

    <div class="news-preview-item three">
      <div class="news-preview-image">
        <img src="https://source.unsplash.com/collection/1186428/800x600?v=12">
      </div>
      <div class="news-preview-details">
        <p class="news-preview-meta">Category</p>
        <div class="news-preview-text">
          <h4>Aenean lacinia bibendum nulla sed consectetur.</h4>
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="container">
  <div class="hr-h"></div>
</div>
