---
layout: default
---

<!-- ** Main banner -->
<header class="program-header" >

    
    <div class="program-header-meta promo-title-image" >
        <div class="program-promo" id="events" >
                        <!-- <div class="event-title"> -->
                        <!-- <img src="{{ page['Event Promo'].Image }}"> -->
                        
                    <!-- </div> -->
            <div class="event-info">
                <div class="event-description">
                    <h2>{{ page['Event Promo']['Event Name'] }}</h2>
                    <h4>{{ page['Event Promo'].Description }}</h4>
                </div>
                        <!-- <a href="{{ page['Event Promo'].URL }}" class="btn btn-primary btn-block btn-chevron">{{ page['Event Promo'].Button }}</a> -->

                      <div class="container-stats-program program-stats">
                                <div class="program-stat">
                                    <!-- <center><p class="loader"></p></center> -->
                                    <!-- <p class="stat-number" id="Community-Mappers"></p> -->
                                    <p class="stat-number">10M</p>
                                    <p class="stat-title">People to be Mapped<sup>&#9432;</sup>
                                        <span class="tooltiptext">Expected outcome of an area home to 10 million people mapped using <a href="https://tasks.hotosm.org/" target="_blank">HOT Tasking Manager</a> </span>
                                    </p>
                                </div>
                                <div class="hr-v"></div>
                                    <div class="program-stat">
                                        <!-- <center><p class="loader"></p></center>
                                        <p class="stat-number" id="Total-Map-Edits"></p> -->
                                        <p class="stat-number">1,000</p>
                                        <p class="stat-title">local mappers to be trained<sup>&#9432;</sup>
                                            <span class="tooltiptext">With a focus on participatory mapping</span>
                                        </p>
                                    </div>
                                            <div class="hr-v hide-sm"></div>
                                    <div class="program-stat">
                                        <!-- <center><p class="loader"></p></center>
                                        <p class="stat-number" id="Buildings-Mapped"></p> -->
                                        <p class="stat-number">20</p>
                                        <p class="stat-title">Local Orgs to engage<sup>&#9432;</sup>
                                            <span class="tooltiptext">Connecting local organizations with local stakeholders and govermnets</span>
                                        </p>
                                    </div>
                                            <div class="hr-v"></div>
                                    <div class="program-stat">
                                        <!-- <center><p class="loader"></p></center> -->
                                        <!-- <p class="stat-number" id="Roads-Mapped"></p> -->
                                        <p class="stat-number">25K</p>
                                        <p class="stat-title">Datasets to be Downloaded<sup>&#9432;</sup>
                                            <span class="tooltiptext">A goal per year that will allow to determine the interest on the data produced.</span>
                                        </p>
                                    </div>
                                </div>
                                    <div class="hr-h-program-separators"></div>
                                    <div class="hr-h-program-separators"></div>



                                <div class="block-options ">
                                    <h7>Related Projects</h7>
                                        <br>
                                        <ul>
                                    <div class="container-program ">
                                                <div class="hr-h-program "></div>
                                                <div class="hr-h-program "></div>
                                                <div class="hr-h-program "></div>

                                        {% for project in page['Block 2'].Project limit:3 %}
                                            {% comment %}
                                            {% endcomment %}
                            
                                            {% for p in site.projects %}
                                            {% if p.title == project %}
                                                {% capture pURL %} {{p.url}} {% endcapture %}
                                                {% break %}     
                                            {% endif %}
                                            {% endfor %}
                                            <li><a href="{{ pURL }}" style="color: white;">{{ project }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>

                                </div>
                        </div>

            </div>
        </div>
    </div>
    
</header>
<div class="project-body" style="background-image: url('https://cdn.hotosm.org/website/Ramani+Huria+Dar+es+Salaam+v3.jpg');"></div>


<!--** Program Intro -->

<article class="container-body-program project-item">
    <div class="program-body">
        <section class="article">
            <h2 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 4rem;">PROGRAM HIGHLIGHTS</h2>
            <p style="font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 1.5rem;">
                2024 - 2025 Cycle
            </p>

            <!--** Coverage -->
            <div class="project-header-meta">

                <p class="project-involvement" style="color: #D73F3F;">
                     Coverage
                </p>
                {% if page.Country[0] != '' %}
                <p class="project-countries">

                    {% for page-country in page.Country %} {% for country in site.where-we-work %}
                    {% if page-country == country.title %}
                    <span class="project-country"><a href="{{ country.url }}">{{ country.title }}</a></span> {% endif %}
                    {% endfor %} {% endfor %}

                </p>
                {% else %}
                <p class="project-countries">
                    <span class="project-country">Global</span>
                </p>
                {% endif %}
            </div> 

            <!--** Impact Areas -->

            <div class="project-header-meta">

                <p class="project-involvement" style="color: #D73F3F;">
                     Impact Areas
                </p>
                {% if page.impact-area [0] != '' %}
                <p class="project-countries">
                    {% for area in page['Impact Area'] %} {% for impact-area in site.impact-areas %}
                    {% if area == impact-area.title %}
                    <span class="project-country"><a href="{{ impact-area.url }}">{{ impact-area.title }}</a></span> {% endif %}
                    {% endfor %} {% endfor %}
                </p>
                {% else %}
                <p class="project-countries">
                    <span class="project-country">Global</span>
                </p>
                {% endif %}
            </div>

             <!--** Partners -->

             <div class="project-header-meta">
                    {% if page.Partner[0] != '' %}
                    <p class="project-involvement" style="color: #D73F3F;">
                        Partners
                    </p>
                    <p class="project-countries">

                            {% for page-partner in page.Partner %} 
                            {{ page-partner }} -
                            {% endfor %} 
                    </p>
                    {% else %}
                    <p class="project-countries">
                        <span class="project-country"></span>
                    </p>
                    {% endif %}
            </div> 

            <!-- ** intro Summary -->

            <div class="hr-h"></div>

            {% if page.Project-text['Project Summary Text'] %}
            <div class="pro-summary-wrap">
                <div class="project-summary">
                    <p style="color: black;">{{ page.Project-text['Project Summary Text'] }}</p>
                </div>
            </div>
            {% endif %}
           
            <!-- ** intro text -->
            <div class="pro-content-wrap">
                <div class="project-content">
                    
                    {% if page['project_extent'] != '' %}
                    {% else %} 
                    {% if page.Project-text['Introduction'] %}
                            {{ page.Project-text['Introduction'] | markdownify }}
                    {% endif %}
                    {% endif %}

                 </div>
            </div>

             <!-- ** image -->
            <div class="pro-content-wrap">
                <div class="project-content">
                    <div>
                            <img class="project-feature-image" src="{{ page.Image-leading }}">
                            <figcaption style="text-align: center; font-style: italic; font-size: smaller;">{{ page.Figcaption}}</figcaption> 
                            <br>
                    </div>
                </div>
            </div>


           
        </section>
   </div> 
</article>

<!-- second part -->

<article class="container-body-program project-item">  
    <div class="program-body">
        <section class="article" style="margin: 0px 0px 0px" > 
             <!-- ** narrative -->
                    <h2 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 2rem; color: black; margin: 0px 0 0px">{{ page.Project-text.Narrative-title }}</h2>                    
                    <br>
                    <div class="hr-h" style="margin: 0px 0 40px "></div>

                    <!-- <div class="hr-h"></div> -->
        
                    {% if page.Project-text.Narrative-introduction %}
                    <div class="pro-summary-wrap">
                        <div class="project-summary">
                            <p style="color: black;">{{ page.Project-text.Narrative-introduction }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <br>
                    <div class="pro-content-wrap">
                        <div class="project-content">
                            {% if page.Project-text.Narrative %}
                                    {{ page.Project-text.Narrative | markdownify }}
                            {% endif %}
                        </div>
                    </div>

                <!-- **Quote -->
                    <div class="container">
                        <div class="program-quote" id="events">
                            <div class="quote-title">
                                <img src="{{ page['Block 2'].Image }}" style="background-image: url(/images/dot-pattern.svg); padding: 15px;  object-fit: cover; height: 100%;">
                                <figcaption style="text-align: center; font-style: italic; font-size: smaller; padding:1%">{{ page['Block 2'].Figcaption }}</figcaption> 
                            </div>
                            <div class="quote-info" style="background-color: white;">
                                <div class="quote-description">
                                    <p style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 2rem; color: #D73F3F; margin: 40px 0 0px">{{ page.Quote }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
        </section>
    </div>
</article>


<article class="container project-item">
    <div class="program-body">
        <section class="article">
<!--** Objectives -->

    <!--** Test with inline objectives -->
            <div class="container">

                <h2 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 2rem; color: black;">Objectives</h2>
                <div class="hr-h" style="margin: 10px 0 40px "></div>

                <div class="project-index-all">

                    <div>
                        <h1><i class="fa-regular fa-map"></i> {{ page.Project-objectives.Objective1 }} </h1>
                        <h3>{{ page.Project-objectives.Objective1-highlight }}</h3>
                        <p>{{ page.Project-objectives.Objectives-title-1 }}</p>
                    </div>
                    <div>
                        <h1><i class="fa-solid fa-chart-line"></i></i> {{ page.Project-objectives.Objective2 }}</h1>
                        <h3>{{ page.Project-objectives.Objective2-highlight }}</h3>
                        <p>{{ page.Project-objectives.Objectives-title-2 }}</p>
                    </div>
                    <div>
                        <h1><i class="fa-solid fa-users-line"></i>{{ page.Project-objectives.Objective3 }}</h1>
                        <h3>{{ page.Project-objectives.Objective3-highlight }}</h3>
                        <p>{{ page.Project-objectives.Objectives-title-3 }}</p>
                    </div>
                    
                </div>




                <div style="margin: 80px 0 0px "></div>

                <h2 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 2rem; color: black;">HiGHLIGHTED Projects</h2>
                <div class="hr-h" style="margin: 10px 0 40px "></div>

                <!-- <div class="project-index-all">
            
                  {% assign recent_projects = site.projects | sort:"date" | reverse %}
                  {% assign project_count = 0 %}
                  {% for project in recent_projects %}
                    {% unless project.title == sorted_projects[0].title or project.title == sorted_projects[1].title or project.title == sorted_projects[2].title  %}
            
                      {% assign project_count = project_count | plus: 1 %}
                      {% include blocks/project-thumb.html %}
                      {% if project_count > 2 %}
                        {% break %}
                      {% endif %}
            
                    {% endunless %}
                  {% endfor %}
            
                </div> -->

                    
                <html>
                    <head>
                      <meta charset="UTF-8" />
                      <link href="_sass/flowbite.min.css" rel="stylesheet" />
                      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                      <script src="/js/tailwindcss-js-carrousel.js"></script>
                    </head>
                    <script>
                        
                    </script>
                    <!-- <style> </style> -->
                    <body>
                        <div id="indicators-carousel" class="relative w-full" data-carousel="static">
                            <!-- Carousel wrapper -->
                            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">

                                {% for project in page['Block 2'].Project limit:2 %}
                                    {% comment %}
                                    {% endcomment %}

                                {% for p in site.projects %}
                                    {% if p.title == project %}
                                        {% capture pURL %} {{p.url}} {% endcapture %}
                                        {% capture pIMAGE %} {{p['Feature Image']}} {% endcapture %}
                                        {% capture pCOUNTRY %} {{p.Country}} {% endcapture %}
                                        {% break %} 

                                {% endif %}
                                {% endfor %}

                                <a href="{{ pURL }}" style="color: white;">
                                    <div data-carousel-item="static">
                                        <img src="{{ pIMAGE }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..." style="object-fit: cover; height: 100%;">
                                        <div style="font-size: large; color: black;">
                                            <div class="project-index-all">
                                                <h3  style="position: absolute; bottom: 5%; margin-left: 6%; margin-right: 6%;background-color: whitesmoke; padding: 10px; font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 1.5rem; color: black">{{ project }} <br> {{ pCOUNTRY }}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                    {% endfor %}
                            </div>

                            <!-- Slider controls -->
                            <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 dark:group-hover:bg-red-600/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                    </svg>
                                    <span class="sr-only">Previous</span>
                                </span>
                            </button>
                            <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 dark:group-hover:bg-red-600/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                    </svg>
                                    <span class="sr-only">Next</span>
                                </span>
                            </button>
                        </div>
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
                    </body>
                </html>





                <div style="margin: 80px 0 0px "></div>

                <h2 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 1rem; color: black;">Other Projects in This Program</h2>
                <div class="hr-h" style="margin: 10px 0 40px "></div>

                <div class="project-index-all">
                        {% for project in page['Block 2'].Project offset:2 %}
                            {% comment %}{% endcomment %}

                                {% for p in site.projects %}
                                    {% if p.title == project %}
                                        {% capture pURL %} {{p.url}} {% endcapture %}
                                        {% capture pIMAGE %} {{p['Feature Image']}} {% endcapture %}
                                        {% capture pCOUNTRY %} {{p.Country}} {% endcapture %}
                                        {% break %} 

                                    {% endif %}
                                {% endfor %}

                                    <div>
                                        <div class="module-image" style="object-fit: cover; width: 100%;">
                                            <img src="{{ pIMAGE }}">
                                        </div>
                                        <a href="{{ pURL }}" style="color: white;">
                                        <h2>{{ project }}</h2>
                                        </a>
                                        <br>
                                        <h4>{{ p.title }}</h4>
                                        <p>{{ page.Project-objectives.Objectives-title-1 }}</p>
                                    </div>
                        {% endfor %}
                </div>


            </div>
        </section>
</article>

<!--** HOT's Approach -->

<div class="container">


    <div class="event-promo" id="events">
        <div class="event-title">
        <h2>HOT's Approach</h2>
        <img src="/uploads/hubs-map-dots.png" style="background-color: whitesmoke;">
        <br>
        <figcaption style="text-align: center; font-style: italic; font-size: smaller;">{{ page.Figcaption}}</figcaption> 
        </div>
        <div class="event-info">
        <div class="event-description">
            <p>{{ page.Project-text.Methodology }}</p>
        </div>
        <a href="/what-we-do" class="btn btn-primary btn-block btn-chevron">{{ page['Event Promo'].Button }}</a>
        </div>
    </div>
</div>


<!--////////////////////////////////-->
<!--///////// Project News /////////-->
<!--////////////////////////////////-->

    <!-- <div class="container">
        <section class="article" style="margin: 0px 0px 0px" > 

        <br>
        <br>
        <div class="hr-h"></div>
        <div class="project-index-impact-areas">
            <div class="impact-areas-wrapper">
            <h2 class="boxed">See more projects by impact area</h2>
            <ul class="impact-areas-list">
                {% assign sorted-impact-areas = site.impact-areas | sort: 'position' %}
                {% for impact-area in sorted-impact-areas  %}
                {% if impact-area.title == 'Disaster Response' %}
                    <li><a href="/disaster-services/project_activations.html" class="nav-link">Disaster Response</a></li>
                {% else %}
                    <li><a href="{{ impact-area.url }}" class="nav-link">{{ impact-area.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="hr-h"></div>
        </section>
    </div> -->

    <article class="container project-item">
                <div class="container">
    
                      {% include impact-areas.html %}
    
                </div>
    </article>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
<script src="https://kit.fontawesome.com/aa48057ccd.js" crossorigin="anonymous"></script>
