---
layout: default
---

<div class="project-index">

  <div class="project-map-area" >
    <div id="map">
    </div>

    <div class="project-index-header">

      <div class="container">
        <div>
          <h1 class="boxed">{{ page.title }}</h1>
          <a class="right" id="expand-map-btn" onclick="expandMap()">
            <h6 class="boxed" id="expand-map-txt">
              See where we work
            </h6>
            <h6 class="boxed hide" id="close-map-txt">
              Exit map
            </h6>
          </a>
        </div>
      </div>

      <div class="project-index-areas">
        <div class="areas-wrapper">
          <div class="container">
            <h6>Impact Areas</h6>
            {% assign sorted-impact-areas = site.impact-areas | sort: 'position' %}
            {% for impact-area in sorted-impact-areas %}
              <a href="{{ impact-area.url }}" class="btn btn-info btn-chevron">{{ impact-area.title }}</a>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>

  </div>

  <div id="our-work-projects" class="container">

    <h6>Highlighted Projects</h6>

    <div class="project-index-highlights">

      {% assign sorted_projects = site.projects | sort:"position" %}
      {% for project in sorted_projects limit:3 %}
        {% include blocks/project-highlight.html %}
      {% endfor %}

    </div>

    <div class="hr-h"></div>

    <h6>All Projects</h6>

    <div class="project-index-all">

      {% assign sorted_projects = site.projects | sort:"date" | reverse %}
      {% for project in sorted_projects %}
        {% include blocks/project-thumb.html %}
      {% endfor %}

    </div>

  </div>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
  <script src="{{ "/js/map.js" | prepend: site.baseurl }}"></script>
</div>
