---
layout: default
---

<article class="container project-item">

  <header class="project-header">
    <h1>{{ page.title }}</h1>
    <div class="project-header-meta">

      <p class="project-involvement">
        {% if page['Is Community-Led'] %}
          Community-Led
        {% else %}
          HOT Program
        {% endif %}
      </p>

      {% if page.Country[0] != '' %}
        <p class="project-countries">

          {% for page-country in page.Country %}
            {% for country in site.where-we-work %}
              {% if page-country == country.title %}
                <span class="project-country"><a href="{{ country.url }}">{{ country.title }}</a></span>
              {% endif %}
            {% endfor %}
          {% endfor %}

        </p>
        {% else %}
        <p class="project-countries">
          <span class="project-country">Global</span>
        </p>
      {% endif %}

    </div>
  </header>

  <div class="project-body">

    {% if page['Feature Image'] %}
      <img class="project-feature-image" {% if page['Is image top aligned'] %} style="object-position: top center" {% endif %} src="{{ page['Feature Image' ]}}">
    {% endif %}

    <section class="article">

      {% if page['Project Summary Text'] %}
        <div class="project-summary">
          <p>{{ page['Project Summary Text'] }}</p>
        </div>
      {% endif %}

      <div class="project-content">
        {{ content }}
      </div>

    </section>

    <aside class="meta">

      {% if page['Impact Area'][0] != '' %}
        <div class="meta-item project-impact">
          <h5>Impact Areas</h5>
          <ul>

            {% for area in page['Impact Area'] %}
              {% for impact-area in site.impact-areas %}
                {% if area == impact-area.title %}
                  <li><a href="{{ impact-area.url }}">{{ impact-area.title }}</a></li>
                {% endif %}
              {% endfor %}
            {% endfor %}

          </ui>
        </div>
      {% endif %}

      {% if page.Person[0] != '' %}
        <div class="meta-item">
          <h5>Coordination</h5>
          <ul>

            {% for coordinator in page.Person %}
              {% for person in site.people %}
                {% if coordinator == person.title %}
                  <li><a href="{{ person.url }}">{{ person.title }}</a></li>
                {% endif %}
              {% endfor %}
            {% endfor %}

          </ui>
        </div>
      {% endif %}

      {% if page.Partner[0] != '' %}
        <div class="meta-item">
          <h5>Partners</h5>
          <ul>
            {% for page-partner in page.Partner %}
              <li>{{ page-partner }}</li>
            {% endfor %}
          </ui>
        </div>
      {% endif %}

      <div class="meta-item">
        <h5>Duration</h5>
        <p>{{ page.Duration['Start Date'] | date:  "%e %b, %Y" }} – {{ page.Duration['End Date'] | date:  "%e %b, %Y" }}</p>
      </div>

    </aside>

  </div>

</article>

<!--////////////////////////////////-->
<!--///////// Project News /////////-->
<!--////////////////////////////////-->


{% for post in site.posts %}
  {% if post['Project'] contains page.title %}

  <div class="project-index project-item-news">
  <div class="container">
    <div class="project-index-news">
      <h6>Recent news from {{ page.title }} <span>(<a href="/updates">View all news</a>)</span></h6>
      <div class="project-index-news-list">

    {% break %}
  {% endif %}
{% endfor %}

{% assign news_count = 0 %}
{% assign posts_sorted = site.posts | sort:"date" | reverse %}
{% for post in posts_sorted %}
  {% if post['Project'] contains page.title %}

  {% assign news_count = news_count | plus: 1 %}
  {% if news_count == 6 %}
    {% break %}
  {% else %}

  <div class="news-index-item">
    <div class="news-list-summary">

      <div class="news-list-summary-text {% if post['Feature Image'] %}with-image{% endif %}">

        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>

        <p>{{ post['Summary Text']}}</p>
        {% capture post.Person %}{% endcapture %}
        <div class="news-list-meta">
            <p class="news-index-author">
              {% include author.html %} — {{ post.date | date:  '%e %B, %Y' }}
            </p>
        </div>
      </div>

      {% if post['Feature Image'] %}
        <div class="news-list-image-sm">
          <a href="{{ post.url }}"><img class="news-feature-image" src="{{ post['Feature Image'] }}"></a>
        </div>
      {% endif %}

    </div>
  </div>

  {% endif %}

  {% endif %}
{% endfor %}

{% for post in site.posts %}
  {% if post['Project'] contains page.title %}

        </div>
      </div>
    </div>
    </div>

    {% break %}
  {% endif %}
{% endfor %}
