---
layout: default
---

<div class="roster">
  <div class="container">

    <header class="page-header roster-header">
      <h1>{{ page.title }}</h1>
    </header>

    <div class="roster-body">

      <div class="roster-content article">
        {{ content }}
      </div>

      <div class="roster-list">
        <div class="roster-list-wrapper">

          {% assign sorted-people = site.people | sort: 'title', 'last' %}
          {% for person in sorted-people %}
            {% if page.title contains 'Voting Members' and person['Member Type']['Is Voting Member'] %}
              {% include blocks/roster-item.html %}
            {% elsif page.title contains 'Board' and person['Member Type']['Is Board Member'] %}
              {% include blocks/roster-item.html %}
            {% endif %}
          {% endfor %}

        </div>
      </div>

    </div>

  </div>
</div>
