---
layout: default
---

<div class="tools">


  <!-- Banner -->

                <a class="home-highlight3" style="padding-bottom: 2%;">

                      <video class="w-100 h-100 object-fit-cover" loop autoplay style="z-index: 0; object-fit: cover; width: 100%; height: 538px; overflow: hidden;">
                        <source src="https://cdn.hotosm.org/tasking-manager/mapping.mp4" type="video/mp4">
                      </video>
                    <div class="home-highlight-title2" style="bottom: 50px; left: 100px;">

                      <div class="container">
                          <header class="tools-header header-subnav">
                            <h1 class="boxed">{{ page.title }}</h1>
                          </header>
                      </div>
                    </div>
                </a>



  <!-- What is open mapping -->


  <div class="container container-tools" >

      <div class="half-block-tools right" style="background-color: white;">
        <div class="block-details">
          <div class="block-info">
            <h2 >{{  page['Block 999'].Header }}</h2>
            <p>{{ page['Block 999'].Text-alternate }}</p>
            </div>
                <div class="block-options">
                  <ul>
                    {% for tool in page['Block 999'].Tools %}
                      <li><a class="external" href="{{ tool.URL }}" style="color: black;">{{ tool.Name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
              <div class="" style="padding: 5%; background-color: white;">
                  <div class="block-screenshot-wrap" >
                    <img style="display: block; height: 110%; width: 100%; object-fit: cover;" src="{{ page['Block 999'].Image }}">
                  </div>
              </div>
          </div>
        </div>
      </div>    
    </div>

      <div class="hr-h"></div> 

  <!-- Two blocks section -->
    
            <div class="container container-tools" >
              <h2 class="partner-subtitle" style="opacity: 0.1;"> </h2>
        
                  <div class="module-group-tools top-image" style="margin-bottom: 1px">
                      <a class="module " href="/open-mapping-tools" id="support-programs">
                        <div class="block-screenshot-wrap" style="padding: 3%; background-color: white;">
                          <img src="{{ page['Block 1'].Image }}" style="height: 350px; width: 100%; object-fit: cover;">
                        </div>
                        <div class="module-details">
                          <h2 >{{  page['Block 1'].Header }}</h2>
                          <p>{{ page['Block 1'].Text }}</p>
                          {% for tool in page['Block 1'].Tools %}
                          <p class="module-cta" href="www.hotosm.org">{{ tool.Name }}</p>
                          {% endfor %}
                        </div>
                      </a>
                      <a class="module " href="/tech-suite" id="support-programs">
                        <div class="block-screenshot-wrap" style="padding: 3%; background-color: white;">
                          <img src="{{ page['Block 2'].Image }}" style="height: 350px; width: 100%; object-fit: cover;">
                        </div>
                        <div class="module-details">
                          <h2 >{{  page['Block 2'].Header }}</h2>
                          <p>{{ page['Block 2'].Text }}</p>
                          {% for tool2 in page['Block 2'].Tools %}
                          <p class="module-cta"  href="{{ tool2.URL }}">{{ tool2.Name }}</p>
                          {% endfor %}
                        </div>
                      </a>
                    
                  </div>
              </div>
            </div>

            
            
<!-- Resources and learning center -->

      <div class="hr-h"></div> 

             
            <div class="module">

                  <div class="container container-tools" >

                    <div class="half-block-tools right" style="background-color: white;">
                      <div class="block-details">
                        <div class="block-info">
                          <h2 >{{  page['Block 7'].Header }}</h2>
                          <p>{{ page['Block 7'].Text }}</p>
                          </div>
                              <div class="block-options">
                                <ul>
                                  {% for tool in page['Block 7'].Tools %}
                                    <li><a class="external" href="{{ tool.URL }}" style="color: black;">{{ tool.Name }}</a></li>
                                  {% endfor %}
                                </ul>
                              </div>
                          </div>
                            <div class="" style="padding: 5%; background-color: white;">
                                <div class="block-screenshot-wrap" >
                                  <img style="display: block; height: 110%; width: 100%; object-fit: cover;" src="{{ page['Block 7'].Image }}">
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>    
                  </div>




                
             </div>


<!-- Highlited tools -->
<!-- <div class="hr-h"></div> -->


             <div class="program-body" style="padding-top: 1px">
              <section class="article">
      

                                <div style="margin: 30px 0 0px "></div>
                                <h2 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15; font-size: 1rem; color: black;">Highlighted Tools</h2>
                                <div class="hr-h" style="margin: 10px 0 40px "></div>

                  <div class="project-index-all">


                          <div>
                              <a href="/_impact-areas/disaster-risk-reduction.markdown" style="color: white;">
                              <div class="module-image" >
                                  <img src="{{ page['Block 8'].Image }}" style="height: 250px; width: 100%; object-fit: cover;">
                              </div>
                              <h2 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15;">{{  page['Block 8'].Header }}</h2>  
                              </a>
                              <!-- <h3 style="margin-top: 0px; margin-bottom: 15px; color: #D73F3F;">TEST TEST</h3> -->
                              <p style="color: #68707F; line-height: 1.35; font-size: 16px;" >{{ page['Block 8'].Text }}</p>
                              <div class="block-options">
                                <ul>
                                  {% for tool in page['Block 8'].Tools %}
                                    <li><a class="external" href="{{ tool.URL }}" style="color: black;">{{ tool.Name }}</a></li>
                                  {% endfor %}
                                </ul>
                              </div>
                          </div>


                          <div>
                            <a href="/_impact-areas/disaster-risk-reduction.markdown" style="color: white;">
                              <div class="module-image" >
                                  <img src="{{ page['Block 9'].Image }}" style="height: 250px; width: 100%; object-fit: cover;">
                              </div>
                            <h2 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15;">{{  page['Block 9'].Header }}</h2>  
                              </a>
                              <!-- <h3 style="margin-top: 0px; margin-bottom: 15px; color: #D73F3F;">TEST TEST</h3> -->
                              <p style="color: #68707F; line-height: 1.35; font-size: 16px;">{{ page['Block 9'].Text }}</p>
                              <div class="block-options">
                                <ul>
                                  {% for tool in page['Block 9'].Tools %}
                                    <li><a class="external" href="{{ tool.URL }}" style="color: black;">{{ tool.Name }}</a></li>
                                  {% endfor %}
                                </ul>
                              </div>
                          </div>


                          <div>
                            <a href="/_impact-areas/disaster-risk-reduction.markdown" style="color: white;">
                            <div class="module-image" >
                                <img src="{{ page['Block 10'].Image }}" style="height: 250px; width: 100%; object-fit: cover;">
                            </div>
                            <h2 style="font-family: Barlow Condensed, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: .045em; line-height: 1.15;">{{  page['Block 10'].Header }}</h2>  
                            </a>
                            <!-- <h3 style="margin-top: 0px; margin-bottom: 15px; color: #D73F3F;">TEST TEST</h3> -->
                            <p style="color: #68707F; line-height: 1.35; font-size: 16px;">{{ page['Block 10'].Text }}</p>
                            <div class="block-options">
                              <ul>
                                {% for tool in page['Block 10'].Tools %}
                                  <li><a class="external" href="{{ tool.URL }}" style="color: black;">{{ tool.Name }}</a></li>
                                {% endfor %}
                              </ul>
                            </div>
                          </div>

                  </div>         
              </section>
          </div>    



<!-- Tech blog and news -->


    <article class="container-body-program project-item">

                <div class="hr-h"></div>

                <div class="home-newsletter">
                  <div class="newsletter-signup" style="padding: 12px 32px 32px;">
                    <h2>Tech News, blog <br>& Product Updates</h2>
                  </div>
                  <div class="newsletter-description">
                    <a href="/tech-blog/index.html" class="btn btn-primary btn-block btn-chevron">View</a>
                  </div>
                </div>

    </article>

</div>
