---
layout: default
---

<div class="what-we-do">

  <header class="container what-we-do-header">
    <h1>{{ page.title }}</h1>
    <div class="intro">
      <div class="intro-text">
        {{ content }}
      </div>
      <div class="intro-btns">
        <a href="{{ page['Primary Button'].URL }}" class="btn btn-primary btn-block btn-lg btn-chevron">{{ page['Primary Button'].Words }}</a>
        <a href="{{ page['Secondary Button'].URL }}" class="btn btn-default btn-block btn-lg btn-chevron">{{ page['Secondary Button'].Words }}</a>
      </div>
    </div>
  </header>

  <div class="highlight-blocks">
    <div class="container">

      <div class="highlight-block">
        <div class="highlight-details">
          <div class="highlight-info">
            <div class="highlight-hr"></div>
            <h3>{{ page['Block 1'].Header }}</h3>
            <p>{{ page['Block 1'].Text }}</p>
          </div>
          <div class="highlight-options">
            <h5>Projects to check out</h5>
            <ul>
              {% for project in page['Block 1'].Project %}
                <li><a href="{{ project.url }}">{{ project }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="highlight-image">
          <img src="{{ page['Block 1'].Image }}">
        </div>
      </div>

      <div class="hr-h"></div>

      <div class="highlight-block">
        <div class="highlight-details">
          <div class="highlight-info">
            <div class="highlight-hr"></div>
            <h3>{{ page['Block 2'].Header }}</h3>
            <p>{{ page['Block 2'].Text }}</p>
          </div>
          <div class="highlight-options">
            <h5>Projects to check out</h5>
            <ul>
              {% for project in page['Block 2'].Project %}
                <li><a href="{{ project.url }}">{{ project }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="highlight-image">
          <img src="{{ page['Block 2'].Image }}">
        </div>
      </div>

      <div class="hr-h"></div>

      <div class="highlight-block">
        <div class="highlight-details">
          <div class="highlight-info">
            <div class="highlight-hr"></div>
            <h3>{{ page['Block 3'].Header }}</h3>
            <p>{{ page['Block 3'].Text }}</p>
          </div>
          <div class="highlight-options">
            <h5>Projects to check out</h5>
            <ul>
              {% for project in page['Block 3'].Project %}
                <li><a href="{{ project.url }}">{{ project }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="highlight-image">
          <img src="{{ page['Block 3'].Image }}">
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    {% include impact-areas.html %}
    <div class="hr-h"></div>
  </div>

</div>
