---
layout: default
---

<div class="container what-we-do">
  
  <div class="highlight-module secondary-highlight-module">
    <div class="highlight-details">
      <div class="highlight-info">
        <div class="highlight-hr"></div>
        <h3>Secondary Highlight Module</h3>
        <p>Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.</p>
      </div>
      <div class="highlight-options">
        <a href="#" class="btn btn-primary btn-lg btn-chevron">Sample Link</a>
        <a href="#" class="btn btn-primary btn-lg btn-chevron">Sample Link</a>
        <a href="#" class="btn btn-primary btn-lg btn-chevron">Sample Link</a>
      </div>
    </div>
    <div class="highlight-image">
      <img src="https://source.unsplash.com/collection/1186428/800x600?v=13">
    </div>
  </div>

</div>
