@charset "UTF-8";
div.messages {
  position: relative;
}

.close-message {
  text-shadow: none;
  position: absolute;
  right: .4em;
  top: -.2em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}
.close-message:before {
  font-size: 1.4em;
  content: "×";
}
.close-message:hover, .close-message:focus, .close-message:active {
  color: #000;
}
